xmLegesEditorImpl/tags/xmLegesEditor_1_0_rc_2/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-1.1/norme.dtd

<!-- ===================================================================== -->
<!--     DTD dei documenti di NormeInRete (NIR)                            -->
<!--                                                                       -->
<!--     norme.dtd: elementi ed attributi con contenuto normativo          -->
<!--     Dipende da: 'nirstrict.dtd' oppure 'nirloose.dtd'                 -->
<!--                                                                       -->
<!--     Release  20/01/2004                                               -->
<!--     Fabio Vitali - UniBo e CNR-IAT                                    -->
<!--     con il contributo di                                              -->
<!--     Andrea Marchetti (CNR-IAT) - Fabrizio Megale (Camera dei deputati)-->
<!--                                                                       -->
<!--     Per un'introduzione al DTD, si veda il documento 'note.html'      -->
<!-- ===================================================================== -->


<!-- =====================================================================

		Entita': attributi comuni

		Definizione delle entita' parametriche utilizzate nel resto di
		questo modulo.  
		* data: l'attributo norm viene usato quando il testo indica una data
		  in maniera potenzialmente ambigua. In questo caso, allora, si usa 
		  l'attributo norm per fornire fuori testo il valore equivalente in 
		  forma non ambigua. Si veda la sezione 8.3 del documento note.html
		  per la sintassi dei valori di questo attributo. 
		* dove e codice: l'attributo codice viene usato per fornire un valore
		  disambiguante a parti del testo aventi un valore semanticamente
		  rilevante (luoghi, enti, ecc.). Per permettere infatti di
		  identificare un valore unico e non ambiguo a queste parti dei testi
		  senza modificarle, si sono forniti alcuni elementi (ad esempio ente,
		  soggetto, luogo, ecc.) che prevedono di inserire nell'attributo
		  codice un valore tratto da un vocabolario predefinito e non ambiguo.
		  
    ===================================================================== -->

<!ENTITY % data           "norm      CDATA   #REQUIRED" >
<!ENTITY % dove           "codice    CDATA   #REQUIRED" >
<!ENTITY % codice         "codice    CDATA   #REQUIRED" >
                   
<!-- =====================================================================

		Strutture fondamentali dei documenti normativi
		
		Il DTD Norme In Rete identifica due grandi classi di documenti: 
		
		* Il documento articolato e' quello che contiene una parte di
		  articolato propriamente detta. Nel DTD NIR quasi tutti gli elementi
		  costitutivi il documento articolato sono obbligatori: intestazione,
		  formula iniziale, articolato, formula finale, conclusione. Solo gli
		  annessi sono facoltativi.

		* Il documento semi-articolato ha un formato molto piu' libero
		  e privo di vincoli. Si usi la struttura semi-articolata per
		  tutti i documenti che non sono esplicitamente elencati tra i
		  documenti articolati. Ad esempio, si usi documentoNIR per tutti
		  gli annessi che non siano a loro volta documenti articolati. 
		  I documenti semi-articolati hanno maggiore flessibilita' al loro
		  interno, e possono contenere parti articolate cosi' come
		  immagini, tabelle, gerarchie diverse dall'articolato.

    ===================================================================== -->

<!ENTITY % docarticolato       "intestazione, 
                                formulainiziale, 
                                articolato, 
                                formulafinale, 
                                conclusione, 
                                annessi?         ">


<!ENTITY % semiarticolato      "intestazione?, 
                                formulainiziale?, 
                                (%genstruct;)?, 
                                formulafinale?, 
                                conclusione?, 
                                annessi?         ">

<!-- =====================================================================

		Elementi dell'intestazione
		
		L'intestazione contiene dichiarazioni come il tipo del documento,
		la data, il numero, il titolo, l'ente emanante. Scopo di questo 
		elemento e' di essere descrittivo dell'intestazione cosi' come 
		appare nel documento: vanno quindi rispettati del documento l'ordine
		degli elementi, gli eventuali errori di ortografia o senso, o 
		caratteristiche come l'uso delle maiuscole o i separatori (virgole, 
		punti, ecc.).

    ===================================================================== -->

<!ELEMENT intestazione (#PCDATA| tipoDoc | dataDoc | numDoc | titoloDoc | emanante)* >
<!ELEMENT tipoDoc      %inline; >
<!ELEMENT numDoc       %inline; >
<!ELEMENT titoloDoc    %inline; >
<!ELEMENT emanante     %inline; >
<!ELEMENT dataDoc      %inline; >
<!ATTLIST dataDoc      %data; >


<!-- =====================================================================

		Formula iniziale e finale
		
		Formula iniziale e finale sono gli elementi che contengono le 
		parti ritualmente poste all'inizio e alla fine delle norme. Nei
		tipi di norma in cui e' previsto, la formula iniziale contiene 
		il preambolo. Se non sono presenti nella risorsa marcata, e' 
		necessario specificarne lo status come "omissis".
		
		Ad esempio: 
		
		<formulainiziale>
			<h:p>La Camera dei deputati ed il Senato della Repubblica hanno approvato: </h:p>
			<h:p>IL PRESIDENTE DELLA REPUBBLICA<h:br/>
			     PROMULGA<h:br/>
			     la seguente legge:</h:p>
		</formulainiziale> 

		<formulafinale>
			<h:p>La presente legge, munita del sigillo dello Stato sar&agrave;
			inserita nella Raccolta ufficiale degli atti normativi della Repubblica
			italiana. &egrave; fatto obbligo a chiunque spetti di osservarla e di farla osservare
			come legge dello Stato. </h:p>
		</formulafinale> 
		

    ===================================================================== -->

<!ELEMENT formulainiziale      (%elinline;|%allblocchi;|preambolo)*>
<!ATTLIST formulainiziale      %vigenza; >
<!ELEMENT formulafinale        %ParaLevel;>
<!ATTLIST formulafinale        %vigenza; >

<!ELEMENT preambolo            (%elinline;|%allblocchi;|inlinemeta)*>

<!ELEMENT decorazione          (%elinline; | rango)* >
<!ELEMENT rango                EMPTY>
<!ATTLIST rango                
                tipo           (L | R | LR)    #REQUIRED
>

<!-- =====================================================================

		Elementi dell'articolato
		
		Gli elementi dell'articolato sono strutturati gerarchicamente a
		contenere libri, parti, titoli, capi, sezioni, paragrafi (solo nel DTD
		loose) e articoli. In questa sezione si fa riferimento esplicito alle
		entita' parametriche definite in maniera diversa nei due file
		nirloose.dtd e nirstrict.dtd, dove i content model di questi elementi
		vengono definiti esplicitamente.
		
		A tutti questi elementi DEVE essere associato un ID secondo la
		sintassi specificata nella sezione 8.2 del documento note.html.
		Inoltre PUO' essere specificato un periodo di vigenza.
		
		L'elemento num contiene il numero, gli eventuali suffissi (come bis,
		ter, etc.) e segni tipografici di divisione (come i punti, le
		parentesi, gli spazi). Questo elemento e' solo descrittivo del numero
		dell'elemento, e quindi deve rispettare esattamente la norma come
		pubblicata. In particolare, errori materiali nella numerazione vanno
		corretti negli identificatori, ma lasciati invariati nel testo.
		
		L'elemento rubrica contiene la rubrica, se presente, della partizione. 
		Se non esiste rubrica nella partizione l'elemento deve essere assente, 
		e non semplicemente vuoto. Da notare inoltre che nel DTD base l'elemento
		rubrica ha un content model molto semplice, che impedisce, ad esempio, 
		la divisione in righe del contenuto. Quindi norme che abbiano rubriche 
		divise in righe non possono essere marcati con questo DTD. 

		Mod. 011103 E' stato aggiunto un nuovo elemento generico nel solo DTD
		flessibile, chiamato partizione. Il DTD flessibile permette l'elemento
		partizione in qualunque posizione all'interno della gerarchia di parti,
		mentre il DTD completo definisce l'elemento partizione solo per
		simmetria, ma non lo permette in nessuna parte del documento.

    ===================================================================== -->

<!ELEMENT articolato           %CMcompleto; >

<!ELEMENT libro                %CMlibro; >
<!ELEMENT parte                %CMparte; >
<!ELEMENT titolo               %CMtitolo; >
<!ELEMENT capo                 %CMcapo; > 
<!ELEMENT sezione              %CMsezione; >
<!ELEMENT paragrafo            %CMparagrafo; >
<!ELEMENT partizione           %CMpartizione; >
<!ELEMENT articolo             %CMarticolo; >

<!ATTLIST articolato           %vigenza; >
<!ATTLIST libro                %globalireq; >
<!ATTLIST parte                %globalireq; >
<!ATTLIST titolo               %globalireq; >
<!ATTLIST capo                 %globalireq; >
<!ATTLIST sezione              %globalireq; >
<!ATTLIST paragrafo            %globalireq; >
<!ATTLIST partizione            %globalireq; %nome; >
<!ATTLIST articolo             %globalireq; >

<!ELEMENT rubrica              %inline; >
<!ELEMENT num                  %inline; >


<!-- =====================================================================

		Elementi sotto l'articolo
		
		L'articolo e' diviso in commi. La numerazione del comma e'
		obbligatoria per il DTD strict e facoltativa per il DTD loose. Ogni
		comma contiene un corpo o un elenco di elementi lettera. Il corpo
		contiene il testo del comma, piu' eventuali elementi inline, 
		descrittivi o tipografici.
		
		L'elenco di elementi lettera e' preceduto da un elemento alinea, dove
		un blocco di testo (senza suddivisione in capoversi) introduce
		l'elenco stesso. Ogni elemento dell'elenco e' caratterizzato da un
		elemento num che contiene il numero o la lettera dell'elemento, e da,
		a sua volta, o un corpo o un elenco di altri elementi.
		
		Mod. 011103 E' stato aggiunto un nuovo elemento interno al corpo del
		comma nel solo DTD flessibile, chiamato ep (elemento puntato), per
		indicare quegli elementi di lista che sono introdotti da pallini o
		trattini invece che da numeri o lettere. Poiche' la circolare del 2001
		non prevede questo elemento, il DTD completo definisce l'elemento ep
		solo per simmetria con gli altri DTD, ma non lo permette in nessuna
		parte del documento.
		
		Mod. 011103 E' stata rilassata la regola di contenimento di el e en nel
		solo DTD flessibile. Poiche' questo cambia la struttura dei documenti
		comuni (in particolare norme.dtd), e' stato necessario riportare le
		regole specifiche di content model di el e en dentro ai file individuali
		nirstrict.dtd e nirloose.dtd. 

		Alla fine dell'elenco e' data facolta' di inserire una coda, cioe' un
		ulteriore blocco di testo che, sebbene sconsigliata dalla circolare
		2001, e' tuttavia presente in moltissimi testi.
		
		Ad esempio (tratto dal DECRETO LEGISLATIVO 16 aprile 1994, n. 297): 

  		<comma id="art477-com2">
  			<num>2.</num>
			<alinea>Per ciascun tipo di incarico di presidenza il provveditore
				agli studi compila due distinte graduatorie:</alinea>
    		<el id="art477-com2-let1">
    			<num>a)</num>
    			<corpo>sono iscritti nella prima graduatoria...;</corpo>
    		</el>
    		<el id="art477-com2-let2">
    			<num>b)</num>
    			<corpo>sono iscritti nella seconda graduatoria ...</corpo>
    		</el>
    		<coda>La  domanda  per l'iscrizione...</coda>
    	</comma>
				
		I commi debbono avere un identificativo secondo la sintassi espressa
		nella sezione 8.2 del documento note.html. L'identificativo degli 
		elementi numerici e lettera, invece, e' facoltativo. 

    ===================================================================== -->

<!ELEMENT comma                %CMcomma; >
<!ATTLIST comma                %globalireq; >

<!ELEMENT el                  %CMel; >
<!ELEMENT en                  %CMen; >
<!ELEMENT ep                  %CMep; >

<!ATTLIST el                   %globalifac;>
<!ATTLIST en                   %globalifac;>
<!ATTLIST ep                   %globalifac;>

<!ELEMENT corpo                %ParaLevel; >
<!ELEMENT alinea               %inline; >
<!ELEMENT coda                 %inline; >

<!-- =====================================================================

		Elementi della conclusione
		
		Nella conclusione vengono riportati la data e il luogo della firma
		del documento e i firmatari. L'elemento dataeluogo prevede un
		attributo norm in cui la data della firma e' riportata in maniera
		non ambigua secondo la sintassi descritta nella sezione 8.3 del
		documento note.html. 
		
		Ad esempio: 
		
		<conclusione> 
			<dataeluogo norm="19991203"> Data a Roma, add&igrave; 3 dicembre 1999</dataeluogo> 
			<sottoscrizioni> 
				<sottoscrivente>CIAMPI</sottoscrivente> 
				<sottoscrivente>D'ALEMA, Presidente del Consiglio dei Ministri</sottoscrivente> 
				<sottoscrivente>BINDI, Ministro della sanit&agrave;</sottoscrivente> 
				<sottoscrivente>ZECCHINO, Ministro dell'universit&agrave; e della
					ricerca scientifica e tecnologica</sottoscrivente> 
				<visto>Visto, il Guardasigilli: DILIBERTO</visto> 
			</sottoscrizioni> 
		</conclusione> 

    ===================================================================== -->

<!ELEMENT conclusione         (dataeluogo?, sottoscrizioni?) >
<!ELEMENT dataeluogo           %inline; >
<!ATTLIST dataeluogo           %data; %dove; >

<!ELEMENT sottoscrizioni      (sottoscrivente*, visto) >
<!ELEMENT sottoscrivente       %ParaLevel; >
<!ELEMENT visto                %ParaLevel; >

<!-- =====================================================================

		Elementi degli annessi
		
		Nel DTD NIR gli annessi possono essere interni o esterni al documento
		ospitante. Se interni, il contenuto viene marcato come per un
		provvedimento autonomo (ovvero uno degli elementi dell'entita'
		%tipodocumento;) e posto all'interno della lista di annessi. Se
		esterni, al posto del documento viene inserito un elemento rifesterno,
		nel cui attributo xlink:href viene posto l'URN del documento annesso.
		
		Facoltativamente e' possibile fornire una lista degli annessi ed una
		testata. Ogni annesso deve inoltre essere fornito di un identificativo
		univoco, secondo la sintassi descritta nella sezione 8.2 del documento
		note.html.
		
		La testata contiene quel testo che introduce l'annesso nel documento ma 
		non ne fa logicamente parte: ad esempio, una denominazione come "Allegato A", 
		o un titolo (laddove questo non sia parte del testo allegato ma un 
		modo per il documemnto allegante di introdurre l'allegato), o eventuali
		testi introduttivi all'annesso. 
		

    ===================================================================== -->

<!ELEMENT annessi             (elencoAnnessi?, annesso+) >
<!ELEMENT elencoAnnessi        %blocchi; >
<!ELEMENT annesso             (inlinemeta?,testata?, (%tipodocumento; | rifesterno)) >
<!ATTLIST annesso              %globalireq;>

<!ELEMENT rifesterno           EMPTY >
<!ATTLIST rifesterno           %link; >

<!ELEMENT testata             (denAnnesso?, titAnnesso?, preAnnesso?) >
<!ELEMENT denAnnesso           %ParaLevel; >
<!ELEMENT titAnnesso           %ParaLevel; >
<!ELEMENT preAnnesso           %ParaLevel; >

<!-- =====================================================================

		Elementi inline e speciali con semantica rilevante
		
		Gli elementi inline sono quegli elementi che non spezzano il testo
		in capoversi indipendenti, ma sono inseriti nel flusso normale del
		testo senza divisioni verticali. 
		
		I DTD di NormeInRete prevedono non solo elementi inline con 
		caratteristiche tipografiche (come grassetto, corsivo, ecc.), come 
		specificati nel file testo.dtd, ma anche altri dotati di caratteristiche 
		semanticamente precise. 
		
		Tra questi:
		
		* rif: l'elemento rif circonda un riferimento esplicito ad un'altra
		  norma o a qualunque documento per il quale esista un URN secondo lo
		  standard relativo. L'attributo xlink:href contiene l'URN del documento
		  citato. 
		  Ad esempio, una dizione simile a 
		  
			1. Agli effetti dell'applicazione del presente decreto si applicano le
			definizioni elencate nell'articolo 1, comma 2, della legge 31 dicembre 
			1996, n. 675.

		  va resa cosi':
		  
			<comma id="art1-com1">
				<num>1.</num>
				<corpo>Agli effetti dell'applicazione del presente decreto si 
				applicano le definizioni elencate nell'
				<rif href="urn:nir:stato:legge:1996-12-31:675#art1-com2">
				articolo 1, comma 2, della legge 31 dicembre 1996, n. 675</rif>.
				</corpo>
			</comma>
	  
		* mrif: l'elemento mrif circonda tutte le parti di un riferimento multiplo, 
		  ovvero un riferimento a piu' parti della stessa norma. In questo caso, 
		  la citazione completa del documento e' condivisa da piu' riferimenti. 
		  Per questo motivo, ogni elemento rif circonda il singolo riferimento, e
		  questo assume un significato all'interno di un elemento mrif che comprenda
		  tutti i singoli riferimenti e l'indicazione del documento completo. 
		  Ad esempio, la dizione: 
		  
			4. Le disposizioni di cui all'articolo 7, commi 3, 4, 5, 5-bis, 5-ter,
			5-quater e 5-quinquies, 13, comma 1, lettera b) e 28, comma 7, della legge 31
			dicembre 1996, n. 675 sono abrogate a decorrere dalla data di entrata in
			vigore delle modifiche apportate al regolamento di cui all'articolo 33, comma
			3, della medesima legge in applicazione del comma 1 del presente articolo.
		  
		  va resa cosi':
		  
			<comma id="art3-com4">
				<num>4. </num>
				<corpo>Le disposizioni di cui all'<mrif>articolo 7, commi 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com3">3</rif>, 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com4">4</rif>, 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com5">5</rif>, 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com5bis">5-bis</rif>, 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com5ter">5-ter</rif>, 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com5quater">5-quater</rif> e 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art7-com5-quinquies">5-quinquies</rif>, 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art13-com1-let2">13, comma 1, lettera b)</rif> e 
				<rif href="urn:nir:stato:legge:1996-12-31:675#art28-com7">28, comma 7,</rif> 
				della legge 31 dicembre 1996, n. 675</mrif> sono abrogate a decorrere dalla 
				data di entrata in vigore delle modifiche apportate al regolamento di cui all'
				<rif href="urn:nir:stato:legge:1996-12-31:675#art33-com3">articolo 33, comma 3,</rif>
				della medesima legge in applicazione del 
				<rif href="urn:nir:stato:decreto.legislativo:2001-12-28:467#art3-com1">comma 1 
				del presente articolo</rif>.</corpo>
			</comma>
		  
		* mod, virgolette: l'elemento mod circonda tutte le componenti di un riferimento 
		  modificativo. Esso contiene testo qualunque, uno o piu' riferimenti, e zero o piu' 
		  indicazioni di testo esistente o da sostituire. L'elemento "virgolette" serve 
		  per identificare quelle parti della norma, solitamente tra virgolette, che 
		  specificano le parti di testo da sostituire, cancellare o aggiungere. 
		  L'attributo "tipo" permette di determinare se le virgolette contengono una 
		  struttura o soltanto alcune parole. Questo permette, ad esempio a fogli di stile, 
		  di decidere se il testo va posto su un capoverso autonomo o di seguito nel corpo
		  del comma. Ad esempio, qui sono sostituite solo alcune parole:

			<comma id="art5-com1">
				<num>1.</num>
				<corpo><mod>Nell'<rif href="urn:nir:stato:legge:1996-12-31:675#art12-com1-let2">
				articolo 12, comma 1, lettera b), della legge 31 dicembre 1996, n. 675</rif>, le parole:
				<virgolette id="mod1-vir1">per l'acquisizione di informative precontrattuali attivate</virgolette>
				sono sostituite dalle seguenti: <virgolette id="mod1-vir2">per l'esecuzione di misure 
				precontrattuali adottate</virgolette>.</mod></corpo>
			</comma>

		  e qui un intero comma: 
		  
			<comma id="art8-com2">
				<num>1.</num>
				<corpo><mod>Nell'<rif href="urn:nir:stato:legge:1996-12-31:675#art22-com4">articolo 22 
				della legge 31 dicembre 1996, n. 675, il comma 4</rif> e' sostituito dal seguente:
					<virgolette tipo="struttura" id="mod5-vir1">
						<comma id="art22-com4">
						<num>4.</num>
							<alinea>I dati personali indicati al 
							<rif href="urn:nir:stato:legge:1996-12-31:675#art22com1">comma 1</rif>
							possono essere oggetto di trattamento previa autorizzazione del Garante:</alinea>
							<el id="art8-com2-let1">
								<num>a)</num>
								<corpo>qualora il trattamento sia effettuato da associazioni, enti od
								organismi  senza  scopo di lucro, anche non riconosciuti, a carattere
								politico,  filosofico,  religioso o sindacale, ivi compresi partiti e
								movimenti   politici,  confessioni  e  comunita'  religiose,  ...
							</el>
							...
						</comma>
					</virgolette>
				</mod></corpo>
			</comma>

		* def: la definizione di un termine. Si attua con questa una prima
		  organizzazione dei contenuti utili poi per la specificazione di
		  disposizioni (previste dal modulo meta.dtd). La specifica di questo 
		  elemento e' facoltativa e a discrezione del marcatore.
		  
		* atto: ogni atto formale individuato o descritto dalla norma puo'
		  essere isolato in un apposito elemento atto. L'attributo codice
 		  permette di fornire un nome omogeneo e non ambiguo all'atto
		  individuato. La specifica di questo elemento e' facoltativa e a
		  discrezione del marcatore.
		  
		* soggetto: ogni soggetto (carica o individuo) descritto dalla
		  norma puo' essere isolato in un apposito elemento soggetto.
		  L'attributo codice permette di fornire un nome omogeneo e non ambiguo
		  al soggetto individuato. La specifica di questo elemento e'
		  facoltativa e a discrezione del marcatore.

		* ente: ogni soggetto (organizzazione o ente pubblico) descritto dalla
		  norma puo' essere isolato in un apposito elemento ente.
		  L'attributo codice permette di fornire un nome omogeneo e non ambiguo
		  all'ente individuato. La specifica di questo elemento e'
		  facoltativa e a discrezione del marcatore.

		* data: ogni data esplicitamente contenuta in una norma puo' essere
		  isolata in un apposito elemento data. L'attributo norm permette di
		  fornire un valore non ambiguo alla data stessa, secondo la
		  sintassi precisata nella sezione 8.3 del documento note.html. La
		  specifica di questo elemento e' facoltativa e a discrezione del
		  marcatore.
		  
		* luogo: ogni denominazione geografica esplicitamente contenuta in una
		  norma puo' essere isolata in un apposito elemento luogo. L'attributo
		  codice permette di fornire un valore non ambiguo al luogo individuato.
		  La specifica di questo elemento e' facoltativa e a discrezione del
		  marcatore.
		  
	Mod. 011103: Aggiunta la possibilita' di specificare id anche per elementi mrif, 
	ma solo facoltativamente. 
	
	Mod. 011103: Aggiunto anche un nuovo elemento inline con semantica rilevante chiamato 
	importo. L'elemento importo va usato ogni volta che nella norma compare un importo 
	esplicito e numerico (anche se scritto in lettere), posto ovunque: dentro all'articolato, 
	nelle rubriche, nelle tabelle, negli allegati. L'elemento importo prevede due 
	attributi, "valore" per la specifica in cifre decimali dell'importo, 
	e "valuta" per specificare la valuta utilizzata nell'espressione specifica. 
	Si intende che l'attributo valore vada utilizzato ogni volta che l'importo non e' 
	espressamente contenuto in forma numerica nella norma. Analogamente l'attributo valore
	va espressamente riportato ogni volta che l'importo e' espresso in una valuta diversa 
	dall'euro. 
	
    ===================================================================== -->

<!ELEMENT mrif                 %inline; >
<!ATTLIST mrif                 %globalifac; >

<!ELEMENT rif                  %inline; >
<!ATTLIST rif                  %link;   %globalifac; >

<!ELEMENT mod                 (%elinline;| virgolette)* >
<!ATTLIST mod                  %globalireq; >

<!ELEMENT virgolette           (%elinline; | %CMvirg;)* >
<!ATTLIST virgolette           tipo		(parola|struttura)  "parola" 
                               %globalireq; >


<!ELEMENT def                  %inline; >
<!ELEMENT atto                 %inline; >
<!ATTLIST atto                 %codice; >
<!ELEMENT soggetto             %inline; >
<!ATTLIST soggetto             %codice; >
<!ELEMENT ente                 %inline; >
<!ATTLIST ente                 %codice; >

<!ELEMENT data                 %inline; >
<!ATTLIST data                 %data; >

<!ELEMENT luogo                %inline; >
<!ATTLIST luogo                %dove; >

<!ENTITY % valute  "(EU|LIT|USD|LST)" >
<!ELEMENT importo              %inline; >
<!ATTLIST importo           
          valore      CDATA    #IMPLIED
          valuta      %valute; "EU">

<!-- ===================================================================== -->
<!--     fine del file norme.dtd                                           -->
<!-- ===================================================================== -->
