xmLegesEditor/branches/schemaSupport_1_0/xmLegesEditor/xsdData/MetaLexCEN/metalex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Alexander willem Frank Boer (EMBRACE) -->
<xsd:schema xmlns="http://www.metalex.eu/1.0" xmlns:e="http://www.metalex.eu/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.metalex.eu/1.0" elementFormDefault="qualified">
	<xsd:simpleType name="CMtype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="root"/>
			<xsd:enumeration value="hcontainer"/>
			<xsd:enumeration value="container"/>
			<xsd:enumeration value="block"/>
			<xsd:enumeration value="inline"/>
			<xsd:enumeration value="milestone"/>
			<xsd:enumeration value="mcontainer"/>
			<xsd:enumeration value="meta"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numberingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="locunq"/>
			<xsd:enumeration value="globunq"/>
			<xsd:enumeration value="locnumb"/>
			<xsd:enumeration value="globnumb"/>
			<xsd:enumeration value="locnn"/>
			<xsd:enumeration value="globnn"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attributeGroup name="nameopt">
		<xsd:attribute name="name" type="xsd:NMTOKEN"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="namereq">
		<xsd:attribute name="name" type="xsd:NMTOKEN" use="required"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typeopt">
		<xsd:attribute name="type" type="e:CMtype"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typereq">
		<xsd:attribute name="type" type="e:CMtype" use="required"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typeroot">
		<xsd:attribute name="type" type="e:CMtype" fixed="root"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typehcontainer">
		<xsd:attribute name="type" type="e:CMtype" fixed="hcontainer"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typecontainer">
		<xsd:attribute name="type" type="e:CMtype" fixed="container"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typeblock">
		<xsd:attribute name="type" type="e:CMtype" fixed="block"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typeinline">
		<xsd:attribute name="type" type="e:CMtype" fixed="inline"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typemilestone">
		<xsd:attribute name="type" type="e:CMtype" fixed="milestone"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typemcontainer">
		<xsd:attribute name="type" type="e:CMtype" fixed="mcontainer"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="typemeta">
		<xsd:attribute name="type" type="e:CMtype" fixed="meta"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="idopt">
		<xsd:attribute name="id" type="xsd:NMTOKEN"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="idreq">
		<xsd:attribute name="id" type="xsd:NMTOKEN" use="required"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="numbatt">
		<xsd:attribute name="numbering" type="e:numberingType"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="locunq">
		<xsd:attribute name="numbering" type="e:numberingType" fixed="locunq"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="globunq">
		<xsd:attribute name="numbering" type="e:numberingType" fixed="globunq"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="locnumb">
		<xsd:attribute name="numbering" type="e:numberingType" fixed="locnumb"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="globnumb">
		<xsd:attribute name="numbering" type="e:numberingType" fixed="globnumb"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="locnn">
		<xsd:attribute name="numbering" type="e:numberingType" fixed="locnn"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="globnn">
		<xsd:attribute name="numbering" type="e:numberingType" fixed="globnn"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="classatt">
		<xsd:attribute name="class" type="xsd:NMTOKEN"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="styleatt">
		<xsd:attribute name="style" type="xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="dateatt">
		<xsd:attribute name="date" type="xsd:date"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="hrefatt">
		<xsd:attribute name="href" type="xsd:anyURI" use="required"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="appliestoatt">
		<xsd:attribute name="appliesto" type="xsd:anyURI"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="valueatt">
		<xsd:attribute name="value" type="xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="showasatt">
		<xsd:attribute name="showas" type="xsd:string"/>
	</xsd:attributeGroup>
	<xsd:complexType name="urType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="xsd:anyType">
				<xsd:attributeGroup ref="e:nameopt"/>
				<xsd:attributeGroup ref="e:typeopt"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urContentType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="e:urType">
				<xsd:attributeGroup ref="e:idopt"/>
				<xsd:attributeGroup ref="e:numbatt"/>
				<xsd:attributeGroup ref="e:classatt"/>
				<xsd:attributeGroup ref="e:styleatt"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urMetaType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="e:urType">
				<xsd:attributeGroup ref="e:idopt"/>
				<xsd:attributeGroup ref="e:numbatt"/>
				<xsd:attributeGroup ref="e:hrefatt"/>
				<xsd:attributeGroup ref="e:appliestoatt"/>
				<xsd:attributeGroup ref="e:showasatt"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTcontainer" abstract="true">
		<xsd:complexContent>
			<xsd:restriction base="e:urContentType">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="e:ur-container"/>
					<xsd:element ref="e:ur-hcontainer"/>
					<xsd:element ref="e:ur-block"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:typecontainer"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urThcontainer" abstract="true">
		<xsd:complexContent>
			<xsd:restriction base="e:urContentType">
				<xsd:sequence>
					<xsd:element ref="e:ur-htitle" maxOccurs="unbounded"/>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="e:ur-hcontainer"/>
						<xsd:element ref="e:ur-container"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attributeGroup ref="e:typehcontainer"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTblock" abstract="true" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:restriction base="e:urContentType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="e:ur-inline"/>
					<xsd:element ref="e:ur-milestone"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:typeblock"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTinline" abstract="true" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:restriction base="e:urContentType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="e:ur-inline"/>
					<xsd:element ref="e:ur-milestone"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:typeinline"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTmilestone" abstract="true">
		<xsd:complexContent>
			<xsd:restriction base="e:urContentType">
				<xsd:attributeGroup ref="e:typemilestone"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTroot" abstract="true">
		<xsd:complexContent>
			<xsd:restriction base="e:urType">
				<xsd:sequence>
					<xsd:element ref="e:ur-mcontainer"/>
					<xsd:element ref="e:ur-container" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="e:typeroot"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTmcontainer" abstract="true">
		<xsd:complexContent>
			<xsd:restriction base="e:urType">
				<xsd:choice>
					<xsd:element ref="e:ur-meta" maxOccurs="unbounded"/>
					<xsd:element ref="e:ur-mcontainer" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:typemcontainer"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTmeta" abstract="true">
		<xsd:complexContent>
			<xsd:restriction base="e:urMetaType">
				<xsd:attributeGroup ref="e:typemeta"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTanchor" abstract="true" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="e:urTinline">
				<xsd:attributeGroup ref="e:hrefatt"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="urTdate" abstract="true" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="e:urTinline">
				<xsd:attributeGroup ref="e:dateatt"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ur-root" type="e:urTroot" abstract="true"/>
	<xsd:element name="ur-container" type="e:urTcontainer" abstract="true"/>
	<xsd:element name="ur-hcontainer" type="e:urThcontainer" abstract="true"/>
	<xsd:element name="ur-block" type="e:urTblock" abstract="true"/>
	<xsd:element name="ur-htitle" type="e:urTblock" abstract="true"/>
	<xsd:element name="ur-inline" type="e:urTinline" abstract="true"/>
	<xsd:element name="ur-milestone" type="e:urTmilestone" abstract="true"/>
	<xsd:element name="ur-mcontainer" type="e:urTmcontainer" abstract="true"/>
	<xsd:element name="ur-meta" type="e:urTmeta" abstract="true"/>
	<xsd:complexType name="genTroot">
		<xsd:complexContent>
			<xsd:restriction base="e:urTroot">
				<xsd:sequence>
					<xsd:element ref="e:ur-mcontainer"/>
					<xsd:element ref="e:ur-container" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genTcontainer">
		<xsd:complexContent>
			<xsd:restriction base="e:urTcontainer">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="e:ur-container"/>
					<xsd:element ref="e:ur-hcontainer"/>
					<xsd:element ref="e:ur-block"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genThcontainer">
		<xsd:complexContent>
			<xsd:restriction base="e:urThcontainer">
				<xsd:sequence>
					<xsd:element ref="e:ur-htitle" maxOccurs="unbounded"/>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element ref="e:ur-hcontainer"/>
						<xsd:element ref="e:ur-container"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genTblock" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:restriction base="e:urTblock">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="e:ur-inline"/>
					<xsd:element ref="e:ur-milestone"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genTinline" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:restriction base="e:urTinline">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="e:ur-inline"/>
					<xsd:element ref="e:ur-milestone"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genTmilestone">
		<xsd:complexContent>
			<xsd:restriction base="e:urTmilestone">
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genTmcontainer">
		<xsd:complexContent>
			<xsd:restriction base="e:urTmcontainer">
				<xsd:choice>
					<xsd:element ref="e:ur-meta" maxOccurs="unbounded"/>
					<xsd:element ref="e:ur-mcontainer" maxOccurs="unbounded"/>
				</xsd:choice>
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="genTmeta">
		<xsd:complexContent>
			<xsd:restriction base="e:urTmeta">
				<xsd:attributeGroup ref="e:namereq"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="root" type="e:genTroot" substitutionGroup="e:ur-root"/>
	<xsd:element name="container" type="e:genTcontainer" substitutionGroup="e:ur-container"/>
	<xsd:element name="hcontainer" type="e:genThcontainer" substitutionGroup="e:ur-hcontainer"/>
	<xsd:element name="block" type="e:genTblock" substitutionGroup="e:ur-block"/>
	<xsd:element name="htitle" type="e:genTblock" substitutionGroup="e:ur-htitle"/>
	<xsd:element name="inline" type="e:genTinline" substitutionGroup="e:ur-inline"/>
	<xsd:element name="milestone" type="e:genTmilestone" substitutionGroup="e:ur-milestone"/>
	<xsd:element name="mcontainer" type="e:genTmcontainer" substitutionGroup="e:ur-mcontainer"/>
	<xsd:element name="meta" type="e:genTmeta" substitutionGroup="e:ur-meta"/>
	<xsd:complexType name="Troot">
		<xsd:complexContent>
			<xsd:extension base="e:urTroot"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tcontainer">
		<xsd:complexContent>
			<xsd:extension base="e:urTcontainer"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Thcontainer">
		<xsd:complexContent>
			<xsd:extension base="e:urThcontainer"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tblock" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="e:urTblock"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tinline" mixed="true">
		<xsd:complexContent mixed="true">
			<xsd:extension base="e:urTinline"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tmilestone">
		<xsd:complexContent>
			<xsd:extension base="e:urTmilestone"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tmcontainer">
		<xsd:complexContent>
			<xsd:extension base="e:urTmcontainer"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tmeta">
		<xsd:complexContent>
			<xsd:extension base="e:urTmeta"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tanchor">
		<xsd:complexContent>
			<xsd:extension base="e:urTanchor"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tdate">
		<xsd:complexContent>
			<xsd:extension base="e:urTdate"/>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
