xmLegesEditorImpl/tags/xmLegesEditor_2_0_rc_5/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-1.0/nirflessibile.dtd

<!-- ===================================================================== -->
<!--     DTD dei documenti di NormeInRete (NIR)                            -->
<!--                                                                       -->
<!--     nirflessibile.dtd: definizioni globali del DTD flessibile                   -->
<!--     Dipende da: niente                                                -->
<!--                                                                       -->
<!-- ===================================================================== -->



<!-- =====================================================================

		Entita' tipodocumento
		
		Definizione dei 16 tipi di documento attualmente gestiti dal DTD
		di NormeInRete. Di questi, 8 sono di norme nazionali, 5 di altri
		tipi di norma, e tre sono documenti generici, ovvero da applicare
		per tutti i documenti per cui non sia previsto un tipo di documento
		specifico. Questo include, ad esempio, gli allegati ad altre
		norme oppure documenti come trattati internazionali, direttive, 
		circolari, ecc. presenti in una banca dati documentaria ma non 
		espressamente descritti da NormeInRete.  

    ===================================================================== -->

<!ENTITY % NormaNazionale  "Legge               | LeggeCostituzionale       |
                            DecretoLegge        | DecretoLegislativo        | 
                            DecretoMinisteriale | RegioDecreto              |
                            Dpr                 | Dpcm                     ">

<!ENTITY % AltreNorme      "AttoDiAuthority     | DecretoMinisterialeNN     | 
                            DprNN               | DpcmNN  |
                            LeggeRegionale " >

<!ENTITY % DocumentiGenerici "DocArticolato | DocumentoNIR | SemiArticolato">           

<!ENTITY % tipodocumento  "%NormaNazionale; | %AltreNorme; | %DocumentiGenerici; ">
                           

<!-- =====================================================================

		Entita' specifiche del documento loose
		
		Il DTD loose si differenzia dal DTD strict principalmente per la 
		maggiore liberta' nella gestione dei documenti articolati. Entrambi
		i DTD, invece, sono egualmente liberi nella descrizione dei semi-
		articolati.
		Il DTD loose non impone nessun ordine particolare agli elementi
		dell'articolato, e dunque libro, parte, titolo, capo, sezione, 
		paragrafo ed articolo si possono liberamente mescolare in qualunque
		gerarchia. 
		Ovviamente rimane invece descritta la natura dell'articolo come
		elemento fondamentale della norma (l'elemento la cui numerazione 
		e' indipendente dall'organizzazione delle gerarchia sovrastante) e
		del comma (la parte della gerarchia che va effettivamente a contenere
		il testo della norma. 
		Analogamente facoltativi sono la numerazione e la rubrica di queste 
		parti. La rubrica non e' poi prevista per i commi. 
		Per favorire ulteriormente la organizzazione della gerarchia, sono 
		previsti due ulteriori elementi non descritti nei manuali di legal 
		drafting: il paragrafo (spesso invece presente in documenti particolarmente
		complessi del passato) ed un elemento generico, il "contenitore", 
		da usare per quei casi (prevedibilmente molto rari) di una gerarchia 
		mal formata in un documento di tipo articolato. 

    ===================================================================== -->

<!ENTITY % CMcompleto  "(libro|parte|titolo|capo|sezione|paragrafo|articolo|contenitore)*">
<!ENTITY % CMlibro     "(inlinemeta?, num?, rubrica?, (      parte|titolo|capo|sezione|paragrafo|articolo|contenitore)*)">
<!ENTITY % CMparte     "(inlinemeta?, num?, rubrica?, (libro|      titolo|capo|sezione|paragrafo|articolo|contenitore)*)">
<!ENTITY % CMtitolo    "(inlinemeta?, num?, rubrica?, (libro|parte|       capo|sezione|paragrafo|articolo|contenitore)*)">
<!ENTITY % CMcapo      "(inlinemeta?, num?, rubrica?, (libro|parte|titolo|     sezione|paragrafo|articolo|contenitore)*)">
<!ENTITY % CMsezione   "(inlinemeta?, num?, rubrica?, (libro|parte|titolo|capo|        paragrafo|articolo|contenitore)*)">
<!ENTITY % CMparagrafo "(inlinemeta?, num?, rubrica?, (libro|parte|titolo|capo|sezione|          articolo|contenitore)*)">

<!ENTITY % CMarticolo  "(inlinemeta?, num?, rubrica?, decorazione?, comma*)">
<!ENTITY % CMcomma     "(inlinemeta?, num?, ((corpo | (alinea?, el*, coda?)),decorazione?))">

<!-- =====================================================================

		Entita' esterne: caratteri
		
		Definizione dei sette file di entita' caratteri per le lettere
		accentate e altri caratteri particolari. Immediatamente derivate
		dalle analoghe entita' carattere di HTML 4.0 

    ===================================================================== -->

<!ENTITY % ISOlat1 SYSTEM "./ISOlat1.pen"> %ISOlat1; 
<!ENTITY % ISOlat2 SYSTEM "./ISOlat2.pen"> %ISOlat2;
<!ENTITY % ISOgrk3 SYSTEM "./ISOgrk3.pen"> %ISOgrk3;
<!ENTITY % ISOdia  SYSTEM "./ISOdia.pen">  %ISOdia;
<!ENTITY % ISOnum  SYSTEM "./ISOnum.pen">  %ISOnum;
<!ENTITY % ISOpub  SYSTEM "./ISOpub.pen">  %ISOpub; 
<!ENTITY % ISOtech SYSTEM "./ISOtech.pen"> %ISOtech; 

<!-- =====================================================================

		Entita' esterne: DTD accessori
		
		I DTD strict e loose di NormeInRete usano quattro file accessori
		dove vengono fornite le definizioni comuni ad entrambi i DTD.
		Qui vengono definiti come entit esterne ed inclusi: 
		- globali.dtd: definizioni globali per tutti i DTD + elementi generici
		- testo.dtd: definizioni di elementi di testo e tabella
		- norme.dtd: definizioni di elementi specifici delle norme
		- meta.dtd: definizioni di elementi di meta-informazione
		
		La gestione delle metainformazioni proprietarie avviene attraverso 
		la definizione di alcune entita' il cui senso ed uso viene spiegato
		nel file meta.dtd. 

    ===================================================================== -->

<!ENTITY % NSproprietario "" >

<!ENTITY % glbDTD SYSTEM "./globali.dtd"> %glbDTD;
<!ENTITY % txtDTD SYSTEM "./testo.dtd" >  %txtDTD;
<!ENTITY % nrmDTD SYSTEM "./norme.dtd" >  %nrmDTD; 

<!ENTITY % proprietarioDTD "">    %proprietarioDTD;
<!ENTITY % ProprietarioMeta  "ANY" >
<!ENTITY % Sproprietario  "#REQUIRED" >
<!ENTITY % Rproprietario  "%strutture;" >

<!ENTITY % metaDTD SYSTEM "./meta.dtd">    %metaDTD;

<!-- =====================================================================

		Definizione dell'elemento radice

		Uso:
			<NIR tipo="originale"
				xmlns:xlink='http://www.w3.org/1999/xlink'
				xmlns:h='http://www.w3.org/HTML/1998/html4'
				xmlns='http://www.normeinrete.it/nir/1.0'>
				<Legge> 
					<meta>...</meta> 
					<intestazione>...</intestazione> 
					<formulainiziale>...</formulainiziale> 
					<articolato>...</articolato> 
					<formulafinale>...</formulafinale> 
					<conclusione>...</conclusione> 
					<annessi>...</annessi> 
				</Legge> 
			</NIR> 

		L'elemento NIR e' l'elemento radice di tutti i documenti di
		NormeInRete. L'elemento NIR puo' contenere solo uno dei nove
		tipi di documento qui elencati. Si usi DocumentoNIR solo per
		quei documenti che non sono esplicitamente elencati con il loro
		nome. 
		
		L'elemento NIR contiene la dichiarazione dei namespace come 
		indicato nell'esempio qui sopra. L'attributo tipo specifica 
		l'intervento redazionale sul documento: se il contenuto del 
		documento e' esattamente come approvato dall'organismo normante, 
		allora il documento e' "originale", e l'attributo tipo puo'
		essere omesso. Se viceversa ci sono stati interventi redazionali
		per aggiornare il contenuto del documento alla norma vigente,
		allora l'attributo tipo dovra' essere specificato con valore "vigente". 
		
    ===================================================================== -->

<!ELEMENT NIR  (%tipodocumento;) >
<!ATTLIST NIR
		tipo	(originale|vigente|multivigente)	"originale"
		%namespace;  
>

<!-- =====================================================================

		Elenco dei documenti articolati
		
		Un documento articolato e' quello che contiene una parte di
		articolato propriamente detta e ben formata secondo le regole
		espresse nella circolare del 2001. Otto dei nove tipi di 
		documento NIR sono di tipo articolato. Nel DTD base quasi tutti gli 
		elementi costitutivi il documento articolato sono obbligatori: 
		intestazione, formula iniziale, articolato, formula finale, 
		conclusione. Solo gli annessi sono facoltativi. 

    ===================================================================== -->

<!ELEMENT Legge                     (meta, %docarticolato;)  >
<!ELEMENT LeggeCostituzionale       (meta, %docarticolato;)  >
<!ELEMENT DecretoLegge              (meta, %docarticolato;)  >
<!ELEMENT DecretoLegislativo        (meta, %docarticolato;)  >
<!ELEMENT DecretoMinisteriale       (meta, %docarticolato;)  >
<!ELEMENT RegioDecreto              (meta, %docarticolato;)  >
<!ELEMENT Dpr                       (meta, %docarticolato;)  >
<!ELEMENT Dpcm                      (meta, %docarticolato;)  >

<!ELEMENT LeggeRegionale            (meta, %docarticolato;)  >
<!ELEMENT AttoDiAuthority           (meta, %semiarticolato;) >
<!ELEMENT DecretoMinisterialeNN     (meta, %semiarticolato;) >
<!ELEMENT DprNN                     (meta, %semiarticolato;) >
<!ELEMENT DpcmNN                    (meta, %semiarticolato;) >

<!ELEMENT DocArticolato             (meta, %docarticolato;)  >
<!ELEMENT DocumentoNIR              (meta, %semiarticolato;) >
<!ELEMENT SemiArticolato            (meta, %semiarticolato;) >


<!ATTLIST Legge                     %globalinorma;>
<!ATTLIST LeggeCostituzionale       %globalinorma;>
<!ATTLIST DecretoLegge              %globalinorma;>
<!ATTLIST DecretoLegislativo        %globalinorma;>
<!ATTLIST DecretoMinisteriale       %globalinorma;>
<!ATTLIST RegioDecreto              %globalinorma;>
<!ATTLIST Dpr                       %globalinorma;>
<!ATTLIST Dpcm                      %globalinorma;>

<!ATTLIST LeggeRegionale            %globalinorma;>
<!ATTLIST AttoDiAuthority           %globalinorma;>
<!ATTLIST DecretoMinisterialeNN     %globalinorma;>
<!ATTLIST DprNN                     %globalinorma;>
<!ATTLIST DpcmNN                    %globalinorma;>

<!ATTLIST DocArticolato             %globalinorma;    %nome; >
<!ATTLIST DocumentoNIR              %globalinorma;    %nome; >
<!ATTLIST SemiArticolato            %globalinorma;    %nome; >

<!-- ===================================================================== -->
<!--     fine DTD                                                          -->
<!-- ===================================================================== -->

