xmLegesCoreImpl/branches/schemaSupport_1_0/xmLegesCoreImpl/xsdData/NIR_XSD_completo/A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Param (GXS) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"; xmlns="http://www.ean-ucc.org/schemas/1.3.1/eanucc"; targetNamespace="http://www.ean-ucc.org/schemas/1.3.1/eanucc"; elementFormDefault="unqualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="B.xsd"/>
<xsd:element name="envelope" type="EnvelopeType"/>
<xsd:complexType name="EnvelopeType">
<xsd:sequence>
<xsd:element name="messageHeader" type="MessageHeaderType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
