xmLegesEditorImpl/tags/xmLegesEditor_1_0_rc_1/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-1.1/globali.dtd

<!-- ===================================================================== -->
<!--     DTD dei documenti di NormeInRete (NIR)                            -->
<!--                                                                       -->
<!--     globali.dtd: elementi ed attributi comuni o generici              -->
<!--     Dipende da: 'nircompleto.dtd' oppure 'nirflessibile.dtd'          -->
<!--                                                                       -->
<!--   Versione 1.1 del 01/11/2003                                         -->
<!--                                                                       -->
<!--   Per un'introduzione al DTD, si veda il documento 'note.html'        -->
<!-- ===================================================================== -->

<!-- =====================================================================

		Entita' principali

		Definizione delle entita' parametriche utilizzate nel resto del
		DTD. In particolare: 
		* namespace: l'elenco dei namespace usati da NormeInRete. Sono posti 
		  sempre nell'elemento NIR. 
		* link contiene gli attributi degli elementi con caratteristica
		  ipertestuale (in particolare, ref). Gli attributi sono quelli
		  richiesti dalla Raccomandazione W3C XLink
		  (http://www.w3.org/TR/xlink)
		* nome: l'attributo nome viene usato da tutti gli elementi generici
		  per fornirsi di un nome specifico. Si veda al proposito la sezione
		  sugli elementi generici.
		* vigenza contiene gli attributi che determinano l'intervallo di
  		  vigenza di un qualunque frammento di testo di norma. Questi
  		  attributi sono specificabili per tutti gli elementi del DTD NIR,
  		  sia quelli strutturali che quelli inline e descrittivi. Si noti
  		  che in questi attributi non viene indicata la data di inizio o
  		  fine vigenza, ma l'identificativo della relazione passiva che ha
  		  determinato l'inizio o fine vigenza del frammento, e che viene
  		  posta nel blocco di metainformazioni all'inizio del documento.
  		  L'attributo L'attributo status va usato quanto un frammento di
  		  documento e' assente dalla risorsa. In questo caso si usera'
  		  omissis se l'assenza e' dovuta a decisioni redazionali o abrogato
  		  se l'omissione e' dovuta ad abrogazione del legislatore ma
  		  redazionalmente si vuole comunque mantenerne una traccia. In
  		  generale i frammenti abrogati possono essere semplicemente omessi.
		* css contiene alcuni attributi che fanno riferimento alla specifica
		  CSS (Cascading Style Sheet) per la specifica di caratteristiche
		  tipografiche precise per determinati frammenti del documento, per i
		  quali la pubblicazione ufficiale ha specificato caratteristiche
		  tipografiche precise e prive di una correlazione con il significato
		  o il ruolo strutturale del frammento stesso.
		* idfac, idreq e idnorma: molti elementi richiedono un valore
 		  identificativo univoco su tutto il documento. Ad esempio, tutte le
 		  parti della gerarchia dell'articolato. A volte l'identificativo e'
 		  facoltativo, altre volte e' obbligatorio. Sulla sintassi dei valori
 		  identificativi, si veda la sezione 8.2 del documento note.html
		* globalifac, globalirec e globalinorma: raopppresentano la collezione
		  di attributi disponibili sulla maggior parte degli elementi del DTD
		  di Norme In Rete.
		  
    ===================================================================== -->
<!--
<!ENTITY % namespace "
      %NSproprietario;
      xmlns:xlink   CDATA      #FIXED 'http://www.w3.org/1999/xlink'
      xmlns:h       CDATA      #FIXED 'http://www.w3.org/HTML/1998/html4'
     
">
-->
<!ENTITY % namespace "
      %NSproprietario;
      xmlns:xlink   CDATA      #FIXED 'http://www.w3.org/1999/xlink'
      xmlns:h       CDATA      #FIXED 'http://www.w3.org/HTML/1998/html4'
      xmlns         CDATA      #FIXED 'http://www.normeinrete.it/nir/1.0'
">


<!ENTITY % link "
              xlink:type    CDATA         #FIXED       'simple'
              xlink:href    CDATA         #IMPLIED
">

<!ENTITY % nome "
              nome          CDATA         #IMPLIED 
">

<!ENTITY % vigenza "
              inizio             IDREF                  #IMPLIED
              iniziosospensione  IDREF                  #IMPLIED
              finesospensione    IDREF                  #IMPLIED
              fine               IDREF                  #IMPLIED
              status             (omissis|abrogato)     #IMPLIED
">


<!ENTITY % css  "
              h:style            CDATA         #IMPLIED
              h:class            CDATA         #IMPLIED
              xml:lang           CDATA         'it'
">

<!ENTITY % idreq "
              id                   ID            #REQUIRED
">

<!ENTITY % idfac "
              id                   ID            #IMPLIED
">

<!ENTITY % idnorma "
              id                   CDATA            #IMPLIED
">

<!ENTITY % globalireq "
                     %css;
                     %idreq;
                     %vigenza;
">

<!ENTITY % globalifac "
                     %css;
                     %idfac;
                     %vigenza;
">

<!ENTITY % globalinorma "
                     %css;
                     %idnorma;
                     %vigenza;
">

<!-- =====================================================================

		Entita': content model comuni ai vari tipi di elementi

		Il DTD Norme In Rete identifica quattro classi fondamentali di
		elementi: gli elementi vuoti (cioe' privi di content model), gli
		elementi inline (inseribili all'interno di elementi blocco), gli
		elementi blocco (che si susseguono con un ordinamento verticale, come
		appunto capoversi) e gl elementi strutturali (che identificano e
		forniscono di significato gli elementi contenuti, tipicamente elementi
		blocco).
		
		Un ulteriore classificazione degli elementi e' relativamente alla loro
		funzione: esistono elementi generici (usati per introdurre nuove
		specificazioni semantiche non previste dal DTD), elementi di testo
		(utilizzati per la specifica di caratteristiche strutturali e
		semantiche non specificamente legate ai documenti normativi, e
		costituiti per lo piu' da elementi del linguaggio HTML), ed elementi
		normativi (ovvero specifici delle strutture tipiche dei documenti
		normativi).
		
		Questi elementi vengono qui raccolti in entita' parametriche per
		generare i content model piu' comuni. Il nome di ciascuna entita'
		dovrebbe essere sufficiente indicazione dello scopo dell'entita'
		stessa.
		  
		Mod. 011103: Aggiunto un nuovo elemento inline chiamato "importo".
	
    ===================================================================== -->
<!ENTITY % liste "h:ul | h:ol | h:dl">

<!ENTITY % genvuoti      " vuoto | ndr " >
<!ENTITY % geninline     " inlinea " >
<!ENTITY % genblocchi    " blocco " >
<!ENTITY % genstruct     " contenitore | gerarchia | articolato" >

<!ENTITY % txtvuoti      " h:br   | h:hr | h:img" >
<!ENTITY % txtinline     " h:span | h:i  | h:u | h:b | h:sup | h:sub | h:a  ">
<!ENTITY % txtblocchi    " h:div  | h:p  | h:form  | h:table | %liste;" >

<!ENTITY % nrminline     "rif | mrif | mod | def | atto | 
                           soggetto | luogo | ente | data | importo" >
<!ENTITY % nrmstruct     "intestazione | formulainiziale | preambolo   | 
                          formulafinale   | conclusione | annessi  ">

<!ENTITY % allvuoti     "%genvuoti;   | %txtvuoti;                   ">
<!ENTITY % allinline    "%geninline;  | %txtinline;   | %nrminline; ">
<!ENTITY % allblocchi   "%genblocchi; | %txtblocchi;                 ">
<!ENTITY % allstruct    "%genstruct;  |                  %nrmstruct; ">

<!ENTITY % elinline         "#PCDATA | %allinline; | %allvuoti; ">

<!ENTITY % inline            "(%elinline;  )*" >
<!ENTITY % blocchi           "(%allblocchi;)+" >
<!ENTITY % strutture         "(%allstruct; )+" >
<!ENTITY % PhraseLevel       "%inline;">
<!ENTITY % ParaLevel         "(%elinline; | %allblocchi;)*" >

<!-- =====================================================================

		Nota del redattore
		
		La Nota del Redattore lega una posizione del testo della norma ad una
		nota posta nella sezione metainformazioni. Poiche' ogni nota e'
		necessariamente associata ad un identificativo univoco, l'elemento
		ndr, che a quella nota deve far riferimento, contiene questo
		identificativo. L'attributo value contiene il testo che la redazione
		vuole venga visualizzato come rimando alla nota all'interno del testo
		della norma.
		
		Mod. 011103: Il testo associato al riferimento di nota puo' da questa
		versione essere arricchito di markup, pur rimanendo sempre ed
		esclusivamente intervento redazionale (e quindi da non confondere con il
		testo della norma come stabilito dal legislatore). Quindi la nota del
		redattore puo' ora contenere testo ed elementi inline. L'attributo
		value, che nelle versioni precedenti conteneva il testo da visualizzare
		presso la nota, e' funzionalmente sostituito dal contenuto dell'elemento
		ndr e diventa deprecato (viene solo mantenuto nel DTD per compatibilita'
		con il passato). In caso di compresenza di attributo value e contenuto
		non vuoto dell'elemento ndr, si suggerisce di considerare solo il
		contenuto dell'elemento. Si aggiunge anche la possibilita' di
		identificare i riferimenti di nota e di attribuirvi specifici formati
		tipografici, come per gli altri elementi inline. Infine l'attributo num 
		diventa facoltativo poiche' irrilevante se il testo della nota e' posto
		all'interno dell'elemento ndr. 

    ===================================================================== -->

<!ELEMENT ndr       %inline;    >
<!ATTLIST ndr       %idfac;
					%css;  
					%link;
					num			IDREF		#IMPLIED
					value		CDATA		#IMPLIED
>

<!-- =====================================================================

		Elementi generici del documento semi-articolato
		
		Gli elementi generici sono elementi dalle caratteristiche semantiche e
		strutturali ben precise, ma non elencate esplicitamente tra le
		strutture del DTD NormeInRete. 

		I DTD di Norme In Rete prevedono un elemento generico per ogni tipo di
		content model: un elemento vuoto, un elemento inline, un elemento
		blocco, un elemento contenitore, una gerarchia di 9 elementi di lista
		dotati di titolo.
		
		Gli elementi generici vanno usati quando ci si trova a dover marcare
		parti del documento dotate di chiaro significato strutturale ma non
		previste al momento dall'attuale elenco di tag.
		
		A tal scopo si dovra' dunque identificare l'elemento dotato del
		content model piu' appropriato al frammento, e specificare
		nell'attributo nome un nome significativo.
				
		L'attributo nome permette di riportare il nome della struttura
		generica utilizzata. Attributi facoltativi come num e tit permettono
		di numerare e titolare esplicitamente gli elementi gerarchici.

    ===================================================================== -->

<!ELEMENT vuoto         EMPTY    >
<!ELEMENT inlinea       %inline; >
<!ELEMENT blocco        %inline; >
<!ELEMENT contenitore   (inlinemeta?, (%allblocchi;)+) >

<!ATTLIST vuoto         %globalifac;      %nome; >
<!ATTLIST inlinea       %globalifac;      %nome; >
<!ATTLIST blocco        %globalifac;      %nome; >
<!ATTLIST contenitore   %globalifac;      %nome; >

<!ELEMENT gerarchia       (inlinemeta?, (l1|l2|l3|l4|l5|l6|l7|l8|l9)+) >
<!ELEMENT l1    (num?, tit?, (%blocchi;    |l2|l3|l4|l5|l6|l7|l8|l9)+) >
<!ELEMENT l2    (num?, tit?, (%blocchi;       |l3|l4|l5|l6|l7|l8|l9)+) >
<!ELEMENT l3    (num?, tit?, (%blocchi;          |l4|l5|l6|l7|l8|l9)+) >
<!ELEMENT l4    (num?, tit?, (%blocchi;             |l5|l6|l7|l8|l9)+) >
<!ELEMENT l5    (num?, tit?, (%blocchi;                |l6|l7|l8|l9)+) >
<!ELEMENT l6    (num?, tit?, (%blocchi;                   |l7|l8|l9)+) >
<!ELEMENT l7    (num?, tit?, (%blocchi;                      |l8|l9)+) >
<!ELEMENT l8    (num?, tit?, (%blocchi;                         |l9)+) >
<!ELEMENT l9    (num?, tit?, (%blocchi;                            )+) >

<!ELEMENT tit	%inline; >
<!ATTLIST tit	%globalifac; >

<!ATTLIST gerarchia    %globalireq;    %nome; >
<!ATTLIST l1           %globalireq;    %nome; >
<!ATTLIST l2           %globalireq;    %nome; >
<!ATTLIST l3           %globalireq;    %nome; >
<!ATTLIST l4           %globalireq;    %nome; >
<!ATTLIST l5           %globalireq;    %nome; >
<!ATTLIST l6           %globalireq;    %nome; >
<!ATTLIST l7           %globalireq;    %nome; >
<!ATTLIST l8           %globalireq;    %nome; >
<!ATTLIST l9           %globalireq;    %nome; >

<!-- ===================================================================== -->
<!--     fine del file globali.dtd                                         -->
<!-- ===================================================================== -->



