xmLegesEditorImpl/tags/xmLegesEditor_1_0_rc_1/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-1.1/meta.dtd

<!-- ===================================================================== -->
<!--   DTD dei documenti di NormeInRete (NIR)                              -->
<!--                                                                       -->
<!--   meta.dtd: metainformazioni sui documenti di NIR                     -->
<!--   Dipende da: 'nircompleto.dtd' oppure 'nirflessibile.dtd'            -->
<!--                                                                       -->
<!--   Versione 1.1 del 01/11/2003                                         -->
<!--                                                                       -->
<!--   Per un'introduzione al DTD, si veda il documento 'note.html'        -->
<!-- ===================================================================== -->


<!-- =====================================================================

		Definizione di elementi di metainformazione
		
		Le metainformazioni sono dati e specifiche extra-testuali, inserite
		redazionalmente, che permettono di descrivere il documento ma 
		non fanno parte del suo contenuto in senso stretto. Sono cioe' poste, 
		nel caso di documenti di norme, dal redattore e/o marcatore, e non dal
		legislatore. 
		
		I DTD di NormeInRete forniscono due elementi attraverso i quali inserire 
		metainformazioni su un documento di norme: meta ed inlinemeta.
		* meta e' posto all'inizio del documento e costituisce la posizione
		  privilegiata per tutte le informazioni che riguardano il documento
		  nella sua interezza. Qui sono poste, tra le altre, metainformazioni
		  sulla pubblicazione del documento e sulle relazioni con altre norme,
		  o la trascrizione dei testi dei lavori preparatori alla sua
		  approvazione.
		* metainline, invece, puo' essere posta, a discrezione del marcatore,
		  vicino a tutti gli elementi strutturali del documento marcato.
		  Attraverso metainline, dunque, e' possibile specificare
		  metainformazioni vicino al frammento di documento a cui la
		  metainformazione fa riferimento.
		
		I DTD di NormeInRete specificano una grande quantita' di elementi 
		attraverso i quali inserire metainformazioni sul documento. Questi si 
		dividono in cinque grandi categorie: 
		
		* elementi descrittori: sono informazioni sul documento inteso nella sua
		globalita', soprattutto riferite alla o alle pubblicazioni, alla storia 
		di vigenze e modifiche sul contenuto della norma, a parole chiave che possano
		aiutare nella ricerca su computer. 
		
		* lavori preparatori: un contenitore della descrizione testuale dei lavori 
		di approvazione, presso l'organismo emanante, a cui il provvedimento e'
		stato assoggettato. 
		
		* redazionale: informazioni, note del redattore, avvertenze a ogni altra informazione
		testuale, fatta per essere letta contestualmente alla norma, che il redattore
		vuole fornire e che non fa strettamente parte del contenuto del provvedimento. 
		
		* proprietario: un blocco di informazioni la cui natura, significato ed organizzazione 
		interna vengono decisi dal marcatore per i fini propri della banca dati di cui
		il provvedimento fa parte. 
		
		* disposizioni: un blocco per la specifica delle disposizioni, ovvero l'identificazione
		delle strutture funzionali che costituiscono l'ossatura semantica del provvedimento, 
		diversa e a volte in palese contrasto con la struttura formale ed evidente del documento. 		
		
    ===================================================================== -->

<!ELEMENT meta                (descrittori,
                               lavoripreparatori?,
                               redazionale?,
                               proprietario*,
                               disposizioni?)>

<!ELEMENT inlinemeta          (redazionale?, 
                               proprietario*,
                               disposizioni?)>
                            
<!-- =====================================================================
		Elementi lavoripreparatori e redazionali
		
		I lavori preparatori sono la descrizione in forma testuale dei
		passaggi formali a cui il documento e' stato sottoposto per arrivare
		alla forma pubblicata. Tipicamente dovrebbero essere forniti insieme
		al testo definitivo dall'ente emanante. L'uso di questo elemento e'
		ovviamente facoltativo, dovendo dipendere dalla disponibilita' di
		queste informazioni.
		
		Gli elementi redazionali sono testi aggiunti dalla redazione come 
		valore aggiunto al testo del provvedimento. Essi contengono note
		(ovvero testi esplicitamente referenziati da elementi ndr all'interno
		del testo), avvertenze (testi sulla norma non esplicitamente 
		referenziati dal testo) o altri testi di natura libera. Inoltre e'
		possibile, per scelta del redattore, fornire ulteriori tipi di elementi
		da porre in questo blocco. 
		
		Ciascuno di questi elementi puo' contenere blocchi di testo in forma 
		qualunque.  
		
		Mod. 011103: Aggiunta la possibilita' di specificare stili e effetti di
		presentazione agli elementi del redazionale. 
		
    ===================================================================== -->

<!ELEMENT lavoripreparatori    %blocchi; >

<!ELEMENT redazionale         (nota | avvertenza | altro | %Rproprietario;)+ >
<!ELEMENT nota                 %blocchi; >
<!ATTLIST nota				   %idreq; %css;>
<!ELEMENT avvertenza           %blocchi; >
<!ATTLIST avvertenza		   %idreq; %css;>
<!ELEMENT altro                %blocchi;>
<!ATTLIST altro				   %idreq; %css;>

<!-- =====================================================================
		Elementi proprietari
		
		Il marcatore, per le esigenze proprie della banca dati di cui il 
		provvedimento fa parte, puo' a sua discrezione fornire elementi
		ulteriori e diversi con cui aggiungere informazioni sul documento 
		non previste da NormeInRete. 
		
		Questi elementi aggiuntivi sono concentrati in due blocchi: nel blocco
		redazionale e' possibile aggiunghere ulteriori elementi oltre a note,
		avvertenze e altri testi generici. 
		
		Nel blocco proprietario e' possibile invece fornire strutture di
		complessita' arbitrarie per lo svolgimento di funzionalita' particolari
		e specifiche della banca dati ospitante. 
		
		La definizione di elementi proprietari passa attraverso l'identificazione
		di un namespace proprio (entita' %NSproprietario;) a cui attribuire tutti
		i nuovi elementi, di un content model specifico per il blocco proprietario
		(entita' %ProprietarioMeta;), e la definizione di tutti i nuovi elementi
		in un file che viene incluso da nirstrict o nirloose e il cui nome e' 
		specificato dall'entita' %proprietarioDTD;. 
		
    ===================================================================== -->

<!ELEMENT proprietario		   %ProprietarioMeta; >
<!ATTLIST proprietario
				%NSproprietario;
				soggetto		CDATA   %Sproprietario;
>

<!-- =====================================================================

		Elementi descrittori
		
		Gli elementi descrittori permettono di specificare le seguenti informazioni:
		
		* pubblicazione: le specifiche della pubblicazione originale, ed in
		  particolare il tipo di pubblicazione, il numero e la data di pubblicazione. 
		  L'elemento pubblicazione e' obbligatorio. 
		  
		* altrepubblicazioni: un elemento facoltativo che permette di raccogliere
		  informazioni su altre pubblicazioni successive, come la ripubblicazione, 
		  la pubblicazione di errata o di rettifiche. Questi elementi sono 
		  sintatticamente simili all'elemento pubblicazione. Dentro all'elemento
		  altrepubblicazioni puo' anche essere specificato il produttore, ovvero
		  informazioni sulla redazione responsabile del documento che viene marcato. 
		  Di se', il produttore deve fornire un nome ed un url (facoltativo) ad una 
		  home page o ad un'altra risorsa Web che fornisca informazioni su di esso. 
		* urn: uno o piu' URN secondo la sintassi dello standard URN, con cui il 
		  documento dovrebbe essere noto. 
		  
		* alias: altri nomi comuni con cui il documento e' familiarmente chiamato. 
		  Ad esempio: codice civile, legge sulla privacy, legge Tremonti bis, ecc. 

		* vigenza: vengono qui specificati i periodi di vigenza del documento.
		  Questo sara' unico per i documenti monovigenti (tipo="originale" o
		  tipo="vigente"), e multiplo per i documenti multi-vigenti.
		  L'attributo id deve essere posto al valore "v1", "v2", ecc., come
		  indicato nella sezione 8.2 di note.html. Gli attributi inizio e fine
		  riportano, nella sintassi prevista nella sezione 8.3 del documento
		  note.html, la data di inizio e, se appropriato, fine della vigenza
		  di ogni periodo. L'attributo fonte riporta l'id dell'elemento
		  relazione che conclude ciascuna vigenza. Per ogni periodo di vigenza
		  gia' concluso deve esistere un elemento 'passiva' con l'indicazione
		  del provvedimento che ne conclude la vigenza.
		  Si danno allora i seguenti casi: 
		  - il provvedimento e' originale e ancora vigente (cioe' esattamente conforme
		    alla sua pubblicazione originaria sulla Gazzetta Ufficiale). In questo caso 
		    l'attributo tipo dell'elemento NIR vale "originale" (o e' omesso in quanto 
		    default), l'elemento pubblicazione riporta la data di pubblicazione in Gazzetta 
		    Ufficiale e l'elemento vigenza riporta la data di inizio vigenza (come calcolata
		    sulla base della data della Gazzetta Ufficiale). Non esiste data di fine vigenza
		    in quanto il provvedimento e' ancora vigente. Non esiste specificazione della
		    fonte in quanto il provvedimento deriva la sua vigenza dalla pubblicazione 
		    originaria sulla Gazzetta Ufficiale. Nel caso seguente, il DPR 466 dell'11 dicembre 2001
		    e' ancora vigente nella sua forma di prima approvazione: 
		    
			<NIR tipo="originale"
				 xmlns:xlink='http://www.w3.org/1999/xlink'
				 xmlns:h='http://www.w3.org/HTML/1998/html4'
				 xmlns='http://www.normeinrete.it/nir/1.0'>
				<Dpr>
					<meta>
						<descrittori>
							<pubblicazione tipo="GU" num="10" norm="20020112"/>
							<urn>urn:nir:presidente.repubblica:decreto:2002-01-12;466</urn>
							<vigenza id="v1" inizio="20020127"/>
						</descrittori>
					</meta>
					<intestazione>
						<tipoDoc>DECRETO DEL PRESIDENTE DELLA REPUBBLICA</tipoDoc>
						<dataDoc norm="20011211">11 dicembre 2001</dataDoc>, 
						<numDoc>n. 466</numDoc>.
						<titoloDoc>Regolamento   recante   modifiche  ed  integrazioni  al
						<rif xlink:href="urn:nir:presidente.repubblica:decreto:2001-03-01;126">decreto 
						del Presidente  della  Repubblica  1  marzo  2001,  n. 126,</rif>
						in materia di versamento   del   contributo  unificato  per  le 
						spese  degli  atti giudiziari.</titoloDoc>
					</intestazione> 
					 ...
				</Dpr>
			 </NIR>

		  - il provvedimento e' originale ma non piu' vigente (cioe' esiste vigente un
		    provvedimento successivo, tale per cui la lettera di questo provvedimento non e'
		    aggiornata. E' irrilevante qui che cio' sia dovuto ad abrogazione o modifica). In 
		    questo caso l'attributo tipo dell'elemento NIR vale "originale" (o e' omesso in quanto 
		    default), l'elemento pubblicazione riporta la data di pubblicazione in Gazzetta 
		    Ufficiale e l'elemento vigenza riporta la data di inizio vigenza (come calcolata
		    sulla base della data della Gazzetta Ufficiale), la data di fine vigenza (come
		    calcolata dal provvedimento di modifica o abrogazione), e la fonte, ovvero l'id
		    dell'elemento "passiva" associato alla relazione passiva con il provvedimento che 
		    contiene la modifica o l'abrogazione di questo. Nel caso seguente, il DPR 137 del 
		    29.3.1993, pubblicato nella GU 13.5.1993, n. 110 ed entrato in vigore il 28.5.93,  
		    e' stato abrogato e sostituito dal DPR 529 del 2.10.1996, entrato in vigore il 29.10.1996. 

		    
			<NIR tipo="originale"
				 xmlns:xlink='http://www.w3.org/1999/xlink'
				 xmlns:h='http://www.w3.org/HTML/1998/html4'
				 xmlns='http://www.normeinrete.it/nir/1.0'>
				<Dpr>
					<meta>
						<descrittori>
							<pubblicazione tipo="GU" num="110" norm="19930513"/>
							<urn>urn:nir:presidente.repubblica:decreto:1993-03-29;137</urn>
							<vigenza id="v1" inizio="19930528" fine="19961029" fonte="p1"/>
							<relazioni>
								<passiva id="rp1" xlink:href="urn:nir:presidente.repubblica:decreto:1996-10-02;529"/>
							</relazioni>
						</descrittori>
					</meta>
					<intestazione>
						<tipoDoc>DECRETO DEL PRESIDENTE DELLA REPUBBLICA</tipoDoc>
						<dataDoc norm="19930329">29 marzo 1993</dataDoc>, 
						<numDoc>n. 137</numDoc>
						<titoloDoc>Regolamento  recante  la  determinazione  dei comandi e
						dei reparti territoriali della Guardia di finanza.</titoloDoc>
					</intestazione> 
					 ...
				</Dpr>
			 </NIR>

		  - il provvedimento non e' originale, ma vigente ad oggi. E' cioe' il risultato di 
		    elaborazioni redazionali per portarne il contenuto alla lettera odierna della 
		    norma, tenendo conto di uno o piu' documenti di modifica. In questo caso
		    l'attributo tipo dell'elemento NIR vale "vigente" (o non puo' essere omesso), 
		    l'elemento pubblicazione riporta la data di pubblicazione in Gazzetta 
		    Ufficiale dell'ultimo provvedimento di modifica, e l'elemento vigenza riporta 
		    la data di inizio vigenza di questa specifica forma del documento (come calcolata
		    sulla base della data della Gazzetta Ufficiale dell'ultimo provvedimento di modifica). 
		    Manca la data di fine vigenza, cosi' come l'attributo fonte, in quanto il 
		    provvedimento e' ancora vigente. Per completezza, l'elemento relazioni dovrebbe 
		    allora riportare un elemento 'originale' che specifichi l'URN del documento nella 
		    sua forma originaria, e uno o piu' elementi 'passiva', uno per ciascun provvedimento 
		    di modifica che sia intervenuto nel tempo a modificare il provvedimento in questione. 
		    Nel caso seguente, il decreto del ministero dell'industria, del commercio e dell'artigianato
		    20.10.1995, n. 527 e' stato inizialmente pubblicato nella GU n. 292 del 15.12.1995, poi 
		    modificato una prima volta dal Decreto 31.7.1997, n. 319, e poi ancora dal Decreto 9.3.2000, 
		    n. 133, vigente dal 9.6.2000 e pubblicato in GU n. 120 del 25.5.2000

		   <NIR tipo="vigente"
				xmlns:xlink='http://www.w3.org/1999/xlink'
				xmlns:h='http://www.w3.org/HTML/1998/html4'
				xmlns='http://www.normeinrete.it/nir/1.0'>
				<DecretoMinisteriale>
					<meta>
						<descrittori>
							<pubblicazione tipo="GU" num="120" norm="20000525"/>
							<urn>urn:nir:ministero.industria:decreto:1995-10-12;527@2000-03-09</urn>
							<vigenza id="v1" inizio="20000609"/>
							<relazioni>
								<originale id="ro1" xlink:href="urn:nir:ministero.industria:decreto:1995-10-12;527"/>
								<passiva   id="rp1" xlink:href="urn:nir:ministero.industria:decreto:1997-07-31;319"/>
								<passiva   id="rp2" xlink:href="urn:nir:ministero.industria:decreto:2000-03-09;133"/>
							</relazioni>
						</descrittori>
					</meta>
					<intestazione>
						<emanante>MINISTERO DELL'INDUSTRIA, DEL COMMERCIO E DELL'ARTIGIANATO</emanante>
						<tipoDoc>DECRETO</tipoDoc>
						<dataDoc norm="19951020">20 ottobre 1995</dataDoc>, 
						<numDoc>n. 527</numDoc>.
						<titoloDoc>Regolamento recante le modalit&agrave; e le procedure
						per la  concessione ed erogazione delle agevolazioni in favore
						delle attivit&agrave; produttive</titoloDoc>
					</intestazione> 
				   ...
				</DecretoMinisteriale>
		   </NIR>

		  - il provvedimento non e' originale, ne' vigente ad oggi. E' invece il risultato di 
		    elaborazioni redazionali per portarne il contenuto alla lettera della norma
		    relativamente ad un periodo oggi concluso. In questo caso l'attributo tipo dell'elemento 
		    NIR vale "vigente" (o non puo' essere omesso), l'elemento pubblicazione riporta la 
		    data di pubblicazione in Gazzetta Ufficiale dell'ultimo provvedimento di modifica, 
		    e l'elemento vigenza riporta la data di inizio vigenza di questa specifica forma 
		    del documento (come calcolata sulla base della data della Gazzetta Ufficiale 
		    dell'ultimo provvedimento di modifica), nonche' la data di fine vigenza e 
		    l'attributo fonte, il cui valore e' l'id dell'elemento passiva che abroga o 
		    modifica il testo nella forma qui presentata. Per completezza, l'elemento relazioni 
		    dovrebbe riportare anche un elemento 'originale' che specifichi l'URN del documento 
		    nella sua forma originaria, e tutti gli ulteriori elementi 'passiva', uno per ciascun 
		    provvedimento di modifica che sia intervenuto nel tempo a modificare il provvedimento 
		    in questione prima di quello che ha concluso la vigenza qui presentata. Si noti che 
		    almeno l'ultimo elemento 'passiva' e' dunque obbigatorio. 
		    Si consideri ad esempio il caso del Decreto Legislativo 3.2.1993, n.29. Pubblicato nella 
		    GU n. 30 del 6.2.1993, Supplemento ordinario n. 14, e' entrato in vigore il 21.2.1993. 
		    Da allora ha avuto 41 modifiche:
		     1. art. 14 decreto legislativo 3 aprile 1993, n. 96
		     2. art. 12 legge 14 luglio 1993 , n. 222
		     3. art. 1 decreto legislativo 19 luglio 1993, n. 247
		      ... ecc. 
		    40. art. 51 della legge 23 dicembre 2000, n. 388, pubblicata nella GU n. 302 del 29.12.2000, 
		        Supplemento ordinario n. 219, entrata in vigore l'1.1.2001. Questo e' il testo che supponiamo 
		        di pubblicare in questo esempio. 
		    41. art. 72, comma 1), lettera t) del decreto legislativo 30 marzo 2001, n. 165, pubblicato nella 
		        GU n. 106 del 9.5.2001, Supplemento ordinario n. 112. Questo provvedimento abroga definitivamente
		        il decreto legislativo ed e' entrato in vigore il 24.5.2001.
		     
		    <NIR tipo="vigente"
				xmlns:xlink='http://www.w3.org/1999/xlink'
				xmlns:h='http://www.w3.org/HTML/1998/html4'
				xmlns='http://www.normeinrete.it/nir/1.0'>
				<DecretoLegislativo>
					<meta>
						<descrittori>
							<pubblicazione tipo="GU" num="302" norm="20001229"/>
							<urn>urn:nir:stato:decreto.legislativo:1993-02-03;29@2000-12-23</urn>
							<vigenza id="v1" inizio="20010101" fine="20010524" fonte="rp41"/>
							<relazioni>
								<originale id="ro1" xlink:href="urn:nir:stato:decreto.legislativo:1993-02-03;29"/>
								<passiva   id="rp1" xlink:href="urn:nir:stato:decreto.legislativo:1993-04-03;96"/>
								<passiva   id="rp2" xlink:href="urn:nir:stato:legge:1993-07-14;222"/>
								<passiva   id="rp3" xlink:href="urn:nir:stato:decreto.legislativo:1993-07-19;247"/>
								... altre trentasei relazioni passive  ...
								<passiva   id="rp40" xlink:href="urn:nir:stato:legge:2000-12-23;388"/>
								<passiva   id="rp41" xlink:href="urn:nir:stato:decreto.legislativo:2001-03-30;165"/>								
							</relazioni>
						</descrittori>
					</meta>
					<intestazione>
						<tipoDoc>DECRETO LEGISLATIVO</tipoDoc>
						<dataDoc norm="19930203">3 febbraio 1993</dataDoc>, 
						<numDoc>n. 29</numDoc>.
						<titoloDoc>Razionalizzazione della   organizzazione  delle
						Amministrazioni pubbliche  e  revisione  della  disciplina  in
						materia  di  pubblico impiego, a norma dell'<rif
						xlink:href="urn:nir:stato:legge:1992-10-23;421#art2">articolo 2
						della legge 23 ottobre 1992, n. 421</rif></titoloDoc>
					</intestazione> 
				  ...
				</DecretoLegislativo>
		    </NIR>
		   
		  - il provvedimento e' multivigente. E' cioe' il risultato di elaborazioni
		    redazionali che forniscono i testi esatti della norma per due o piu' periodi
		    di vigenza. Al fine di permettere, in fase di visualizzazione, di distinguere
		    con chiarezza gli elementi che sono stati introdotti o abrogati, il marcatore
		    registra, a fianco di ogni frammento, il periodo di vigenza iniziale ed
		    eventualmente finale a cui il frammento fa riferimento. In questo caso
		    l'attributo tipo dell'elemento NIR vale "multivigente" (o non puo' essere
		    omesso), l'elemento pubblicazione riporta la data di pubblicazione in Gazzetta
		    Ufficiale dell'ultimo provvedimento di modifica, e gli elementi vigenza
		    riportano la data di inizio vigenza di ogni versione del documento
		    esplicitamente gestita (la data e' calcolata sulla base della Gazzetta
		    Ufficiale di ciascun provvedimento di modifica), nonche' la data di fine
		    vigenza e l'attributo fonte, il cui valore e' l'id dell'elemento passiva che
		    abroga o modifica il testo della specifica vigenza. Per completezza,
		    l'elemento relazioni deve riportare anche un elemento 'originale' che
		    specifichi l'URN del documento nella sua forma originaria, e tutti gli
		    ulteriori elementi 'passiva', uno per ciascun provvedimento di modifica che
		    sia intervenuto nel tempo a modificare il provvedimento in questione prima di
		    quello che ha concluso la vigenza qui presentata. 
		    Si consideri ad esempio il caso della Legge 30 dicembre 1991, n. 413. Il testo
		    originale, pubblicato dalla Gazzetta Ufficiale n. 305  del 31.12.1991,
		    Supplemento ordinario n. 91, e' vigente dal 1.1.1992 al 29.8.1993. Il testo
		    subisce modifiche come segue:
			1) Modificato dall'art. 62 del decreto-legge 30.8.1993 n. 331, convertito
			   dalla legge 29.10.1993, n. 427, e vigente dal 30.8.1993 al 30.7.1994
			2) Modificato dall'art. 6 del decreto-legge 31.5.1994, n. 330, convertito
			   dalla legge 27.7.1994, n. 473 e vigente dal 31.7.1994 al 31.12.1997
			3) Modificato dall'art. 24, comma 23, legge 27 dicembre 1997, n. 449, vigente
			   dal 1 gennaio 1998 e pubblicata nella Gazzetta Ufficiale n. 302 del 30
			   dicembre 1997 - Supplemento Ordinario n. 255
			Nell'esempio proposto supponiamo di mantenere tutte le modifiche effettuate
			al provvedimento nel corso della sua storia. Da notare che tutti i periodi di 
			vigenza sono dunque riportati, con identificativi v1, v2, v3 e v4. Ciascun periodo,
			a parte l'ultimo, prevede una fine della vigenza e un riferimento al provvedimento
			che ne fa terminare la vigenza. Nel testo, poi, ogni blocco di testo che sia stato aggiunto, 
			abrogato o sostituito e' circondato da un elemento (nel nostro caso span), i cui 
			attributi inizio e fine riportano l'identificativo del periodo di vigenza in cui
			sono stati rispettivamente introdotti e rimossi. 
		     
			<NIR tipo="multivigente"
			  xmlns:xlink='http://www.w3.org/1999/xlink'
			  xmlns:h='http://www.w3.org/HTML/1998/html4'
			  xmlns='http://www.normeinrete.it/nir/1.0'>
			  <Legge>
				<meta>
				  <descrittori>
					<pubblicazione tipo="GU" num="302/255" norm="19971230"/>
					<urn>urn:nir:stato:legge:1991-12-30;413@multivigente</urn>
					<vigenza id="v1" inizio="19920101" fine="19930829" fonte="rp1"/>
					<vigenza id="v2" inizio="19930830" fine="19940730" fonte="rp2"/>
					<vigenza id="v3" inizio="19940731" fine="19971231" fonte="rp3"/>
					<vigenza id="v4" inizio="19980101"/>
					<relazioni>
					  <originale id="ro1" xlink:href="urn:nir:stato:legge:1991-12-30;413"/>
					  <passiva   id="rp1" xlink:href="urn:nir:stato:decreto.legge:1993-08-30;331"/>
					  <passiva   id="rp2" xlink:href="urn:nir:stato:decreto.legge:1994-05-31;330"/>
					  <passiva   id="rp3" xlink:href="urn:nir:stato:legge:1997-12-27;449"/>
					</relazioni>
				  </descrittori>
				</meta>
				<intestazione>
				  <tipoDoc>LEGGE</tipoDoc>
				  <dataDoc norm="19911230">30 dicembre 1991</dataDoc>, 
				  <numDoc>n. 413</numDoc>.
				  <titoloDoc>Disposizioni per ampliare le basi imponibili, per
				  razionalizzare, facilitare e potenziare l'attivita' di accertamento;
				  disposizioni per la    rivalutazione obbligatoria dei  beni  immobili
				  delle imprese, nonche' per riformare il contenzioso e per la definizione
				  agevolata dei rapporti tributari  pendenti;  delega al  Presidente della
				  Repubblica  per la  concessione  di amnistia  per reati  tributari;
				  istituzioni dei centri di assistenza fiscale e del conto
				  fiscale.</titoloDoc>
				</intestazione> 
				<articolato>
				  ...
				  <articolo id="art78"> 
					<num>1</num> 
					...
					<comma id="art1c27"> 
					  <num>27</num> 
					  <corpo>E' istituito, a decorrere dal <span fine="v2">1. gennaio
					  1993</span><span inizio="v2">1. gennaio 1994</span>, il conto
					  fiscale, la  cui utilizzazione  dovra'  essere  obbligatoria  per
					  tutti i contribuenti titolari di <span fine="v4">reddito di impresa
					  o di lavoro autonomo</span><span inizio="v4">partita
					  IVA</span>.<span inizio="v3">L'obbligo di utilizzazione del conto
					  fiscale non opera nei riguardi dei contribuenti che presentano la
					  dichiarazione dei redditi congiuntamente con il coniuge ai sensi
					  dell'<rif xlink:href="urn:nir:stato:legge:1977-04-13;114#art17">art.
					  17 della legge 13 aprile 1977, n. 114</rif>.</span></corpo>
					</comma>
					...
				  </articolo>			
				...
			  </Legge>
			</NIR>

		* relazioni: Sono qui elencate tutte le relazioni ad altri provvedimenti in 
		  qualunque maniera connessi al provvedimento in questione. Tutti gli 
		  elementi qui sono facoltativi, anche se fortemente raccomandati, in quanto
		  permettono di specificare il contesto in cui il provvedimento e' inserito. 
		  L'unico caso di obbligo e' per i documenti non piu' vigenti, come spiegato
		  qui sopra. Di ogni relazione va specificato un id univoco secondo la sintassi
		  esposta nella sezione 8.2 di note.html, e l'urn del documento in relazione. 
		  Le relazioni possibili sono le seguenti:  
		  - originale: l'urn del provvedimento originale di cui il presente e' variante
		    redazionale aggiornata ad una particolare data di vigenza. Non si usa se il 
		    documento marcato e' esso stesso originale. 
		  - attiva: l'urn di un provvedimento per il quale il presente contiene indicazioni
		    di modifica o abrogazione. 
		  - passiva: l'urn di un provvedimento che modifica o abroga il presente. In caso 
		    di piu' provedimenti che nel tempo lo modificano, essi vanno posti in rigoroso
		    ordine temporale. 
		  - giurisprudenza: l'urn di un intervento giurisprudenziale che ha modificato la 
		    lettera o l'interpretazione consolidata delle norme contenute nel presente
		    provvedimento. 
		
		* keywords: parole chiave aggiunte redazionalmente sulla base di un 
		  vocabolario predefinito e dichiarato. E' possibile aggiungere piu' blocchi
		  di keyword, ciascuno associato ad un vocabolario diverso. L'attributo 
		  'vocabolario' riporta un nome descrittivo del vocabolario usato. Ogni elemento
		  keyword riporta nell'attributo 'val' un vocabolo tratto dal vocabolario indicato. 
		  Ad esempio: 
			
			<keywords vocabolario="TESEO">
				<keyword val="CULTURA, SPETTACOLO, SPORT E TURISMO"/>
			</keywords>
		
    ===================================================================== -->

<!ELEMENT descrittori   (pubblicazione, altrepubblicazioni?, urn+, alias*, 
                         vigenza+, relazioni?,keywords*) >

<!ENTITY % tipopubbl  '
                   tipo   CDATA   "GU" 
                   num    CDATA   #IMPLIED
                   %data;    '>
                   
<!ELEMENT pubblicazione EMPTY >
<!ELEMENT ripubblicazione EMPTY >
<!ELEMENT errata EMPTY >
<!ELEMENT rettifica EMPTY >
<!ELEMENT altrepubblicazioni (ripubblicazione | errata | rettifica| produttore)+ >

<!ATTLIST pubblicazione    %tipopubbl; >    
<!ATTLIST ripubblicazione  %tipopubbl; >    
<!ATTLIST errata           %tipopubbl; >    
<!ATTLIST rettifica        %tipopubbl; >    
                
<!ELEMENT produttore     EMPTY>
<!ATTLIST produttore
                    %data;
                    nome    CDATA   #REQUIRED
                    url     CDATA   #IMPLIED >
                    
                     
<!ELEMENT urn            (#PCDATA) >
<!ELEMENT alias          (#PCDATA) >

<!ELEMENT vigenza       EMPTY >
<!ATTLIST vigenza       
					%idreq; 
					inizio	CDATA	#IMPLIED
					fine    CDATA   #IMPLIED
					fonte	IDREF	#IMPLIED>
					
<!ELEMENT relazioni (originale?,attiva*,passiva*,giurisprudenza*) >

<!ELEMENT originale	EMPTY>
<!ELEMENT attiva    EMPTY>
<!ELEMENT passiva	EMPTY>
<!ELEMENT giurisprudenza	EMPTY>

<!ATTLIST originale %link; %idreq;>
<!ATTLIST attiva    %link; %idreq;>
<!ATTLIST passiva   %link; %idreq;>
<!ATTLIST giurisprudenza    %link;  %idreq;>

<!ELEMENT keywords	(keyword+)>
<!ATTLIST keywords 
					vocabolario	CDATA	#REQUIRED >
<!ELEMENT keyword	EMPTY>
<!ATTLIST keyword 
					val	CDATA	#REQUIRED>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Disposizioni                                                      -->
<!--                                                                       -->
<!--     Nota sulla sintassi delle disposizioni                            -->
<!--                                                                       -->
<!--     Tutti tipi di disposizione hanno la stessa struttura di fondo:    -->
<!--     un tag dal nome evocativo contiene tanti elementi "loc" quante    -->
<!--     sono le entita' localizzabili del documento attinenti alla        -->
<!--     metainformazione specifica, piu' alcuni eventuali altri elementi  -->
<!--     usati per descrivere ulteriori caratteristiche della              -->
<!--     meta-informazione stessa.                                         -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!ELEMENT disposizioni    (caratterizzanti?, analitiche?) >
<!ATTLIST disposizioni
      xmlns:dsp  CDATA #FIXED 'http://www.normeinrete.it/nir/disposizioni/1.0'>

<!ENTITY  % posizioni      "(dsp:testo|dsp:pos)+">
<!ELEMENT dsp:testo        (#PCDATA)>
<!ELEMENT dsp:pos          EMPTY>
<!ATTLIST dsp:pos          %link;>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione delle disposizioni caratterizzanti                    -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!ELEMENT caratterizzanti       (dsp:necessitaeurgenza | 
                                 dsp:parere            | dsp:proposta | 
                                 dsp:considerata       | dsp:visto    | 
                                 dsp:attuazioneUE      | dsp:copertura)+ >


<!ELEMENT dsp:necessitaeurgenza   (%posizioni;) >
<!ELEMENT dsp:considerata         (%posizioni;) >
<!ELEMENT dsp:visto               (%posizioni;) >
<!ELEMENT dsp:copertura           (%posizioni;) >

<!ELEMENT dsp:attuazioneUE        (%posizioni;, dsp:fonte+) >
<!ELEMENT dsp:parere              (%posizioni;, dsp:fonte+) >
<!ELEMENT dsp:proposta            (%posizioni;, dsp:fonte+) >

<!ELEMENT dsp:fonte                EMPTY >
<!ATTLIST dsp:fonte                %link;
                                   nome    CDATA    #IMPLIED >

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione delle disposizioni analitiche                         -->
<!--                                                                       -->
<!-- ===================================================================== -->


<!ELEMENT analitiche       (dsp:finalita      | dsp:ambito        | dsp:finanziaria   |
                            dsp:definitoria   | dsp:istitutiva    | dsp:acquisitiva   | dsp:organizzativa   |
                            dsp:competenza    | dsp:potere        | dsp:delega        |
                            dsp:dovere        | dsp:diritto       | 
                            dsp:obbligo       | dsp:divieto       | dsp:pretesa       | dsp:permesso        | dsp:procedura     |
                            dsp:sanzione      | dsp:riparazione   | 
                            dsp:abrogazione   | dsp:sostituzione  | dsp:integrazione  | dsp:interpretazione |
                            dsp:vigenza       | dsp:proroga       | dsp:reviviscenza  | dsp:sospensione     | dsp:transitorieta | 
                            dsp:retroattivita | dsp:ultrattivita  | 
                            dsp:deroga        | dsp:estensione    | dsp:eccezione     )+>

<!ELEMENT dsp:finalita         (%posizioni;)>
<!ELEMENT dsp:ambito           (%posizioni;,dsp:soggetto,dsp:territorio)>
<!ELEMENT dsp:finanziaria      (%posizioni;)>

<!ELEMENT dsp:definitoria      (%posizioni;,dsp:definiendum)>
<!ELEMENT dsp:istitutiva       (%posizioni;,dsp:soggetto) >
<!ELEMENT dsp:acquisitiva      (%posizioni;,dsp:soggetto) >
<!ELEMENT dsp:organizzativa    (%posizioni;,dsp:soggetto) >

<!ELEMENT dsp:competenza       (%posizioni;,dsp:soggetto,dsp:oggetto?,dsp:controparte*)>
<!ELEMENT dsp:potere           (%posizioni;,dsp:soggetto,dsp:oggetto?,dsp:controparte*)>
<!ELEMENT dsp:delega           (%posizioni;,dsp:soggetto,dsp:oggetto?,dsp:controparte*)>

<!ELEMENT dsp:dovere           (%posizioni;,dsp:soggetto,dsp:oggetto?,dsp:controparte*)>
<!ELEMENT dsp:diritto          (%posizioni;,dsp:soggetto,dsp:oggetto?,dsp:controparte*)>

<!ELEMENT dsp:divieto          (%posizioni;,dsp:soggetto,dsp:azione,dsp:controparte*)>
<!ELEMENT dsp:obbligo          (%posizioni;,dsp:soggetto,dsp:azione,dsp:controparte*)>
<!ELEMENT dsp:pretesa          (%posizioni;,dsp:soggetto,dsp:azione,dsp:controparte*)>
<!ELEMENT dsp:permesso         (%posizioni;,dsp:soggetto,dsp:azione,dsp:controparte*)>
<!ELEMENT dsp:procedura        (%posizioni;,dsp:soggetto,dsp:azione)>

<!ELEMENT dsp:sanzione         (%posizioni;,dsp:soggetto,dsp:azione,dsp:oggetto)>
<!ELEMENT dsp:riparazione      (%posizioni;,dsp:soggetto,dsp:azione,dsp:oggetto)>

<!ELEMENT dsp:abrogazione      (%posizioni;,dsp:norma)>
<!ELEMENT dsp:sostituzione     (%posizioni;,dsp:norma)>
<!ELEMENT dsp:integrazione     (%posizioni;,dsp:norma)>
<!ELEMENT dsp:interpretazione  (%posizioni;,dsp:norma)>

<!ELEMENT dsp:vigenza          (%posizioni;,dsp:norma,dsp:tempo)>
<!ELEMENT dsp:proroga          (%posizioni;,dsp:norma,dsp:tempo)>
<!ELEMENT dsp:reviviscenza     (%posizioni;,dsp:norma,dsp:tempo)>
<!ELEMENT dsp:sospensione      (%posizioni;,dsp:norma,dsp:tempo)>
<!ELEMENT dsp:transitorieta    (%posizioni;,dsp:norma,dsp:tempo)>

<!ELEMENT dsp:retroattivita    (%posizioni;,dsp:norma,dsp:tempo)>
<!ELEMENT dsp:ultrattivita     (%posizioni;,dsp:norma,dsp:tempo)>

<!ELEMENT dsp:deroga           (%posizioni;,dsp:norma)>
<!ELEMENT dsp:estensione       (%posizioni;,dsp:norma)>
<!ELEMENT dsp:eccezione        (%posizioni;,dsp:norma)>

<!ELEMENT dsp:territorio        (#PCDATA) >
<!ELEMENT dsp:soggetto          (#PCDATA) >
<!ELEMENT dsp:oggetto           (#PCDATA) >
<!ELEMENT dsp:azione            (#PCDATA) >
<!ELEMENT dsp:controparte       (#PCDATA) >
<!ELEMENT dsp:definiendum       (#PCDATA) >
<!ELEMENT dsp:tempo             (#PCDATA) >
<!ELEMENT dsp:norma             EMPTY >
<!ATTLIST dsp:norma             %link; >


