xmLegesEditorImpl/trunk/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-2.1/nirbase.dtd

<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;

<!--  =====================================================================
Modello dei documenti di NormeInRete (NIR)

nirlight: modello semplificato di Norme In Rete
Dipende da: niente

Release  20/03/2006
Fabio Vitali - UniBo e CNR-IAT

Per un'introduzione, si veda il documento 'note.html'
=====================================================================  -->
<!--  =====================================================================

Entita' esterne: caratteri

=====================================================================  -->
<!-- 
<!ENTITY % ISOlat1 SYSTEM "./ISOlat1.ent">  %ISOlat1;
<!ENTITY % ISOlat2 SYSTEM "./ISOlat2.ent">  %ISOlat2;
<!ENTITY % ISOgrk3 SYSTEM "./ISOgrk3.ent">  %ISOgrk3;
<!ENTITY % ISOdia SYSTEM "./ISOdia.ent">    %ISOdia;
<!ENTITY % ISOnum SYSTEM "./ISOnum.ent">    %ISOnum;
<!ENTITY % ISOpub SYSTEM "./ISOpub.ent">    %ISOpub;
<!ENTITY % ISOtech SYSTEM "./ISOtech.ent">  %ISOtech;
 -->
<!--  =====================================================================

Namespace

=====================================================================  -->
<!--  =====================================================================

Tipi di dati

=====================================================================  -->
<!ENTITY % tipovigenza "(originale|monovigente)" >
<!ENTITY % linktype "%STRING;" >
<!ENTITY % uri "%STRING;" >
<!ENTITY % anytoken "%STRING;" >
<!ENTITY % anystring "%STRING;" >
<!ENTITY % date "%STRING;" >
<!ENTITY % numero "%STRING;" >
<!ENTITY % NIRnome "%STRING;" >
<!ENTITY % valoristatus "(omissis|abrogato|annullato|sospeso)" >
<!ENTITY % id "(%ID;)" >
<!ENTITY % idref "(%IDREF;)" >
<!ENTITY % htmlstyle "%STRING;" >
<!ENTITY % htmlclass "%STRING;" >
<!ENTITY % xmllang "%STRING;" >
<!ENTITY % tipopubblicazione "%STRING;" >
<!ENTITY % numeropubblicazione "%STRING;" >
<!ENTITY % tipocontributo "%STRING;" >
<!ENTITY % tipoeventi "%STRING;" >
<!ENTITY % tipoallegato "(attoallegato|allegatointegrante|informativo)" >
<!--  =====================================================================

Entita' principali

=====================================================================  -->
<!ENTITY % HTMLattrs " class  %htmlclass; #IMPLIED style  %htmlstyle; #IMPLIED title  %anystring; #IMPLIED">
<!ENTITY % link " xlink:href  %uri; #IMPLIED xlink:type  %linktype; #FIXED 'simple' ">
<!ENTITY % status " status  %valoristatus; #IMPLIED">
<!ENTITY % idreq " id  %id; #REQUIRED">
<!ENTITY % idfac " id  %id; #IMPLIED">
<!ENTITY % idnorma " id  %anytoken; #IMPLIED">
<!ENTITY % data " norm  %date; #REQUIRED">
<!ENTITY % dove " codice  %anystring; #REQUIRED">
<!ENTITY % elinline "#PCDATA |rif | mrif | mod | ndr">
<!ENTITY % elblocchi "h:div | h:p | h:img | h:table">
<!ENTITY % inline "(%elinline;)*" >
<!ENTITY % blocchi "(%elblocchi;)+" >
<!ENTITY % blocchiinline "(#PCDATA |rif | mrif | mod | ndr | h:div | h:p | h:img | h:table)*" >
<!ENTITY % blocchireq "(%blocchi;)" >
<!ENTITY % inlinefac "%inline;" >
<!--  =====================================================================

Definizione dell'elemento radice
Uso:
<NIR tipo="originale"
xmlns:xlink='http://www.w3.org/1999/xlink'
xmlns:h='http://www.w3.org/HTML/1998/html4'
xmlns='http://www.normeinrete.it/nir/1.0'>
<Legge>
<meta>...</meta>
<intestazione>...</intestazione>
<formulainiziale>...</formulainiziale>
<articolato>...</articolato>
<formulafinale>...</formulafinale>
<conclusione>...</conclusione>
<annessi>...</annessi>
</Legge>
</NIR>

=====================================================================  -->
<!ENTITY % tipodocumento "(Legge | LeggeCostituzionale | DecretoLegge | DecretoLegislativo | DecretoMinisteriale | RegioDecreto | Dpr | Dpcm | DocumentoNIR)" >
<!ELEMENT NIR %tipodocumento; >
<!--  =====================================================================

Elenco dei documenti articolati

=====================================================================  -->
<!ENTITY % docarticolato "(meta,intestazione,formulainiziale,articolato,formulafinale,conclusione,annessi?)" >
<!ELEMENT Legge %docarticolato; >
<!ELEMENT LeggeCostituzionale %docarticolato; >
<!ELEMENT DecretoLegge %docarticolato; >
<!ELEMENT DecretoLegislativo %docarticolato; >
<!ELEMENT DecretoMinisteriale %docarticolato; >
<!ELEMENT RegioDecreto %docarticolato; >
<!ELEMENT Dpr %docarticolato; >
<!ELEMENT Dpcm %docarticolato; >
<!ATTLIST Legge %idnorma;  >
<!ATTLIST LeggeCostituzionale %idnorma;  >
<!ATTLIST DecretoLegge %idnorma;  >
<!ATTLIST DecretoLegislativo %idnorma;  >
<!ATTLIST DecretoMinisteriale %idnorma;  >
<!ATTLIST RegioDecreto %idnorma;  >
<!ATTLIST Dpr %idnorma;  >
<!ATTLIST Dpcm %idnorma;  >
<!--  =====================================================================

Elementi dell'intestazione

=====================================================================  -->
<!ELEMENT intestazione (%elinline; | tipoDoc | dataDoc | numDoc | titoloDoc | emanante)*>
<!ELEMENT tipoDoc %inline; >
<!ELEMENT numDoc %inline; >
<!ELEMENT titoloDoc %inline; >
<!ELEMENT emanante %inline; >
<!ELEMENT dataDoc %inline; >
<!ATTLIST dataDoc %data;  >
<!--  =====================================================================

Formula iniziale e finale

=====================================================================  -->
<!ELEMENT formulainiziale (%elblocchi; | preambolo)+>
<!ATTLIST formulainiziale %status;  >
<!ELEMENT preambolo %blocchi; >
<!ATTLIST preambolo %idfac;  %status;  >
<!ELEMENT formulafinale %blocchi; >
<!ATTLIST formulafinale %status;  >
<!--  =====================================================================

Elementi dell'articolato

=====================================================================  -->
<!ENTITY % Tarticolatobase "num , rubrica?" >
<!ELEMENT articolato (libro+ | parte+ | titolo+ | capo+ | articolo+)>
<!ELEMENT libro (%Tarticolatobase;,(parte+ | titolo+ | capo+ | articolo+))>
<!ELEMENT parte (%Tarticolatobase;,(titolo+ | capo+ | articolo+))>
<!ELEMENT titolo (%Tarticolatobase;,(capo+ | articolo+))>
<!ELEMENT capo (%Tarticolatobase;,(sezione+ | articolo+))>
<!ELEMENT sezione (%Tarticolatobase;,(articolo+))>
<!ELEMENT articolo (%Tarticolatobase;,(comma+))>
<!ATTLIST articolato %status;  >
<!ATTLIST libro %idreq;  %status;  >
<!ATTLIST parte %idreq;  %status;  >
<!ATTLIST titolo %idreq;  %status;  >
<!ATTLIST capo %idreq;  %status;  >
<!ATTLIST sezione %idreq;  %status;  >
<!ATTLIST articolo %idreq;  %status;  >
<!ELEMENT num %inline; >
<!ELEMENT rubrica %inline; >
<!--  =====================================================================

Elementi sotto l'articolo

=====================================================================  -->
<!ENTITY % corpocomma "(num,(corpo | (alinea,(el | en | ep)+,coda?)))" >
<!ELEMENT comma %corpocomma; >
<!ELEMENT el %corpocomma; >
<!ELEMENT en %corpocomma; >
<!ELEMENT ep %corpocomma; >
<!ELEMENT corpo %blocchiinline; >
<!ELEMENT alinea %inline; >
<!ELEMENT coda %inline; >
<!--  =====================================================================

Elementi della conclusione

=====================================================================  -->
<!ENTITY % CMconclusione "(%elinline; | dataeluogo | sottoscrizioni | sottoscrivente | visto)*" >
<!ELEMENT conclusione %CMconclusione; >
<!ELEMENT dataeluogo %inline; >
<!ATTLIST dataeluogo %data;  %dove;  >
<!ELEMENT sottoscrizioni (sottoscrivente*,visto?)>
<!ELEMENT sottoscrivente %inline; >
<!ELEMENT visto %inline; >
<!--  =====================================================================

Elementi degli annessi

=====================================================================  -->
<!ELEMENT annessi (annesso+)>
<!ELEMENT annesso (testata?,rifesterno)>
<!ATTLIST annesso %idreq;  %status;  >
<!ELEMENT rifesterno EMPTY >
<!ATTLIST rifesterno %link;  >
<!ELEMENT testata (denAnnesso?,titAnnesso?,preAnnesso?)>
<!ELEMENT denAnnesso %blocchi; >
<!ELEMENT titAnnesso %blocchi; >
<!ELEMENT preAnnesso %blocchi; >
<!--  =====================================================================

Elementi inline e speciali con semantica rilevante

=====================================================================  -->
<!ELEMENT ndr %inline; >
<!ATTLIST ndr %idfac;  %link;  %HTMLattrs;  num %idref; #IMPLIED value %anystring; #IMPLIED >
<!ELEMENT rif %inline; >
<!ATTLIST rif %link;  %idfac;  >
<!ELEMENT mrif %inline; >
<!ATTLIST mrif %idfac;  %status;  >
<!ELEMENT mod (%elinline; | virgolette)*>
<!ATTLIST mod %idreq;  %status;  >
<!ELEMENT virgolette (%elinline; | libro | parte | titolo | capo | sezione | articolo | comma | el | en | ep)*>
<!ATTLIST virgolette tipo (parola|struttura) 'parola'  %idreq;  %status;  >
<!--  =====================================================================

Elementi HTML del documento articolato

=====================================================================  -->
<!ELEMENT h:p  %inlinefac; >
<!ATTLIST h:p xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ELEMENT h:div  %inlinefac; >
<!ATTLIST h:div xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!--  =====================================================================

Strutture fondamentali del documento semi-articolato

=====================================================================  -->
<!ENTITY % nome " nome  %NIRnome; #IMPLIED">
<!ENTITY % strutture "(contenitore | gerarchia | articolato)+">
<!ENTITY % tuttiblocchi "h:div | h:p | h:img | h:ul | h:ol | h:table">
<!ENTITY % semiarticolato "(meta,intestazione?,%strutture;,(contenitore | gerarchia | articolato)+,annessi?)" >
<!ELEMENT DocumentoNIR %semiarticolato; >
<!--  =====================================================================

Elementi generici del documento semi-articolato

=====================================================================  -->
<!ENTITY % gerarchiabase "num? , tit?" >
<!ELEMENT contenitore (%tuttiblocchi;)+>
<!ATTLIST contenitore %idfac;  %HTMLattrs;  %nome;  >
<!ELEMENT gerarchia (l1 | l2 | l3 | l4 | l5 | l6 | l7 | l8 | l9)+>
<!ATTLIST gerarchia %idfac;  %HTMLattrs;  %nome;  >
<!ELEMENT l1 (%gerarchiabase;,(%tuttiblocchi; | l2 | l3 | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l2 (%gerarchiabase;,(%tuttiblocchi; | l3 | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l3 (%gerarchiabase;,(%tuttiblocchi; | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l4 (%gerarchiabase;,(%tuttiblocchi; | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l5 (%gerarchiabase;,(%tuttiblocchi; | l6 | l7 | l8 | l9)+)>
<!ELEMENT l6 (%gerarchiabase;,(%tuttiblocchi; | l7 | l8 | l9)+)>
<!ELEMENT l7 (%gerarchiabase;,(%tuttiblocchi; | l8 | l9)+)>
<!ELEMENT l8 (%gerarchiabase;,(%tuttiblocchi; | l9)+)>
<!ELEMENT l9 (%gerarchiabase;,(%tuttiblocchi;)+)>
<!ATTLIST l1 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l2 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l3 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l4 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l5 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l6 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l7 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l8 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l9 %idreq;  %HTMLattrs;  %nome;  >
<!ELEMENT tit %inlinefac; >
<!--  =====================================================================

Elementi HTML del documento semi-articolato

=====================================================================  -->
<!ELEMENT h:img EMPTY >
<!ATTLIST h:img xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ATTLIST h:img %idfac;  %HTMLattrs;  src %uri; #REQUIRED alt %anystring; #IMPLIED width %numero; #IMPLIED height %numero; #IMPLIED >
<!ENTITY % list "(h:li)+" >
<!ELEMENT h:ul  %list; >
<!ATTLIST h:ul xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ELEMENT h:ol  %list; >
<!ATTLIST h:ol xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ELEMENT h:li  %inlinefac; >
<!ATTLIST h:li xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ENTITY % cellattrs " rowspan  %numero; '1'  colspan  %numero; '1' ">
<!ELEMENT h:table (h:tr+) >
<!ATTLIST h:table xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ATTLIST h:table %idfac;  %HTMLattrs;  width %numero; #IMPLIED border %numero; #IMPLIED cellspacing %numero; #IMPLIED cellpadding %numero; #IMPLIED >
<!ELEMENT h:tr (h:th | h:td)+ >
<!ATTLIST h:tr xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ATTLIST h:tr %idfac;  %HTMLattrs;  >
<!ELEMENT h:th  %inline; >
<!ATTLIST h:th xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ELEMENT h:td  %inline; >
<!ATTLIST h:td xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4">
<!ATTLIST h:th %cellattrs;  %idfac;  >
<!ATTLIST h:td %cellattrs;  %idfac;  >
<!--  =====================================================================

Definizione di elementi di metainformazione

=====================================================================  -->
<!ELEMENT meta (descrittori,ciclodivita?,redazionale*)>
<!--  =====================================================================

Elementi descrittori

=====================================================================  -->
<!ELEMENT descrittori (pubblicazione,altrepubblicazioni?,entratainvigore,redazione,urn+,alias*,materie*)>
<!ELEMENT altrepubblicazioni (ripubblicazione | errata | rettifica)+>
<!ENTITY % tipopubbl "EMPTY" >
<!ELEMENT pubblicazione %tipopubbl; >
<!ELEMENT ripubblicazione %tipopubbl; >
<!ELEMENT errata %tipopubbl; >
<!ELEMENT rettifica %tipopubbl; >
<!ELEMENT entratainvigore EMPTY >
<!ATTLIST entratainvigore %data;  >
<!ELEMENT redazione EMPTY >
<!ATTLIST redazione %idreq;  %data;  nome %anystring; #REQUIRED url %anystring; #IMPLIED contributo %tipocontributo; #IMPLIED >
<!ELEMENT urn EMPTY >
<!ATTLIST urn value %anystring; #REQUIRED >
<!ELEMENT alias EMPTY >
<!ATTLIST alias value %anystring; #REQUIRED >
<!ELEMENT materie (materia+)>
<!ATTLIST materie vocabolario %anystring; #REQUIRED >
<!ELEMENT materia EMPTY >
<!ATTLIST materia val %anystring; #REQUIRED >
<!ELEMENT ciclodivita (eventi?,relazioni)>
<!ELEMENT eventi (evento+)>
<!ELEMENT evento EMPTY >
<!ATTLIST evento %idreq;  data %date; #REQUIRED fonte %idref; #REQUIRED tipo %tipoeventi; #IMPLIED >
<!ELEMENT relazioni (originale?,attiva*,passiva*,giurisprudenza*,haallegato*,allegatodi*)>
<!ENTITY % relazioni "EMPTY" >
<!ELEMENT originale %relazioni; >
<!ELEMENT attiva %relazioni; >
<!ELEMENT passiva %relazioni; >
<!ELEMENT giurisprudenza %relazioni; >
<!ELEMENT haallegato %relazioni; >
<!ATTLIST haallegato tipo %tipoallegato; #IMPLIED >
<!ELEMENT allegatodi %relazioni; >
<!ATTLIST allegatodi tipo %tipoallegato; #IMPLIED >
<!ATTLIST giurisprudenza effetto (normativo|interpretativo) #IMPLIED >
<!--  =====================================================================

Elementi redazionali

=====================================================================  -->
<!ELEMENT redazionale (nota | avvertenza | altro)+>
<!ATTLIST redazionale %link;  >
<!ELEMENT nota %blocchireq; >
<!ELEMENT avvertenza %blocchireq; >
<!ELEMENT altro %blocchireq; >
<!--  =====================================================================
fine DTD
=====================================================================  -->
<!ATTLIST nota %idreq;  %HTMLattrs;  >
<!ATTLIST avvertenza %idreq;  %HTMLattrs;  >
<!ATTLIST altro %idreq;  %HTMLattrs;  >
<!ATTLIST h:p %idfac;  %HTMLattrs;  >
<!ATTLIST h:div %idfac;  %HTMLattrs;  >
<!ATTLIST tit %idfac;  %HTMLattrs;  >
<!ATTLIST h:li %idfac;  %HTMLattrs;  >
<!ATTLIST NIR tipo %tipovigenza; 'originale'  >
<!ATTLIST Legge %status;  >
<!ATTLIST LeggeCostituzionale %status;  >
<!ATTLIST DecretoLegge %status;  >
<!ATTLIST DecretoLegislativo %status;  >
<!ATTLIST DecretoMinisteriale %status;  >
<!ATTLIST RegioDecreto %status;  >
<!ATTLIST Dpr %status;  >
<!ATTLIST Dpcm %status;  >
<!ATTLIST comma %idreq;  %status;  >
<!ATTLIST el %idreq;  %status;  >
<!ATTLIST en %idreq;  %status;  >
<!ATTLIST ep %idreq;  %status;  >
<!ATTLIST DocumentoNIR %idfac;  %status;  >
<!ATTLIST h:ul %idfac;  %HTMLattrs;  >
<!ATTLIST h:ol %idfac;  %HTMLattrs;  >
<!ATTLIST pubblicazione tipo %tipopubblicazione; 'GU'  num %numeropubblicazione; #IMPLIED %data;  >
<!ATTLIST ripubblicazione tipo %tipopubblicazione; 'GU'  num %numeropubblicazione; #IMPLIED %data;  >
<!ATTLIST errata tipo %tipopubblicazione; 'GU'  num %numeropubblicazione; #IMPLIED %data;  >
<!ATTLIST rettifica tipo %tipopubblicazione; 'GU'  num %numeropubblicazione; #IMPLIED %data;  >
<!ATTLIST originale %link;  %idreq;  >
<!ATTLIST attiva %link;  %idreq;  >
<!ATTLIST passiva %link;  %idreq;  >
<!ATTLIST giurisprudenza %link;  %idreq;  >
<!ATTLIST haallegato %link;  %idreq;  >
<!ATTLIST allegatodi %link;  %idreq;  >
