xmLegesEditor/branches/schemaSupport_1_0/xmLegesEditor/xsdData/NIR_XSD_completo/C.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"; elementFormDefault="unqualified" attributeFormDefault="unqualified">
<xsd:simpleType name="GlobalLocationNumberType">
<xsd:restriction base="xsd:string">
<xsd:pattern value="\d{13}"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="PartyIdentificationType">
<xsd:sequence>
<xsd:choice>
<xsd:element name="gln" type="GlobalLocationNumberType"/>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>