xmLegesEditor/branches/schemaSupport_1_0/xmLegesEditor/xsdData/NIR_XSD_completo/nirstrict.xsd

<xsd:schema 
xmlns:xlink="http://www.w3.org/1999/xlink" 
xmlns:h="http://www.w3.org/HTML/1998/html4" 
targetNamespace="http://www.normeinrete.it/nir/2.2/" 
xmlns="http://www.normeinrete.it/nir/2.2/" 
xmlns:dsp="http://www.normeinrete.it/nir/disposizioni/2.2/" 
elementFormDefault="qualified" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink.xsd"/>
	<xsd:import namespace="http://www.w3.org/HTML/1998/html4" schemaLocation="./h.xsd"/>

	<xsd:import namespace="http://www.normeinrete.it/nir/disposizioni/2.2/" schemaLocation="./dsp.xsd"/>

	<xsd:include schemaLocation="./ISOlat1.xsd"/>
	<xsd:include schemaLocation="./ISOlat2.xsd"/>
	<xsd:include schemaLocation="./ISOgrk3.xsd"/>
	<xsd:include schemaLocation="./ISOdia.xsd"/>
	<xsd:include schemaLocation="./ISOpub.xsd"/>
	<xsd:include schemaLocation="./ISOnum.xsd"/>
	<xsd:include schemaLocation="./ISOtech.xsd"/>
	<xsd:include schemaLocation="./tipi.xsd"/>
	<xsd:include schemaLocation="./globali.xsd"/>
	<xsd:include schemaLocation="./testo.xsd"/>
	<xsd:include schemaLocation="./norme.xsd"/>
	<xsd:include schemaLocation="./proprietario.xsd"/>
	<xsd:include schemaLocation="./meta.xsd"/>

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		           Modello dei documenti di NormeInRete (NIR)                               
		                                                                                    
		           nirstrict: definizioni globali dello schema completo                    
		           Dipende da: niente                                                       
		                                                                                    
		           Versione  2.2                                                            
		           Release   18/04/2007                                                     
		           Fabio Vitali - UniBo                                                     
		                                                                                    
		           Per un'introduzione, si veda il documento 'note.html'                    
		        ====================================================================        
		
		        ====================================================================        
		                                                                                    
		       	Entita' esterne: caratteri                                               
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		                                                                                    
		       	Definizione dei namespace                                                
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		                                                                                    
		       	Entita' specifiche del documento completo                                
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="Tarticolatobase"  >
		<xsd:sequence >
			<xsd:element ref="inlinemeta" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="num" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="rubrica" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup ref="globalireq"/>
	</xsd:complexType>

	<xsd:complexType name="CMcompleto"  >
		<xsd:choice >
			<xsd:element ref="libro" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element ref="parte" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element ref="titolo" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element ref="capo" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element ref="articolo" minOccurs="1" maxOccurs="unbounded" />
		</xsd:choice>
		<xsd:attributeGroup ref="vigenza"/>
	</xsd:complexType>

	<xsd:complexType name="CMlibro"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:choice >
					<xsd:element ref="parte" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="titolo" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="capo" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="articolo" minOccurs="1" maxOccurs="unbounded" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMparte"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:choice >
					<xsd:element ref="titolo" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="capo" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="articolo" minOccurs="1" maxOccurs="unbounded" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMtitolo"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:choice >
					<xsd:element ref="capo" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="articolo" minOccurs="1" maxOccurs="unbounded" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMcapo"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:choice >
					<xsd:element ref="sezione" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="articolo" minOccurs="1" maxOccurs="unbounded" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMsezione"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:sequence >
					<xsd:element ref="articolo" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMparagrafo"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:choice minOccurs="0" maxOccurs="unbounded" >
					<xsd:element ref="libro" />
					<xsd:element ref="parte" />
					<xsd:element ref="titolo" />
					<xsd:element ref="capo" />
					<xsd:element ref="sezione" />
					<xsd:element ref="articolo" />
					<xsd:element ref="partizione" />
					<xsd:element ref="contenitore" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMpartizione"  >
		<xsd:complexContent>
			<xsd:extension base="Tarticolatobase">
				<xsd:choice minOccurs="0" maxOccurs="unbounded" >
					<xsd:element ref="libro" />
					<xsd:element ref="parte" />
					<xsd:element ref="titolo" />
					<xsd:element ref="capo" />
					<xsd:element ref="sezione" />
					<xsd:element ref="paragrafo" />
					<xsd:element ref="articolo" />
					<xsd:element ref="partizione" />
					<xsd:element ref="contenitore" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="CMarticolo"  >
		<xsd:sequence >
			<xsd:element ref="inlinemeta" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="num" />
			<xsd:choice minOccurs="0" maxOccurs="1" >
				<xsd:sequence >
					<xsd:element ref="rubrica" />
					<xsd:element ref="decorazione" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
				<xsd:sequence >
					<xsd:element ref="decorazione" />
					<xsd:element ref="rubrica" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:choice>
			<xsd:element ref="comma" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attributeGroup ref="globalireq"/>
	</xsd:complexType>

	<xsd:complexType name="CMcomma"  >
		<xsd:sequence >
			<xsd:element ref="inlinemeta" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="num" minOccurs="0" maxOccurs="1" />
			<xsd:choice >
				<xsd:element ref="corpo" />
				<xsd:sequence >
					<xsd:element ref="alinea" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="el" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="coda" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:choice>
			<xsd:element ref="decorazione" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup ref="globalireq"/>
	</xsd:complexType>

	<xsd:complexType name="CMel"  >
		<xsd:sequence >
			<xsd:element ref="num" />
			<xsd:choice >
				<xsd:element ref="corpo" />
				<xsd:sequence >
					<xsd:element ref="alinea" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="en" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="coda" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:choice>
			<xsd:element ref="decorazione" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup ref="globalifac"/>
	</xsd:complexType>

	<xsd:complexType name="CMen"  >
		<xsd:sequence >
			<xsd:element ref="num" />
			<xsd:choice >
				<xsd:element ref="corpo" />
				<xsd:sequence >
					<xsd:element ref="alinea" minOccurs="0" maxOccurs="1" />
					<xsd:element ref="en" minOccurs="1" maxOccurs="unbounded" />
					<xsd:element ref="coda" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:choice>
			<xsd:element ref="decorazione" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup ref="globalifac"/>
	</xsd:complexType>

	<xsd:complexType name="CMep"  >
		<xsd:sequence >
			<xsd:element ref="num" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CMlista"  >
		<xsd:sequence >
			<xsd:element ref="num" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		                                                                                    
		       	Entita' tipodocumento                                                    
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:group name="NormaNazionale">
		<xsd:choice>
			<xsd:element ref="Legge"/>
			<xsd:element ref="LeggeCostituzionale"/>
			<xsd:element ref="DecretoLegge"/>
			<xsd:element ref="DecretoLegislativo"/>
			<xsd:element ref="DecretoMinisteriale"/>
			<xsd:element ref="RegioDecreto"/>
			<xsd:element ref="Dpr"/>
			<xsd:element ref="Dpcm"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="AltreNorme">
		<xsd:choice>
			<xsd:element ref="AttoDiAuthority"/>
			<xsd:element ref="DecretoMinisterialeNN"/>
			<xsd:element ref="DprNN"/>
			<xsd:element ref="DpcmNN"/>
			<xsd:element ref="LeggeRegionale"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="DocumentiGenerici">
		<xsd:choice>
			<xsd:element ref="Comunicato"/>
			<xsd:element ref="DocArticolato"/>
			<xsd:element ref="DocumentoNIR"/>
			<xsd:element ref="SemiArticolato"/>
		</xsd:choice>
	</xsd:group>

	<xsd:complexType name="tipodocumento"  >
		<xsd:choice >
			<xsd:group ref="NormaNazionale" />
			<xsd:group ref="AltreNorme" />
			<xsd:group ref="DocumentiGenerici" />
		</xsd:choice>
		<xsd:attribute name="tipo" type="tipovigenza" default="originale" />
	</xsd:complexType>

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		                                                                                    
		       	Entita' esterne: DTD accessori                                           
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="ProprietarioMeta"  >
		<xsd:choice>
			<xsd:any  namespace="##other"/>
		</xsd:choice>
	</xsd:complexType>

	<xsd:group name="Rproprietario">
		<xsd:sequence>
			<xsd:group ref="strutture" />
		</xsd:sequence>
	</xsd:group>

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		                                                                                    
		       	Definizione dell'elemento radice                                         
		                                                                                    
		           Uso:                                                                     
		       	&lt;NIR tipo="originale"                                                    
		           	 xmlns:xlink='http://www.w3.org/1999/xlink'                      
		       	   	 xmlns:h='http://www.w3.org/HTML/1998/html4'                     
		                    xmlns='http://www.normeinrete.it/nir/2.1/'&gt;                      
		       		&lt;Legge&gt;                                                           
		       			&lt;meta&gt; ...&lt;/meta&gt;                                          
		       			&lt;intestazione&gt; ...&lt;/intestazione&gt;                          
		       			&lt;formulainiziale&gt; ...&lt;/formulainiziale&gt;                    
		       			&lt;articolato&gt; ...&lt;/articolato&gt;                              
		           		&lt;formulafinale&gt; ...&lt;/formulafinale&gt;                        
		           		&lt;conclusione&gt; ...&lt;/conclusione&gt;                            
		           		&lt;annessi&gt; ...&lt;/annessi&gt;                                    
		       		&lt;/Legge&gt;                                                          
		       	&lt;/NIR&gt;                                                                    
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="NIR"  type="tipodocumento" />

	<xsd:annotation>
		<xsd:documentation>
		 ====================================================================        
		                                                                                    
		       	Elenco dei documenti articolati                                          
		                                                                                    
		        ==================================================================== 
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="Legge"  type="docarticolato" />

	<xsd:element name="LeggeCostituzionale"  type="docarticolato" />

	<xsd:element name="DecretoLegge"  type="docarticolato" />

	<xsd:element name="DecretoLegislativo"  type="docarticolato" />

	<xsd:element name="DecretoMinisteriale"  type="docarticolato" />

	<xsd:element name="RegioDecreto"  type="docarticolato" />

	<xsd:element name="Dpr"  type="docarticolato" />

	<xsd:element name="Dpcm"  type="docarticolato" />

	<xsd:element name="LeggeRegionale"  type="docarticolato" />

	<xsd:element name="AttoDiAuthority"  type="semiarticolato" />

	<xsd:element name="DecretoMinisterialeNN"  type="semiarticolato" />

	<xsd:element name="DprNN"  type="semiarticolato" />

	<xsd:element name="DpcmNN"  type="semiarticolato" />

	<xsd:element name="Comunicato"  >
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="semiarticolato">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocArticolato"  >
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="docarticolato">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocumentoNIR"  >
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="semiarticolato">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SemiArticolato"  >
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="semiarticolato">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================        
		            fine completo                                                          
		        ===================================================================== 
		</xsd:documentation>
	</xsd:annotation>

</xsd:schema>