xmLegesEditorImpl/tags/xmLegesEditor_2_0_alpha/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-2.2/nirbase.dtd

<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;

<!--  =====================================================================
Modello dei documenti di NormeInRete (NIR)

nirlight: modello semplificato di Norme In Rete
Dipende da: niente

Versione  2.2
Release   29/07/2008
Fabio Vitali - UniBo

Per un'introduzione, si veda il documento 'note.html'
=====================================================================  -->

<!--  =====================================================================

Entita' esterne: caratteri

=====================================================================  -->

<!ENTITY % ISOlat1 SYSTEM "./ISOlat1.ent">%ISOlat1;
   
<!ENTITY % ISOlat2 SYSTEM "./ISOlat2.ent">%ISOlat2;
   
<!ENTITY % ISOgrk3 SYSTEM "./ISOgrk3.ent">%ISOgrk3;
   
<!ENTITY % ISOdia SYSTEM "./ISOdia.ent">%ISOdia;
     
<!ENTITY % ISOpub SYSTEM "./ISOpub.ent">%ISOpub;
     
<!ENTITY % ISOnum SYSTEM "./ISOnum.ent">%ISOnum;
     
<!ENTITY % ISOtech SYSTEM "./ISOtech.ent">%ISOtech;
   

<!--  =====================================================================

Namespace

=====================================================================  -->




<!--  =====================================================================

Tipi di dati

=====================================================================  -->
<!ENTITY % id           "%ID;" >
<!ENTITY % Eid "(%EID;)" >
<!ENTITY % idref        "%IDREF;" >
<!ENTITY % Eidref "(%EIDREF;)" >

<!ENTITY % linktype            "%STRING;" >
<!ENTITY % Elinktype "(%ESTRING;)" >
<!ENTITY % uri                 "%STRING;" >
<!ENTITY % Euri "(%ESTRING;)" >
<!ENTITY % anytoken            "%STRING;" >
<!ENTITY % Eanytoken "(%ESTRING;)" >
<!ENTITY % anystring           "%STRING;" >
<!ENTITY % Eanystring "(%ESTRING;)" >
<!ENTITY % date                "%STRING;" >
<!ENTITY % Edate "(%ESTRING;)" >
<!ENTITY % numero              "%STRING;" >
<!ENTITY % Enumero "(%ESTRING;)" >
<!ENTITY % NIRnome             "%STRING;" >
<!ENTITY % ENIRnome "(%ESTRING;)" >
<!ENTITY % htmlstyle           "%STRING;" >
<!ENTITY % Ehtmlstyle "(%ESTRING;)" >
<!ENTITY % htmlclass           "%STRING;" >
<!ENTITY % Ehtmlclass "(%ESTRING;)" >
<!ENTITY % xmllang             "%STRING;" >
<!ENTITY % Exmllang "(%ESTRING;)" >
<!ENTITY % tipopubblicazione   "%STRING;" >
<!ENTITY % Etipopubblicazione "(%ESTRING;)" >
<!ENTITY % numeropubblicazione "%STRING;" >
<!ENTITY % Enumeropubblicazione "(%ESTRING;)" >
<!ENTITY % tipocontributo      "%STRING;" >
<!ENTITY % Etipocontributo "(%ESTRING;)" >
<!ENTITY % tipoeventi          "%STRING;" >
<!ENTITY % Etipoeventi "(%ESTRING;)" >

<!ENTITY % tipovigenza          "(originale|monovigente)" >
<!ENTITY % Etipovigenza "((originale|monovigente))" >
<!ENTITY % valoristatus         "(omissis|abrogato|annullato|sospeso)" >
<!ENTITY % Evaloristatus "((omissis|abrogato|annullato|sospeso))" >
<!ENTITY % tipoallegato         "(attoallegato|allegatointegrante|informativo)" >
<!ENTITY % Etipoallegato "((attoallegato|allegatointegrante|informativo))" >
<!ENTITY % tipofirma            "(sottoscrizione|visto)" >
<!ENTITY % Etipofirma "((sottoscrizione|visto))" >

<!--  =====================================================================

Entita' principali

=====================================================================  -->

<!ENTITY % HTMLattrs " class %htmlclass; #IMPLIED style %htmlstyle; #IMPLIED title %anystring; #IMPLIED" >
<!ENTITY % link " xlink:href %uri; #IMPLIED xlink:type %linktype; #FIXED 'simple' " >
<!ENTITY % status  " status %valoristatus; #IMPLIED" >
<!ENTITY % idreq   " id %id; #REQUIRED" >
<!ENTITY % idfac   " id %id; #IMPLIED" >
<!ENTITY % idnorma " id %anytoken; #IMPLIED" >
<!ENTITY % data    " norm %date; #REQUIRED" >
<!ENTITY % dove    " codice %anystring; #REQUIRED" >
<!ENTITY % val     " valore %anystring; #REQUIRED" >

<!ENTITY % elinline "rif | mrif | mod | ndr" >
<!ENTITY % elblocchi "h:div | h:p | h:img | h:table" >

<!ENTITY % inline_mixed        "%elinline;" >
<!ENTITY % inline "(#PCDATA | %inline_mixed;)*" >
<!ENTITY % blocchi       "(%elblocchi;)+" >
<!ENTITY % blocchiinline_mixed "%elinline; | %elblocchi;" >
<!ENTITY % blocchiinline "(#PCDATA | %blocchiinline_mixed;)*" >
<!ENTITY % blocchireq    "%blocchi;" >
<!ENTITY % inlinefac     "%inline;" >
<!ENTITY % valore        "EMPTY" >

<!--  =====================================================================

Definizione dell'elemento radice
Uso:
<NIR tipo="originale"
xmlns:xlink='http://www.w3.org/1999/xlink'
xmlns:h='http://www.w3.org/HTML/1998/html4'
xmlns='http://www.normeinrete.it/nir/2.1/'> 
<Legge> 
<meta> ...</meta> 
<intestazione> ...</intestazione> 
<formulainiziale> ...</formulainiziale> 
<articolato> ...</articolato> 
<formulafinale> ...</formulafinale> 
<conclusione> ...</conclusione> 
<annessi> ...</annessi> 
</Legge> 
</NIR> 

=====================================================================  -->

<!ENTITY % tipodocumento "(Legge | LeggeCostituzionale | DecretoLegge | DecretoLegislativo | DecretoMinisteriale | RegioDecreto | Dpr | Dpcm | DocumentoNIR)" >

<!ELEMENT NIR %tipodocumento; ><!ATTLIST NIR xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
 xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4"
 xmlns CDATA #FIXED "http://www.normeinrete.it/nir/2.2/" >
<!ATTLIST NIR tipo %tipovigenza; 'originale'  >

<!--  =====================================================================

Elenco dei documenti articolati

=====================================================================  -->
<!ENTITY % docarticolato "(meta,intestazione,formulainiziale,articolato,formulafinale,conclusione,annessi?)" >

<!ELEMENT Legge                %docarticolato; >
<!ATTLIST Legge %idnorma;  %status;  >
<!ELEMENT LeggeCostituzionale  %docarticolato; >
<!ATTLIST LeggeCostituzionale %idnorma;  %status;  >
<!ELEMENT DecretoLegge         %docarticolato; >
<!ATTLIST DecretoLegge %idnorma;  %status;  >
<!ELEMENT DecretoLegislativo   %docarticolato; >
<!ATTLIST DecretoLegislativo %idnorma;  %status;  >
<!ELEMENT DecretoMinisteriale  %docarticolato; >
<!ATTLIST DecretoMinisteriale %idnorma;  %status;  >
<!ELEMENT RegioDecreto         %docarticolato; >
<!ATTLIST RegioDecreto %idnorma;  %status;  >
<!ELEMENT Dpr                  %docarticolato; >
<!ATTLIST Dpr %idnorma;  %status;  >
<!ELEMENT Dpcm                 %docarticolato; >
<!ATTLIST Dpcm %idnorma;  %status;  >

<!--  =====================================================================

Elementi dell'intestazione

=====================================================================  -->
<!ENTITY % HeaderElements "tipoDoc | dataDoc | numDoc | titoloDoc | emanante" >

<!ELEMENT intestazione (#PCDATA |%elinline; | %HeaderElements;)*>
<!ELEMENT tipoDoc       %inline; >
<!ELEMENT numDoc        %inline; >
<!ELEMENT titoloDoc     %inline; >
<!ELEMENT emanante      %inline; >
<!ELEMENT dataDoc       %inline; >

<!ATTLIST dataDoc %data;  >

<!--  =====================================================================

Formula iniziale e finale

=====================================================================  -->

<!ELEMENT formulainiziale (%elblocchi; | preambolo)+>

<!ATTLIST formulainiziale %status;  >
<!ELEMENT preambolo        %blocchi; >

<!ATTLIST preambolo %idfac;  %status;  >

<!ELEMENT formulafinale %blocchi; >

<!ATTLIST formulafinale %status;  >
<!--  =====================================================================

Elementi dell'articolato

=====================================================================  -->

<!ENTITY % Tarticolatobase "num , rubrica?" >

<!ELEMENT articolato (libro+ | parte+ | titolo+ | capo+ | articolo+)>
<!ELEMENT libro     (%Tarticolatobase;,(parte+ | titolo+ | capo+ | articolo+))>
<!ELEMENT parte     (%Tarticolatobase;,(titolo+ | capo+ | articolo+))>
<!ELEMENT titolo    (%Tarticolatobase;,(capo+ | articolo+))>
<!ELEMENT capo      (%Tarticolatobase;,(sezione+ | articolo+))>
<!ELEMENT sezione   (%Tarticolatobase;,(articolo+))>
<!ELEMENT articolo  (%Tarticolatobase;,(comma+))>


<!ATTLIST articolato %status;  >

<!ATTLIST libro %idreq;  %status;  >

<!ATTLIST parte %idreq;  %status;  >

<!ATTLIST titolo %idreq;  %status;  >

<!ATTLIST capo %idreq;  %status;  >

<!ATTLIST sezione %idreq;  %status;  >

<!ATTLIST articolo %idreq;  %status;  >

<!ELEMENT num     %inline; >
<!ELEMENT rubrica %inline; >

<!--  =====================================================================

Elementi sotto l'articolo

=====================================================================  -->
<!ENTITY % corpocomma "(num,(corpo | (alinea,(el | en | ep)+,coda?)))" >
<!ELEMENT comma  %corpocomma; >
<!ATTLIST comma %idreq;  %status;  >
<!ELEMENT el     %corpocomma; >
<!ATTLIST el %idreq;  %status;  >
<!ELEMENT en     %corpocomma; >
<!ATTLIST en %idreq;  %status;  >
<!ELEMENT ep     %corpocomma; >
<!ATTLIST ep %idreq;  %status;  >

<!ELEMENT corpo  %blocchiinline; >
<!ELEMENT alinea %inline; >
<!ELEMENT coda   %inline; >

<!--  =====================================================================

Elementi della conclusione

=====================================================================  -->
<!ENTITY % CMconclusione_mixed "%elinline; | dataeluogo | firma" >
<!ENTITY % CMconclusione "(#PCDATA | %CMconclusione_mixed;)*" >

<!ELEMENT conclusione      %CMconclusione; >
<!ELEMENT dataeluogo       %inline; >

<!ATTLIST dataeluogo %data;  %dove;  >
<!ELEMENT firma            %inline; >

<!ATTLIST firma tipo %tipofirma; 'sottoscrizione'  >


<!--  =====================================================================

Elementi degli annessi

=====================================================================  -->
<!ELEMENT annessi (annesso+)>
<!ELEMENT annesso (testata?,rifesterno)>

<!ATTLIST annesso %idreq;  %status;  >
<!ELEMENT rifesterno EMPTY >

<!ATTLIST rifesterno %link;  >
<!ELEMENT testata    (denAnnesso?,titAnnesso?,preAnnesso?)>
<!ELEMENT denAnnesso %blocchi; >
<!ELEMENT titAnnesso %blocchi; >
<!ELEMENT preAnnesso %blocchi; >
<!--  =====================================================================

Elementi inline e speciali con semantica rilevante

=====================================================================  -->
<!ELEMENT ndr %inline; >

<!ATTLIST ndr %idfac;  %link;  %HTMLattrs;  num %uri; #IMPLIED valore %anystring; #IMPLIED >
<!ELEMENT rif %inline; >

<!ATTLIST rif %link;  %idfac;  >
<!ELEMENT mrif %inline; >

<!ATTLIST mrif %idfac;  %status;  >
<!ELEMENT mod (#PCDATA |%elinline; | virgolette)*>

<!ATTLIST mod %idreq;  %status;  >
<!ELEMENT virgolette (#PCDATA |%elinline; | libro | parte | titolo | capo | sezione | articolo | comma | el | en | ep)*>

<!ATTLIST virgolette tipo (parola|struttura) 'parola'  %idreq;  %status;  >

<!--  =====================================================================

Elementi HTML del documento articolato

=====================================================================  -->
<!ELEMENT h:p   %inlinefac; >
<!ATTLIST h:p %idfac;  %HTMLattrs;  >
<!ELEMENT h:div %inlinefac; >
<!ATTLIST h:div %idfac;  %HTMLattrs;  >

<!--  =====================================================================

Strutture fondamentali del documento semi-articolato

=====================================================================  -->
<!ENTITY % nome             " nome %NIRnome; #IMPLIED" >
<!ENTITY % strutture        "contenitore | gerarchia | articolato" >
<!ENTITY % tuttiblocchi     "h:div | h:p | h:img | h:ul | h:ol | h:table" >
<!ENTITY % semiarticolato   "(meta,intestazione?,(%strutture;)+,annessi?)" >
<!ELEMENT DocumentoNIR %semiarticolato; >
<!ATTLIST DocumentoNIR %idfac;  %status;  %nome;  >


<!--  =====================================================================

Elementi generici del documento semi-articolato

=====================================================================  -->
<!ENTITY % gerarchiabase "num? , tit?" >

<!ELEMENT contenitore (%tuttiblocchi;)+>

<!ATTLIST contenitore %idfac;  %HTMLattrs;  %nome;  >

<!ELEMENT gerarchia (l1 | l2 | l3 | l4 | l5 | l6 | l7 | l8 | l9)+>

<!ATTLIST gerarchia %idfac;  %HTMLattrs;  %nome;  >

<!ELEMENT l1 (%gerarchiabase;,(%tuttiblocchi; | l2 | l3 | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l2 (%gerarchiabase;,(%tuttiblocchi; | l3 | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l3 (%gerarchiabase;,(%tuttiblocchi; | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l4 (%gerarchiabase;,(%tuttiblocchi; | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l5 (%gerarchiabase;,(%tuttiblocchi; | l6 | l7 | l8 | l9)+)>
<!ELEMENT l6 (%gerarchiabase;,(%tuttiblocchi; | l7 | l8 | l9)+)>
<!ELEMENT l7 (%gerarchiabase;,(%tuttiblocchi; | l8 | l9)+)>
<!ELEMENT l8 (%gerarchiabase;,(%tuttiblocchi; | l9)+)>
<!ELEMENT l9 (%gerarchiabase;,(%tuttiblocchi;)+)>


<!ATTLIST l1 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l2 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l3 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l4 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l5 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l6 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l7 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l8 %idreq;  %HTMLattrs;  %nome;  >

<!ATTLIST l9 %idreq;  %HTMLattrs;  %nome;  >

<!ELEMENT tit %inlinefac; >
<!ATTLIST tit %idfac;  %HTMLattrs;  >

<!--  =====================================================================

Elementi HTML del documento semi-articolato

=====================================================================  -->
<!ELEMENT h:img EMPTY >

<!ATTLIST h:img %idfac;  %HTMLattrs;  src %uri; #REQUIRED alt %anystring; #IMPLIED width %numero; #IMPLIED height %numero; #IMPLIED >

<!ENTITY % list "(h:li)+" >
<!ELEMENT h:ul %list; >
<!ATTLIST h:ul %idfac;  %HTMLattrs;  >
<!ELEMENT h:ol %list; >
<!ATTLIST h:ol %idfac;  %HTMLattrs;  >
<!ELEMENT h:li %inlinefac; >
<!ATTLIST h:li %idfac;  %HTMLattrs;  >

<!ENTITY % cellattrs " rowspan %numero; '1'  colspan %numero; '1' " >
<!ELEMENT h:table (h:tr+)>

<!ATTLIST h:table %idfac;  %HTMLattrs;  width %numero; #IMPLIED border %numero; #IMPLIED cellspacing %numero; #IMPLIED cellpadding %numero; #IMPLIED >
<!ELEMENT h:tr (h:th | h:td)+>

<!ATTLIST h:tr %idfac;  %HTMLattrs;  >
<!ELEMENT h:th %inline; >
<!ELEMENT h:td %inline; >

<!ATTLIST h:th %cellattrs;  %idfac;  >

<!ATTLIST h:td %cellattrs;  %idfac;  >
<!--  =====================================================================

Definizione di elementi di metainformazione

=====================================================================  -->
<!ELEMENT meta (descrittori,ciclodivita?,redazionale*)>

<!--  =====================================================================

Elementi descrittori

=====================================================================  -->

<!ELEMENT descrittori (pubblicazione,entratainvigore?,redazione+,urn+,alias*,materie*)>

<!ENTITY % tipopubbl "EMPTY" >

<!ELEMENT pubblicazione      %tipopubbl; >
<!ATTLIST pubblicazione tipo %tipopubblicazione; 'GU'  num %numeropubblicazione; #IMPLIED %data;  >

<!ELEMENT entratainvigore EMPTY >

<!ATTLIST entratainvigore %data;  >

<!ELEMENT redazione          EMPTY >

<!ATTLIST redazione %idreq;  %data;  nome %anystring; #REQUIRED url %anystring; #IMPLIED contributo %tipocontributo; #IMPLIED >
<!ELEMENT urn  %valore; >
<!ATTLIST urn %val;  >
<!ELEMENT alias %valore; >
<!ATTLIST alias %val;  >

<!ELEMENT materie (materia+)>

<!ATTLIST materie vocabolario %anystring; #REQUIRED >
<!ELEMENT materia %valore; >
<!ATTLIST materia %val;  >

<!ELEMENT ciclodivita (eventi?,relazioni)>
<!ELEMENT eventi (evento+)>
<!ELEMENT evento EMPTY >

<!ATTLIST evento %idreq;  data %date; #REQUIRED fonte %uri; #REQUIRED tipo %tipoeventi; #IMPLIED >
<!ELEMENT relazioni (originale?,attiva*,passiva*,giurisprudenza*,haallegato*,allegatodi*)>
<!ENTITY % relazioni "EMPTY" >

<!ELEMENT originale      %relazioni; >
<!ATTLIST originale %link;  %idreq;  >
<!ELEMENT attiva         %relazioni; >
<!ATTLIST attiva %link;  %idreq;  >
<!ELEMENT passiva        %relazioni; >
<!ATTLIST passiva %link;  %idreq;  >
<!ELEMENT giurisprudenza %relazioni; >
<!ATTLIST giurisprudenza %link;  %idreq;  >
<!ELEMENT haallegato     %relazioni; >
<!ATTLIST haallegato %link;  %idreq;  >

<!ATTLIST haallegato tipo %tipoallegato; #IMPLIED >
<!ELEMENT allegatodi     %relazioni; >
<!ATTLIST allegatodi %link;  %idreq;  >

<!ATTLIST allegatodi tipo %tipoallegato; #IMPLIED >

<!ATTLIST giurisprudenza effetto (normativo|interpretativo) #IMPLIED >

<!--  =====================================================================

Elementi redazionali

=====================================================================  -->
<!ELEMENT redazionale  (nota | avvertenza | altro)+>

<!ATTLIST redazionale %link;  >

<!ELEMENT nota         %blocchireq; >
<!ATTLIST nota %idreq;  %HTMLattrs;  >
<!ELEMENT avvertenza   %blocchireq; >
<!ATTLIST avvertenza %idreq;  %HTMLattrs;  >
<!ELEMENT altro        %blocchireq; >
<!ATTLIST altro %idreq;  %HTMLattrs;  >

<!--  =====================================================================
fine DTD
=====================================================================  -->
