xmLegesEditorImpl/branches/provisionModelSupport/xmLegesEditorImpl/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-2.1/nirbase.dtd

<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;

<!--  =====================================================================
Modello dei documenti di NormeInRete (NIR)

nirlight: modello semplificato di Norme In Rete
Dipende da: niente

Release  25/04/2006
Fabio Vitali - UniBo e CNR-IAT

Per un'introduzione, si veda il documento 'note.html'
=====================================================================  -->
<!--  =====================================================================

Entita' esterne: caratteri

=====================================================================  -->
<!ENTITY % ISOlat1 SYSTEM "./entities/ISOlat1.ent">
%ISOlat1;
<!ENTITY % ISOlat2 SYSTEM "./entities/ISOlat2.ent">
%ISOlat2;
<!ENTITY % ISOgrk3 SYSTEM "./entities/ISOgrk3.ent">
%ISOgrk3;
<!ENTITY % ISOdia SYSTEM "./entities/ISOdia.ent">
%ISOdia;
<!ENTITY % ISOpub SYSTEM "./entities/ISOpub.ent">
%ISOpub;
<!ENTITY % ISOtech SYSTEM "./entities/ISOtech.ent">
%ISOtech;
<!--  =====================================================================

Namespace

=====================================================================  -->
<!--  =====================================================================

Tipi di dati

=====================================================================  -->
<!ENTITY % id "(%ID;)" >
<!ENTITY % idref "(%IDREF;)" >
<!ENTITY % linktype "(%STRING;)" >
<!ENTITY % uri "(%STRING;)" >
<!ENTITY % anytoken "(%STRING;)" >
<!ENTITY % anystring "(%STRING;)" >
<!ENTITY % date "(%STRING;)" >
<!ENTITY % numero "(%STRING;)" >
<!ENTITY % NIRnome "(%STRING;)" >
<!ENTITY % htmlstyle "(%STRING;)" >
<!ENTITY % htmlclass "(%STRING;)" >
<!ENTITY % xmllang "(%STRING;)" >
<!ENTITY % tipopubblicazione "(%STRING;)" >
<!ENTITY % numeropubblicazione "(%STRING;)" >
<!ENTITY % tipocontributo "(%STRING;)" >
<!ENTITY % tipoeventi "(%STRING;)" >
<!ENTITY % tipovigenza "(originale|monovigente)" >
<!ENTITY % valoristatus "(omissis|abrogato|annullato|sospeso)" >
<!ENTITY % tipoallegato "(attoallegato|allegatointegrante|informativo)" >
<!--  =====================================================================

Entita' principali

=====================================================================  -->
<!ENTITY % HTMLattrs " class CDATA #IMPLIED style CDATA #IMPLIED title CDATA #IMPLIED" >
<!ENTITY % link " xlink:href CDATA #IMPLIED xlink:type CDATA #FIXED 'simple' " >
<!ENTITY % status " status CDATA #IMPLIED" >
<!ENTITY % idreq " id CDATA #REQUIRED" >
<!ENTITY % idfac " id CDATA #IMPLIED" >
<!ENTITY % idnorma " id CDATA #IMPLIED" >
<!ENTITY % data " norm CDATA #REQUIRED" >
<!ENTITY % dove " codice CDATA #REQUIRED" >
<!ENTITY % elinline "rif | mrif | mod | ndr" >
<!ENTITY % elblocchi "h:div | h:p | h:img | h:table" >
<!ENTITY % inline "(#PCDATA |%elinline;)*" >
<!ENTITY % blocchi "(%elblocchi;)+" >
<!ENTITY % blocchiinline "(#PCDATA |%elinline; | %elblocchi;)*" >
<!ENTITY % blocchireq "%blocchi;" >
<!ENTITY % inlinefac "%inline;" >
<!--  =====================================================================

Definizione dell'elemento radice
Uso:
<NIR tipo="originale"
xmlns:xlink='http://www.w3.org/1999/xlink'
xmlns:h='http://www.w3.org/HTML/1998/html4'
xmlns='http://www.normeinrete.it/nir/2.1/'>
<Legge>
<meta>...</meta>
<intestazione>...</intestazione>
<formulainiziale>...</formulainiziale>
<articolato>...</articolato>
<formulafinale>...</formulafinale>
<conclusione>...</conclusione>
<annessi>...</annessi>
</Legge>
</NIR>

=====================================================================  -->
<!ENTITY % pippo "(Legge | LeggeCostituzionale | DecretoLegge | DecretoLegislativo | DecretoMinisteriale | RegioDecreto | Dpr | Dpcm | DocumentoNIR)" >
<!ENTITY % tipodocumento "(Legge | LeggeCostituzionale | DecretoLegge | DecretoLegislativo | DecretoMinisteriale | RegioDecreto | Dpr | Dpcm | DocumentoNIR)" >
<!ELEMENT NIR %tipodocumento; >
<!ATTLIST NIR xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
 xmlns:h CDATA #FIXED "http://www.w3.org/HTML/1998/html4"
 xmlns CDATA #FIXED "http://www.normeinrete.it/nir/2.1/">
<!ATTLIST NIR tipo CDATA 'originale'  >
<!--  =====================================================================

Elenco dei documenti articolati

=====================================================================  -->
<!ENTITY % docarticolato "(meta,intestazione,formulainiziale,articolato,formulafinale,conclusione,annessi?)" >
<!ELEMENT Legge %docarticolato; >
<!ATTLIST Legge %idnorma;  %status;  >
<!ELEMENT LeggeCostituzionale %docarticolato; >
<!ATTLIST LeggeCostituzionale %idnorma;  %status;  >
<!ELEMENT DecretoLegge %docarticolato; >
<!ATTLIST DecretoLegge %idnorma;  %status;  >
<!ELEMENT DecretoLegislativo %docarticolato; >
<!ATTLIST DecretoLegislativo %idnorma;  %status;  >
<!ELEMENT DecretoMinisteriale %docarticolato; >
<!ATTLIST DecretoMinisteriale %idnorma;  %status;  >
<!ELEMENT RegioDecreto %docarticolato; >
<!ATTLIST RegioDecreto %idnorma;  %status;  >
<!ELEMENT Dpr %docarticolato; >
<!ATTLIST Dpr %idnorma;  %status;  >
<!ELEMENT Dpcm %docarticolato; >
<!ATTLIST Dpcm %idnorma;  %status;  >
<!--  =====================================================================

Elementi dell'intestazione

=====================================================================  -->
<!ENTITY % HeaderElements "tipoDoc | dataDoc | numDoc | titoloDoc | emanante" >
<!ELEMENT intestazione (#PCDATA |%elinline; | %HeaderElements;)*>
<!ELEMENT tipoDoc %inline; >
<!ELEMENT numDoc %inline; >
<!ELEMENT titoloDoc %inline; >
<!ELEMENT emanante %inline; >
<!ELEMENT dataDoc %inline; >
<!ATTLIST dataDoc %data;  >
<!--  =====================================================================

Formula iniziale e finale

=====================================================================  -->
<!ELEMENT formulainiziale (%elblocchi; | preambolo)+>
<!ATTLIST formulainiziale %status;  >
<!ELEMENT preambolo %blocchi; >
<!ATTLIST preambolo %idfac;  %status;  >
<!ELEMENT formulafinale %blocchi; >
<!ATTLIST formulafinale %status;  >
<!--  =====================================================================

Elementi dell'articolato

=====================================================================  -->
<!ENTITY % Tarticolatobase "num , rubrica?" >
<!ELEMENT articolato (libro+ | parte+ | titolo+ | capo+ | articolo+)>
<!ELEMENT libro (%Tarticolatobase;,(parte+ | titolo+ | capo+ | articolo+))>
<!ELEMENT parte (%Tarticolatobase;,(titolo+ | capo+ | articolo+))>
<!ELEMENT titolo (%Tarticolatobase;,(capo+ | articolo+))>
<!ELEMENT capo (%Tarticolatobase;,(sezione+ | articolo+))>
<!ELEMENT sezione (%Tarticolatobase;,(articolo+))>
<!ELEMENT articolo (%Tarticolatobase;,(comma+))>
<!ATTLIST articolato %status;  >
<!ATTLIST libro %idreq;  %status;  >
<!ATTLIST parte %idreq;  %status;  >
<!ATTLIST titolo %idreq;  %status;  >
<!ATTLIST capo %idreq;  %status;  >
<!ATTLIST sezione %idreq;  %status;  >
<!ATTLIST articolo %idreq;  %status;  >
<!ELEMENT num %inline; >
<!ELEMENT rubrica %inline; >
<!--  =====================================================================

Elementi sotto l'articolo

=====================================================================  -->
<!ENTITY % corpocomma "(num,(corpo | (alinea,(el | en | ep)+,coda?)))" >
<!ELEMENT comma %corpocomma; >
<!ATTLIST comma %idreq;  %status;  >
<!ELEMENT el %corpocomma; >
<!ATTLIST el %idreq;  %status;  >
<!ELEMENT en %corpocomma; >
<!ATTLIST en %idreq;  %status;  >
<!ELEMENT ep %corpocomma; >
<!ATTLIST ep %idreq;  %status;  >
<!ELEMENT corpo %blocchiinline; >
<!ELEMENT alinea %inline; >
<!ELEMENT coda %inline; >
<!--  =====================================================================

Elementi della conclusione

=====================================================================  -->
<!ENTITY % CMconclusione "(#PCDATA |%elinline; | dataeluogo | sottoscrizioni | sottoscrivente | visto)*" >
<!ELEMENT conclusione %CMconclusione; >
<!ELEMENT dataeluogo %inline; >
<!ATTLIST dataeluogo %data;  %dove;  >
<!ELEMENT sottoscrizioni (sottoscrivente*,visto?)>
<!ELEMENT sottoscrivente %inline; >
<!ELEMENT visto %inline; >
<!--  =====================================================================

Elementi degli annessi

=====================================================================  -->
<!ELEMENT annessi (annesso+)>
<!ELEMENT annesso (testata?,rifesterno)>
<!ATTLIST annesso %idreq;  %status;  >
<!ELEMENT rifesterno EMPTY >
<!ATTLIST rifesterno %link;  >
<!ELEMENT testata (denAnnesso?,titAnnesso?,preAnnesso?)>
<!ELEMENT denAnnesso %blocchi; >
<!ELEMENT titAnnesso %blocchi; >
<!ELEMENT preAnnesso %blocchi; >
<!--  =====================================================================

Elementi inline e speciali con semantica rilevante

=====================================================================  -->
<!ELEMENT ndr %inline; >
<!ATTLIST ndr %idfac;  %link;  %HTMLattrs;  num CDATA #IMPLIED value CDATA #IMPLIED >
<!ELEMENT rif %inline; >
<!ATTLIST rif %link;  %idfac;  >
<!ELEMENT mrif %inline; >
<!ATTLIST mrif %idfac;  %status;  >
<!ELEMENT mod (#PCDATA |%elinline; | virgolette)*>
<!ATTLIST mod %idreq;  %status;  >
<!ELEMENT virgolette (#PCDATA |%elinline; | libro | parte | titolo | capo | sezione | articolo | comma | el | en | ep)*>
<!ATTLIST virgolette tipo (parola|struttura) 'parola'  %idreq;  %status;  >
<!--  =====================================================================

Elementi HTML del documento articolato

=====================================================================  -->
<!ELEMENT h:p %inlinefac; >
<!ATTLIST h:p %idfac;  %HTMLattrs;  >
<!ELEMENT h:div %inlinefac; >
<!ATTLIST h:div %idfac;  %HTMLattrs;  >
<!--  =====================================================================

Strutture fondamentali del documento semi-articolato

=====================================================================  -->
<!ENTITY % nome " nome CDATA #IMPLIED" >
<!ENTITY % strutture "(contenitore | gerarchia | articolato)+" >
<!ENTITY % tuttiblocchi "h:div | h:p | h:img | h:ul | h:ol | h:table" >
<!ENTITY % semiarticolato "(meta,intestazione?,%strutture;,annessi?)" >
<!ELEMENT DocumentoNIR %semiarticolato; >
<!ATTLIST DocumentoNIR %idfac;  %status;  >
<!--  =====================================================================

Elementi generici del documento semi-articolato

=====================================================================  -->
<!ENTITY % gerarchiabase "num? , tit?" >
<!ELEMENT contenitore (%tuttiblocchi;)+>
<!ATTLIST contenitore %idfac;  %HTMLattrs;  %nome;  >
<!ELEMENT gerarchia (l1 | l2 | l3 | l4 | l5 | l6 | l7 | l8 | l9)+>
<!ATTLIST gerarchia %idfac;  %HTMLattrs;  %nome;  >
<!ELEMENT l1 (%gerarchiabase;,(%tuttiblocchi; | l2 | l3 | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l2 (%gerarchiabase;,(%tuttiblocchi; | l3 | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l3 (%gerarchiabase;,(%tuttiblocchi; | l4 | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l4 (%gerarchiabase;,(%tuttiblocchi; | l5 | l6 | l7 | l8 | l9)+)>
<!ELEMENT l5 (%gerarchiabase;,(%tuttiblocchi; | l6 | l7 | l8 | l9)+)>
<!ELEMENT l6 (%gerarchiabase;,(%tuttiblocchi; | l7 | l8 | l9)+)>
<!ELEMENT l7 (%gerarchiabase;,(%tuttiblocchi; | l8 | l9)+)>
<!ELEMENT l8 (%gerarchiabase;,(%tuttiblocchi; | l9)+)>
<!ELEMENT l9 (%gerarchiabase;,(%tuttiblocchi;)+)>
<!ATTLIST l1 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l2 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l3 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l4 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l5 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l6 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l7 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l8 %idreq;  %HTMLattrs;  %nome;  >
<!ATTLIST l9 %idreq;  %HTMLattrs;  %nome;  >
<!ELEMENT tit %inlinefac; >
<!ATTLIST tit %idfac;  %HTMLattrs;  >
<!--  =====================================================================

Elementi HTML del documento semi-articolato

=====================================================================  -->
<!ELEMENT h:img EMPTY >
<!ATTLIST h:img %idfac;  %HTMLattrs;  src CDATA #REQUIRED alt CDATA #IMPLIED width CDATA #IMPLIED height CDATA #IMPLIED >
<!ENTITY % list "(h:li)+" >
<!ELEMENT h:ul %list; >
<!ATTLIST h:ul %idfac;  %HTMLattrs;  >
<!ELEMENT h:ol %list; >
<!ATTLIST h:ol %idfac;  %HTMLattrs;  >
<!ELEMENT h:li %inlinefac; >
<!ATTLIST h:li %idfac;  %HTMLattrs;  >
<!ENTITY % cellattrs " rowspan CDATA '1'  colspan CDATA '1' " >
<!ELEMENT h:table (h:tr+)>
<!ATTLIST h:table %idfac;  %HTMLattrs;  width CDATA #IMPLIED border CDATA #IMPLIED cellspacing CDATA #IMPLIED cellpadding CDATA #IMPLIED >
<!ELEMENT h:tr (h:th | h:td)+>
<!ATTLIST h:tr %idfac;  %HTMLattrs;  >
<!ELEMENT h:th %inline; >
<!ELEMENT h:td %inline; >
<!ATTLIST h:th %cellattrs;  %idfac;  >
<!ATTLIST h:td %cellattrs;  %idfac;  >
<!--  =====================================================================

Definizione di elementi di metainformazione

=====================================================================  -->
<!ELEMENT meta (descrittori,ciclodivita?,redazionale*)>
<!--  =====================================================================

Elementi descrittori

=====================================================================  -->
<!ELEMENT descrittori (pubblicazione,altrepubblicazioni?,entratainvigore,redazione,urn+,alias*,materie*)>
<!ELEMENT altrepubblicazioni (ripubblicazione | errata | rettifica)+>
<!ENTITY % attpubblicazione " tipo CDATA 'GU'  num CDATA #IMPLIED %data; " >
<!ENTITY % tipopubbl "EMPTY" >
<!ELEMENT pubblicazione %tipopubbl; >
<!ATTLIST pubblicazione %attpubblicazione;  >
<!ELEMENT ripubblicazione %tipopubbl; >
<!ATTLIST ripubblicazione %attpubblicazione;  >
<!ELEMENT errata %tipopubbl; >
<!ATTLIST errata %attpubblicazione;  >
<!ELEMENT rettifica %tipopubbl; >
<!ATTLIST rettifica %attpubblicazione;  >
<!ELEMENT entratainvigore EMPTY >
<!ATTLIST entratainvigore %data;  >
<!ELEMENT redazione EMPTY >
<!ATTLIST redazione %idreq;  %data;  nome CDATA #REQUIRED url CDATA #IMPLIED contributo CDATA #IMPLIED >
<!ELEMENT urn EMPTY >
<!ATTLIST urn value CDATA #REQUIRED >
<!ELEMENT alias EMPTY >
<!ATTLIST alias value CDATA #REQUIRED >
<!ELEMENT materie (materia+)>
<!ATTLIST materie vocabolario CDATA #REQUIRED >
<!ELEMENT materia EMPTY >
<!ATTLIST materia val CDATA #REQUIRED >
<!ELEMENT ciclodivita (eventi?,relazioni)>
<!ELEMENT eventi (evento+)>
<!ELEMENT evento EMPTY >
<!ATTLIST evento %idreq;  data CDATA #REQUIRED fonte CDATA #REQUIRED tipo CDATA #IMPLIED >
<!ELEMENT relazioni (originale?,attiva*,passiva*,giurisprudenza*,haallegato*,allegatodi*)>
<!ENTITY % relazioni "EMPTY" >
<!ELEMENT originale %relazioni; >
<!ATTLIST originale %link;  %idreq;  >
<!ELEMENT attiva %relazioni; >
<!ATTLIST attiva %link;  %idreq;  >
<!ELEMENT passiva %relazioni; >
<!ATTLIST passiva %link;  %idreq;  >
<!ELEMENT giurisprudenza %relazioni; >
<!ATTLIST giurisprudenza %link;  %idreq;  >
<!ELEMENT haallegato %relazioni; >
<!ATTLIST haallegato %link;  %idreq;  >
<!ATTLIST haallegato tipo CDATA #IMPLIED >
<!ELEMENT allegatodi %relazioni; >
<!ATTLIST allegatodi %link;  %idreq;  >
<!ATTLIST allegatodi tipo CDATA #IMPLIED >
<!ATTLIST giurisprudenza effetto (normativo|interpretativo) #IMPLIED >
<!--  =====================================================================

Elementi redazionali

=====================================================================  -->
<!ELEMENT redazionale (nota | avvertenza | altro)+>
<!ATTLIST redazionale %link;  >
<!ELEMENT nota %blocchireq; >
<!ATTLIST nota %idreq;  %HTMLattrs;  >
<!ELEMENT avvertenza %blocchireq; >
<!ATTLIST avvertenza %idreq;  %HTMLattrs;  >
<!ELEMENT altro %blocchireq; >
<!ATTLIST altro %idreq;  %HTMLattrs;  >
<!--  =====================================================================
fine DTD
=====================================================================  -->
