xmLegesEditorImpl/trunk/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-cnr/meta-cnr.dtd

<!--  =====================================================================  -->
<!--    Modello dei documenti di NormeInRete (NIR)                           -->
<!--                                                                         -->
<!--    meta: metainformazioni sui documenti di NIR                          -->
<!--    Dipende da: 'nirstrict' oppure 'nirloose'                            -->
<!--                                                                         -->
<!--    Release  25/04/2006                                                  -->
<!--    Fabio Vitali - UniBo                                                 -->
<!--                                                                         -->
<!--    Per un'introduzione, si veda il documento 'meta.html'                -->
<!--  =====================================================================  -->
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Elementi base: meta e metainline                                   -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ELEMENT meta (descrittori,inquadramento?,ciclodivita?,lavoripreparatori?,redazionale*,proprietario*,disposizioni*)>
<!ELEMENT inlinemeta (redazionale?,proprietario*,disposizioni?)>
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Descrittori                                                        -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ELEMENT descrittori (pubblicazione,altrepubblicazioni?,entratainvigore?,redazione+,urn+,alias*,materie*)>
<!ENTITY % tipopubbl "EMPTY" >
<!ELEMENT altrepubblicazioni (ripubblicazione | errata | rettifica)+>
<!ELEMENT pubblicazione %tipopubbl; >
<!ATTLIST pubblicazione tipo CDATA 'GU'  num CDATA #IMPLIED %data;  >
<!ELEMENT ripubblicazione %tipopubbl; >
<!ATTLIST ripubblicazione tipo CDATA 'GU'  num CDATA #IMPLIED %data;  >
<!ELEMENT errata %tipopubbl; >
<!ATTLIST errata tipo CDATA 'GU'  num CDATA #IMPLIED %data;  >
<!ELEMENT rettifica %tipopubbl; >
<!ATTLIST rettifica tipo CDATA 'GU'  num CDATA #IMPLIED %data;  >
<!ELEMENT entratainvigore EMPTY >
<!ATTLIST entratainvigore %data;  >
<!ELEMENT redazione EMPTY >
<!ATTLIST redazione %idreq;  %data;  nome CDATA #REQUIRED url CDATA #IMPLIED contributo CDATA #IMPLIED >
<!ELEMENT urn %value; >
<!ATTLIST urn value CDATA #REQUIRED >
<!ATTLIST urn %tempi;  >
<!ELEMENT alias %value; >
<!ATTLIST alias value CDATA #REQUIRED >
<!ELEMENT materie (materia+)>
<!ATTLIST materie vocabolario CDATA #REQUIRED >
<!ELEMENT materia %value; >
<!ATTLIST materia value CDATA #REQUIRED >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Inquadramento                                                      -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ELEMENT inquadramento (infodoc,infomancanti?,oggetto?,proponenti?)>
<!ELEMENT infodoc EMPTY >
<!ATTLIST infodoc natura CDATA #REQUIRED normativa CDATA #REQUIRED funzione CDATA #REQUIRED fonte CDATA #REQUIRED >
<!ELEMENT infomancanti (mTitolodoc?,mTipodoc?,mDatadoc?,mNumdoc?,mEmanante?)>
<!ELEMENT mTitolodoc %value; >
<!ATTLIST mTitolodoc value CDATA #REQUIRED >
<!ELEMENT mTipodoc %value; >
<!ATTLIST mTipodoc value CDATA #REQUIRED >
<!ELEMENT mDatadoc %value; >
<!ATTLIST mDatadoc value CDATA #REQUIRED >
<!ELEMENT mNumdoc %value; >
<!ATTLIST mNumdoc value CDATA #REQUIRED >
<!ELEMENT mEmanante %value; >
<!ATTLIST mEmanante value CDATA #REQUIRED >
<!ELEMENT oggetto (finalita | destinatario | territorio | attivita)*>
<!ELEMENT finalita %value; >
<!ATTLIST finalita value CDATA #REQUIRED >
<!ELEMENT destinatario %value; >
<!ATTLIST destinatario value CDATA #REQUIRED >
<!ELEMENT territorio %value; >
<!ATTLIST territorio value CDATA #REQUIRED >
<!ELEMENT attivita %value; >
<!ATTLIST attivita value CDATA #REQUIRED >
<!ELEMENT proponenti (proponente+)>
<!ELEMENT proponente %value; >
<!ATTLIST proponente value CDATA #REQUIRED >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Ciclodivita                                                        -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ELEMENT ciclodivita (eventi?,relazioni)>
<!ELEMENT eventi (evento+)>
<!ELEMENT evento EMPTY >
<!ATTLIST evento %idreq;  data CDATA #REQUIRED fonte CDATA #REQUIRED tipo CDATA #IMPLIED >
<!ELEMENT relazioni (originale?,attiva*,passiva*,giurisprudenza*,haallegato*,allegatodi*)>
<!ENTITY % relazioni "EMPTY" >
<!ELEMENT originale %relazioni; >
<!ATTLIST originale %link;  %idreq;  >
<!ELEMENT attiva %relazioni; >
<!ATTLIST attiva %link;  %idreq;  >
<!ELEMENT passiva %relazioni; >
<!ATTLIST passiva %link;  %idreq;  >
<!ELEMENT haallegato %relazioni; >
<!ATTLIST haallegato %link;  %idreq;  >
<!ATTLIST haallegato tipo CDATA #IMPLIED >
<!ELEMENT allegatodi %relazioni; >
<!ATTLIST allegatodi %link;  %idreq;  >
<!ATTLIST allegatodi tipo CDATA #IMPLIED >
<!ELEMENT giurisprudenza %relazioni; >
<!ATTLIST giurisprudenza %link;  %idreq;  >
<!ATTLIST giurisprudenza effetto (normativo|interpretativo) #IMPLIED >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Lavori preparatori, redazionale, proprietario                      -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ENTITY % note "%blocchireq;" >
<!ELEMENT lavoripreparatori %blocchireq; >
<!ATTLIST lavoripreparatori %globalireq;  >
<!ELEMENT redazionale (nota | avvertenza | altro | %Rproprietario;)+>
<!ATTLIST redazionale %link;  >
<!ELEMENT nota %note; >
<!ATTLIST nota %globalireq;  >
<!ELEMENT avvertenza %note; >
<!ATTLIST avvertenza %globalireq;  >
<!ELEMENT altro %note; >
<!ATTLIST altro %globalireq;  >
<!ATTLIST altro %nome;  >
<!ELEMENT proprietario %ProprietarioMeta; >
<!ATTLIST proprietario soggetto CDATA #IMPLIED %link;  >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Disposizioni                                                       -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ENTITY % subargomenti "ANY" >
<!ENTITY % posizioni "((dsp:testo | dsp:pos)+)" >
<!ENTITY % posizionitermini "(%posizioni;,dsp:termine?,dsp:condizione?)" >
<!ENTITY % modifica "(%posizionitermini;,dsp:norma,dsp:altradata+)" >
<!ENTITY % modificadidominio "(%posizionitermini;,dsp:norma,dsp:altradata+,dsp:dominio?)" >
<!ELEMENT disposizioni (motivazioni?,regole?,modificheattive?,modifichepassive?,comunicazioni?)>
<!ATTLIST disposizioni %link;  >
<!ELEMENT dsp:testo %value; >
<!ATTLIST dsp:testo value CDATA #REQUIRED >
<!ELEMENT dsp:pos EMPTY >
<!ATTLIST dsp:pos %link;  >
<!ELEMENT dsp:termine %subargomenti; >
<!ATTLIST dsp:termine da CDATA #IMPLIED a CDATA #IMPLIED >
<!ELEMENT dsp:condizione %subargomenti; >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Definizione delle disposizioni di motivazione                      -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ENTITY % motivazioni "(dsp:visto | dsp:sentito | dsp:considerato | dsp:suproposta | dsp:basegiuridica | dsp:proposta | dsp:parere | dsp:richiesta | dsp:procedura | dsp:considerando | dsp:motivazione)+" >
<!ELEMENT motivazioni %motivazioni; >
<!ENTITY % visto_entity "(%posizioni;,(dsp:norma))" >

<!ELEMENT dsp:visto %visto_entity;>
<!ENTITY % sentito_entity "(%posizioni;,(dsp:soggetto))" >

<!ELEMENT dsp:sentito %sentito_entity;>
<!ENTITY % considerato_entity "(%posizioni;,(dsp:fatto))" >

<!ELEMENT dsp:considerato %considerato_entity;>
<!ENTITY % suproposta_entity "(%posizioni;,(dsp:soggetto))" >

<!ELEMENT dsp:suproposta %suproposta_entity;>
<!ENTITY % basegiuridica_entity "(%posizioni;,(dsp:soggetto))" >

<!ELEMENT dsp:basegiuridica %basegiuridica_entity;>
<!ENTITY % proposta_entity "(%posizioni;,(dsp:organo))" >

<!ELEMENT dsp:proposta %proposta_entity;>
<!ENTITY % parere_entity "(%posizioni;,(dsp:organo))" >

<!ELEMENT dsp:parere %parere_entity;>
<!ENTITY % richiesta_entity "(%posizioni;,(dsp:organo))" >

<!ELEMENT dsp:richiesta %richiesta_entity;>
<!ENTITY % procedura_entity "(%posizioni;,(dsp:norma))" >

<!ELEMENT dsp:procedura %procedura_entity;>
<!ENTITY % considerando_entity "(%posizioni;,(dsp:fatto,dsp:fine))" >

<!ELEMENT dsp:considerando %considerando_entity;>
<!ELEMENT dsp:motivazione %posizioni; >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Definizione delle disposizioni di regola                           -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ENTITY % atto "dsp:finalita | dsp:finanziaria | dsp:ambito" >
<!ENTITY % costitutive "dsp:metaregola | dsp:definitoria | dsp:istitutiva | dsp:organizzativa | dsp:status | dsp:competenza | dsp:delega | dsp:revoca" >
<!ENTITY % regolative "dsp:diritto | dsp:dovere | dsp:pretesa | dsp:obbligo | dsp:divieto | dsp:permesso | dsp:procedimento | dsp:sanzione | dsp:riparazione | dsp:informazione" >
<!ENTITY % regole "(%atto; | %costitutive; | %regolative; | dsp:regola)+" >
<!ELEMENT regole %regole; >
<!ELEMENT dsp:finalita %posizionitermini; >
<!ATTLIST dsp:finalita %tempi;  %implicita;  >
<!ELEMENT dsp:finanziaria %modifica; >
<!ENTITY % ambito_entity "(%posizionitermini;,(dsp:destinatario,dsp:territorio,dsp:attivita))" >

<!ELEMENT dsp:ambito %ambito_entity;>
<!ATTLIST dsp:ambito %tempi;  %implicita;  >
<!ENTITY % metaregola_entity "(%posizionitermini;,(dsp:tiporegola))" >

<!ELEMENT dsp:metaregola %metaregola_entity;>
<!ATTLIST dsp:metaregola %tempi;  %implicita;  >
<!ENTITY % definitoria_entity "(%posizionitermini;,(dsp:definiendum,dsp:definiens))" >

<!ELEMENT dsp:definitoria %definitoria_entity;>
<!ATTLIST dsp:definitoria %tempi;  %implicita;  >
<!ENTITY % istitutiva_entity "(%posizionitermini;,(dsp:destinatario))" >

<!ELEMENT dsp:istitutiva %istitutiva_entity;>
<!ATTLIST dsp:istitutiva %tempi;  %implicita;  >
<!ENTITY % organizzativa_entity "(%posizionitermini;,(dsp:destinatario))" >

<!ELEMENT dsp:organizzativa %organizzativa_entity;>
<!ATTLIST dsp:organizzativa %tempi;  %implicita;  >
<!ENTITY % status_entity "(%posizionitermini;,(dsp:destinatario,dsp:qualifica))" >

<!ELEMENT dsp:status %status_entity;>
<!ATTLIST dsp:status %tempi;  %implicita;  >
<!ENTITY % competenza_entity "(%posizionitermini;,(dsp:destinatario,dsp:attivita))" >

<!ELEMENT dsp:competenza %competenza_entity;>
<!ATTLIST dsp:competenza %tempi;  %implicita;  >
<!ENTITY % delega_entity "(%posizionitermini;,(dsp:destinatario,dsp:delegante,dsp:attivita))" >

<!ELEMENT dsp:delega %delega_entity;>
<!ATTLIST dsp:delega %tempi;  %implicita;  >
<!ENTITY % revoca_entity "(%posizionitermini;,(dsp:destinatario,dsp:delegante,dsp:attivita))" >

<!ELEMENT dsp:revoca %revoca_entity;>
<!ATTLIST dsp:revoca %tempi;  %implicita;  >
<!ENTITY % diritto_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:attivita))" >

<!ELEMENT dsp:diritto %diritto_entity;>
<!ATTLIST dsp:diritto %tempi;  %implicita;  >
<!ENTITY % dovere_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:attivita))" >

<!ELEMENT dsp:dovere %dovere_entity;>
<!ATTLIST dsp:dovere %tempi;  %implicita;  >
<!ENTITY % pretesa_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione))" >

<!ELEMENT dsp:pretesa %pretesa_entity;>
<!ATTLIST dsp:pretesa %tempi;  %implicita;  >
<!ENTITY % obbligo_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione))" >

<!ELEMENT dsp:obbligo %obbligo_entity;>
<!ATTLIST dsp:obbligo %tempi;  %implicita;  >
<!ENTITY % divieto_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione))" >

<!ELEMENT dsp:divieto %divieto_entity;>
<!ATTLIST dsp:divieto %tempi;  %implicita;  >
<!ENTITY % permesso_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione))" >

<!ELEMENT dsp:permesso %permesso_entity;>
<!ATTLIST dsp:permesso %tempi;  %implicita;  >
<!ENTITY % procedimento_entity "(%posizionitermini;,(dsp:destinatario,dsp:azione))" >

<!ELEMENT dsp:procedimento %procedimento_entity;>
<!ATTLIST dsp:procedimento %tempi;  %implicita;  >
<!ENTITY % sanzione_entity "(%posizionitermini;,(dsp:destinatario,dsp:pena,dsp:azione))" >

<!ELEMENT dsp:sanzione %sanzione_entity;>
<!ATTLIST dsp:sanzione %tempi;  %implicita;  >
<!ENTITY % riparazione_entity "(%posizionitermini;,(dsp:destinatario,dsp:effetto,dsp:azione))" >

<!ELEMENT dsp:riparazione %riparazione_entity;>
<!ATTLIST dsp:riparazione %tempi;  %implicita;  >
<!ELEMENT dsp:informazione %posizionitermini; >
<!ATTLIST dsp:informazione %tempi;  %implicita;  >
<!ELEMENT dsp:regola %posizionitermini; >
<!ATTLIST dsp:regola %tempi;  %implicita;  >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Definizione delle disposizioni di modifica                         -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ENTITY % contenuto "dsp:abrogazione | dsp:sostituzione | dsp:integrazione | dsp:ricollocazione | dsp:intautentica | dsp:variazione | dsp:modtermini" >
<!ENTITY % tempo "dsp:vigenza | dsp:annullamento | dsp:proroga | dsp:reviviscenza | dsp:posticipo | dsp:sospensione | dsp:retroattivita | dsp:ultrattivita | dsp:inapplicazione" >
<!ENTITY % portata "dsp:deroga | dsp:estensione" >
<!ENTITY % ordinamento "dsp:recepisce | dsp:attua | dsp:ratifica | dsp:attuadelega | dsp:attuadelegifica | dsp:converte | dsp:reitera" >
<!ENTITY % modifiche "(%contenuto; | %tempo; | %portata; | %ordinamento; | dsp:modifica)+" >
<!ELEMENT modificheattive %modifiche; >
<!ELEMENT modifichepassive %modifiche; >
<!ENTITY % abrogazione_entity "(%modifica;,(dsp:novellando?))" >

<!ELEMENT dsp:abrogazione %abrogazione_entity;>
<!ENTITY % sostituzione_entity "(%modifica;,(dsp:novella?,dsp:novellando?))" >

<!ELEMENT dsp:sostituzione %sostituzione_entity;>
<!ENTITY % integrazione_entity "(%modifica;,(dsp:novella?,dsp:novellando?))" >

<!ELEMENT dsp:integrazione %integrazione_entity;>
<!ENTITY % ricollocazione_entity "(%modifica;,(dsp:partizione?))" >

<!ELEMENT dsp:ricollocazione %ricollocazione_entity;>
<!ELEMENT dsp:intautentica %modificadidominio; >
<!ELEMENT dsp:variazione %modificadidominio; >
<!ELEMENT dsp:modtermini %modificadidominio; >
<!ELEMENT dsp:vigenza %modifica; >
<!ELEMENT dsp:annullamento %modifica; >
<!ELEMENT dsp:proroga %modifica; >
<!ELEMENT dsp:reviviscenza %modifica; >
<!ELEMENT dsp:posticipo %modifica; >
<!ELEMENT dsp:sospensione %modifica; >
<!ELEMENT dsp:retroattivita %modifica; >
<!ELEMENT dsp:ultrattivita %modifica; >
<!ELEMENT dsp:inapplicazione %modifica; >
<!ELEMENT dsp:deroga %modificadidominio; >
<!ELEMENT dsp:estensione %modificadidominio; >
<!ELEMENT dsp:recepisce %modifica; >
<!ELEMENT dsp:attua %modifica; >
<!ELEMENT dsp:ratifica %modifica; >
<!ELEMENT dsp:attuadelega %modifica; >
<!ELEMENT dsp:attuadelegifica %modifica; >
<!ELEMENT dsp:converte %modifica; >
<!ELEMENT dsp:reitera %modifica; >
<!ELEMENT dsp:modifica %modifica; >
<!ENTITY % suType "(efficacia|vigore)" >
<!ATTLIST dsp:proroga su CDATA #REQUIRED >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Definizione delle disposizioni di comunicazione                    -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ENTITY % comunicazioni "(dsp:abrogazione | dsp:sostituzione | dsp:integrazione | dsp:vigenza | dsp:decadimento | dsp:comunicazione)+" >
<!ENTITY % argomenti "(dsp:norma | dsp:soggetto | dsp:effetto | dsp:partizione | dsp:tiporegola | dsp:fatto | dsp:organo | dsp:fine | dsp:destinatario | dsp:territorio | dsp:attivita | dsp:definiendum | dsp:definiens | dsp:qualifica | dsp:delegante | dsp:controparte | dsp:azione | dsp:pena | dsp:novella | dsp:novellando | dsp:dominio | dsp:altradata | dsp:argomento)+" >
<!ELEMENT comunicazioni %comunicazioni; >
<!ELEMENT dsp:decadimento %modifica; >
<!ENTITY % comunicazione_entity "(%posizionitermini;,(%argomenti;))" >

<!ELEMENT dsp:comunicazione %comunicazione_entity;>
<!ATTLIST dsp:comunicazione %tempi;  %implicita;  >
<!ATTLIST dsp:comunicazione %nome;  >
<!--  =====================================================================  -->
<!--                                                                         -->
<!--      Definizione degli argomenti delle disposizioni                     -->
<!--                                                                         -->
<!--  =====================================================================  -->
<!ELEMENT dsp:norma %subargomenti; >
<!ATTLIST dsp:norma %link;  %nome;  tiporegola CDATA #IMPLIED >
<!ELEMENT dsp:soggetto %subargomenti; >
<!ELEMENT dsp:effetto %subargomenti; >
<!ELEMENT dsp:partizione %subargomenti; >
<!ELEMENT dsp:tiporegola %subargomenti; >
<!ELEMENT dsp:fatto %subargomenti; >
<!ELEMENT dsp:organo %subargomenti; >
<!ELEMENT dsp:fine %subargomenti; >
<!ELEMENT dsp:destinatario %subargomenti; >
<!ELEMENT dsp:territorio %subargomenti; >
<!ELEMENT dsp:attivita %subargomenti; >
<!ELEMENT dsp:definiendum %subargomenti; >
<!ELEMENT dsp:definiens %subargomenti; >
<!ELEMENT dsp:qualifica %subargomenti; >
<!ELEMENT dsp:delegante %subargomenti; >
<!ELEMENT dsp:controparte %subargomenti; >
<!ELEMENT dsp:azione %subargomenti; >
<!ELEMENT dsp:pena %subargomenti; >
<!ELEMENT dsp:novella %subargomenti; >
<!ELEMENT dsp:novellando %subargomenti; >
<!ELEMENT dsp:dominio %subargomenti; >
<!ELEMENT dsp:altradata %subargomenti; >
<!ATTLIST dsp:altradata rif CDATA #REQUIRED %nome;  >
<!ELEMENT dsp:argomento %subargomenti; >
<!ATTLIST dsp:argomento %nome;  >
<!--  =====================================================================  -->
<!--      fine del file meta.dtd                                          -->
<!--  =====================================================================  -->
