xmLegesEditorImpl/branches/metaEdit/xmLegesEditorImpl/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-2.2-DA/metaDA.dtd

<!--  =====================================================================        
          Modello dei documenti di NormeInRete (NIR)                                 
                                                                                     
          meta: metainformazioni sui documenti di NIR                                
          Dipende da: 'nirstrict' oppure 'nirloose'                                  
                                                                                     
          Versione  2.2                                                              
          Release   18/04/2007                                                       
          Fabio Vitali - UniBo                                                       
                                                                                     
          Per un'introduzione, si veda il documento 'meta.html'                      
        =====================================================================        
        =====================================================================        
                                                                                     
            Elementi base: meta e metainline                                         
                                                                                     
        =====================================================================  -->

<!ELEMENT meta (descrittori,inquadramento?,ciclodivita?,lavoripreparatori?,redazionale*,proprietario*,risoluzione?,disposizioni?)>

<!ELEMENT inlinemeta (redazionale?,proprietario*,disposizioni?)>

<!--  =====================================================================        
                                                                                     
            Descrittori                                                              
                                                                                     
        =====================================================================  -->
<!ELEMENT descrittori (pubblicazione,entratainvigore?,redazione+,urn+,alias*,materie*)>

<!ENTITY % tipopubbl "EMPTY" >

<!ELEMENT pubblicazione      %tipopubbl; >
<!ATTLIST pubblicazione tipo %tipopubblicazione; 'GU'  num %numeropubblicazione; #IMPLIED %data;  >

<!ELEMENT entratainvigore EMPTY >

<!ATTLIST entratainvigore %data;  >
<!ELEMENT redazione EMPTY >

<!ATTLIST redazione %idreq;  %data;  nome %NIRnome; #REQUIRED url %uri; #IMPLIED contributo %tipocontributo; #IMPLIED >

<!ELEMENT urn %valore; >
<!ATTLIST urn %val;  >

<!ATTLIST urn %tempi;  >
<!ELEMENT alias %valore; >
<!ATTLIST alias %val;  >

<!ELEMENT materie (materia+)>

<!ATTLIST materie vocabolario %anystring; #REQUIRED >
<!ELEMENT materia %valore; >
<!ATTLIST materia %val;  >

<!--  =====================================================================        
                                                                                     
            Inquadramento                                                            
                                                                                     
        =====================================================================  -->
<!ELEMENT inquadramento (infodoc,infomancanti?,oggetto?,proponenti?)>
<!ELEMENT infodoc EMPTY >

<!ATTLIST infodoc natura %anystring; #REQUIRED normativa %sino; #REQUIRED funzione %funzione; #REQUIRED fonte %ranghi; #REQUIRED registrazione %NIRdate; #IMPLIED >

<!ELEMENT infomancanti (mTitolodoc?,mTipodoc?,mDatadoc?,mNumdoc*,mEmanante?)>
<!ELEMENT mTitolodoc %valore; >
<!ATTLIST mTitolodoc %val;  >
<!ELEMENT mTipodoc %valore; >
<!ATTLIST mTipodoc %val;  >
<!ELEMENT mDatadoc %valore; >
<!ATTLIST mDatadoc %val;  >
<!ELEMENT mNumdoc %valore; >
<!ATTLIST mNumdoc %val;  >

<!ATTLIST mNumdoc %nomefac;  >
<!ELEMENT mEmanante %valore; >
<!ATTLIST mEmanante %val;  >
<!ELEMENT oggetto (finalita | destinatario | territorio | attivita)*>
<!ELEMENT finalita %valore; >
<!ATTLIST finalita %val;  >
<!ELEMENT destinatario %valore; >
<!ATTLIST destinatario %val;  >
<!ELEMENT territorio %valore; >
<!ATTLIST territorio %val;  >
<!ELEMENT attivita %valore; >
<!ATTLIST attivita %val;  >
<!ELEMENT proponenti (proponente+)>
<!ELEMENT proponente %valore; >
<!ATTLIST proponente %val;  >
<!--  =====================================================================        
                                                                                     
            Ciclodivita                                                              
                                                                                     
        =====================================================================  -->
<!ELEMENT ciclodivita (eventi?,relazioni)>
<!ELEMENT eventi (evento+)>
<!ELEMENT evento EMPTY >

<!ATTLIST evento %idreq;  data %NIRdate; #REQUIRED fonte %uri; #REQUIRED tipo %tipoeventi; #IMPLIED >
<!ELEMENT relazioni (originale?,attiva*,passiva*,giurisprudenza*,haallegato*,allegatodi*)>
<!ENTITY % relazioni "EMPTY" >

<!ELEMENT originale      %relazioni; >
<!ATTLIST originale %link;  %idreq;  >
<!ELEMENT attiva         %relazioni; >
<!ATTLIST attiva %link;  %idreq;  >
<!ELEMENT passiva        %relazioni; >
<!ATTLIST passiva %link;  %idreq;  >
<!ELEMENT haallegato     %relazioni; >
<!ATTLIST haallegato %link;  %idreq;  >

<!ATTLIST haallegato tipo %tipoallegato; #IMPLIED >
<!ELEMENT allegatodi     %relazioni; >
<!ATTLIST allegatodi %link;  %idreq;  >

<!ATTLIST allegatodi tipo %tipoallegato; #IMPLIED >
<!ELEMENT giurisprudenza %relazioni; >
<!ATTLIST giurisprudenza %link;  %idreq;  >

<!ATTLIST giurisprudenza effetto (normativo|interpretativo) #IMPLIED >

<!--  =====================================================================        
                                                                                     
            Lavori preparatori, redazionale, proprietario, risoluzione               
                                                                                     
        =====================================================================  -->
<!ENTITY % note "%blocchireq;" >

<!ELEMENT lavoripreparatori %blocchifac; >
<!ATTLIST lavoripreparatori %globalifac;  >
<!ELEMENT redazionale (nota | avvertenza | altro | %Rproprietario;)+>

<!ATTLIST redazionale %link;  >

<!ELEMENT nota              %note; >
<!ATTLIST nota %globalireq;  >

<!ATTLIST nota %nomefac;  >
<!ELEMENT avvertenza        %note; >
<!ATTLIST avvertenza %globalireq;  >

<!ATTLIST avvertenza %nomefac;  >
<!ELEMENT altro             %note; >
<!ATTLIST altro %globalireq;  >

<!ATTLIST altro %nomefac;  >

<!ELEMENT proprietario %ProprietarioMeta; >

<!ATTLIST proprietario soggetto %NIRnome; #IMPLIED %link;  >

<!ELEMENT risoluzioni (risoluzione+)>
<!ELEMENT risoluzione EMPTY >

<!ATTLIST risoluzione %idfac;  urn %uri; #REQUIRED url %uri; #REQUIRED >
 
 <!ENTITY % keywords "dsp:keywords?">
 <!ELEMENT dsp:keywords (dsp:keyword)+>
 <!ATTLIST dsp:keywords schema CDATA #IMPLIED versione CDATA #IMPLIED>
 <!ELEMENT dsp:keyword EMPTY>
 <!ATTLIST dsp:keyword valore CDATA #REQUIRED codice CDATA #IMPLIED>

<!ENTITY % subargomenti "(%keywords;)" >
<!ENTITY % posizioni "((dsp:testo | dsp:pos)+)" >

<!ENTITY % posizionitermini "(%posizioni;,(dsp:espressione?,dsp:condizione?))" >
<!ENTITY % modifica "(%posizionitermini;,(dsp:partizione,dsp:altradata*))" >
<!ENTITY % modificadidominio "(%posizionitermini;,(dsp:partizione,dsp:altradata*,dsp:dominio?))" >

<!--- =======================================================================

			Entità lista disposizioni dal modello D-A, senza suddivisioni in classi
			
			======================================================================= -->
<!ENTITY % listaDisposizioni "(dsp:ambito | dsp:destitutiva | dsp:diritto | dsp:divieto |  
															 dsp:dovere | dsp:istitutiva | dsp:obbligo | dsp:organizzativa | 
															 dsp:permesso | dsp:potere | dsp:procedura | dsp:riparazione | dsp:status | 
															 dsp:termine | dsp:violazione | dsp:abrogazione | dsp:conferma | dsp:eccezione | 
															 dsp:estensione | dsp:inserimento | dsp:sostituzione)+">
															 
<!ELEMENT disposizioni %listaDisposizioni; >

<!--- =======================================================================

		modello D-A: aggiunto l'attributo fonteUri all'elemento disposizioni, per indicare che il dizionario usato
								 per la marcatura si riferisce ad un'ontologia, identificata da un URI
								 
			======================================================================= -->
<!ENTITY % fonteUri "dsp:dizionario %uri;" >
<!ATTLIST disposizioni %link;>
<!ATTLIST disposizioni %fonteUri; #IMPLIED>


<!ELEMENT dsp:testo %valore; >
<!ATTLIST dsp:testo %val; >
<!ELEMENT dsp:pos EMPTY >
<!ATTLIST dsp:pos %link; >

<!ELEMENT dsp:espressione %subargomenti; >

<!ATTLIST dsp:espressione da %uri; #IMPLIED a %uri; #IMPLIED >
<!ELEMENT dsp:condizione %subargomenti; >

 <!ENTITY  % dsp_visto_entity "(%posizioni;,(dsp:partizione))" ><!ELEMENT dsp:visto %dsp_visto_entity;>
 <!ENTITY % dsp_sentito_entity "(%posizioni;,(dsp:soggetto))" ><!ELEMENT dsp:sentito %dsp_sentito_entity;>
 <!ENTITY  % dsp_considerato_entity "(%posizioni;,(dsp:fatto))" ><!ELEMENT dsp:considerato %dsp_considerato_entity;>
 <!ENTITY  % dsp_suproposta_entity "(%posizioni;,(dsp:soggetto))" ><!ELEMENT dsp:suproposta %dsp_suproposta_entity;>
 <!ENTITY % dsp_basegiuridica_entity "(%posizioni;,(dsp:soggetto))" ><!ELEMENT dsp:basegiuridica %dsp_basegiuridica_entity;>
 <!ENTITY   % dsp_proposta_entity "(%posizioni;,(dsp:organo))" ><!ELEMENT dsp:proposta %dsp_proposta_entity;>
 <!ENTITY % dsp_parere_entity "(%posizioni;,(dsp:organo))" ><!ELEMENT dsp:parere %dsp_parere_entity;>
 <!ENTITY   % dsp_richiesta_entity "(%posizioni;,(dsp:organo))" ><!ELEMENT dsp:richiesta %dsp_richiesta_entity;>

 <!ENTITY % dsp_considerando_entity "(%posizioni;,(dsp:fatto,dsp:fine))" ><!ELEMENT dsp:considerando %dsp_considerando_entity;>
<!ELEMENT dsp:motivazione  %posizioni; >

<!ENTITY % dsp_ambito_entity "(%posizionitermini;,(dsp:destinatario, dsp:attivita, dsp:oggetto,dsp:partizione))">
<!ELEMENT dsp:ambito %dsp_ambito_entity;>
<!ATTLIST dsp:ambito %tempi; > 

<!ENTITY   % dsp_procedura_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione,dsp:oggetto))" >
<!ELEMENT dsp:procedura %dsp_procedura_entity;>
<!ATTLIST dsp:procedura %tempi;  >

<!ENTITY   % dsp_termine_entity "(%posizionitermini;,(dsp:definiendum,dsp:definiens))" >
<!ELEMENT dsp:termine %dsp_termine_entity;>
<!ATTLIST dsp:termine %tempi;  >

<!ENTITY   % dsp_destitutiva_entity "(%posizionitermini;,(dsp:destinatario))" >
<!ELEMENT dsp:destitutiva %dsp_destitutiva_entity;>
<!ATTLIST dsp:destitutiva %tempi;  >

<!ENTITY   % dsp_istitutiva_entity "(%posizionitermini;,(dsp:destinatario))" >
<!ELEMENT dsp:istitutiva %dsp_istitutiva_entity;>
<!ATTLIST dsp:istitutiva %tempi;  >

<!ENTITY % dsp_organizzativa_entity "(%posizionitermini;,(dsp:destinatario))" >
<!ELEMENT dsp:organizzativa %dsp_organizzativa_entity;>
<!ATTLIST dsp:organizzativa %tempi;  >

<!ENTITY % dsp_diritto_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione,dsp:oggetto))" >
<!ELEMENT dsp:diritto %dsp_diritto_entity;>
<!ATTLIST dsp:diritto %tempi;  >

<!ENTITY % dsp_dovere_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:attivita,dsp:oggetto))" >
<!ELEMENT dsp:dovere %dsp_dovere_entity;>
<!ATTLIST dsp:dovere %tempi;  >

<!ENTITY   % dsp_potere_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:attivita,dsp:oggetto))" >
<!ELEMENT dsp:potere %dsp_potere_entity;>
<!ATTLIST dsp:potere %tempi;  >

<!ENTITY % dsp_divieto_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione,dsp:oggetto))" >
<!ELEMENT dsp:divieto %dsp_divieto_entity;>
<!ATTLIST dsp:divieto %tempi;  >

<!ENTITY % dsp_obbligo_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione,dsp:oggetto))" >
<!ELEMENT dsp:obbligo %dsp_obbligo_entity;>
<!ATTLIST dsp:obbligo %tempi;  >

<!ENTITY   % dsp_permesso_entity "(%posizionitermini;,(dsp:destinatario,dsp:controparte,dsp:azione,dsp:oggetto))" >
<!ELEMENT dsp:permesso %dsp_permesso_entity;>
<!ATTLIST dsp:permesso %tempi;  >

<!ENTITY   % dsp_violazione_entity "(%posizionitermini;,(dsp:destinatario,dsp:azione,dsp:oggetto,dsp:pena))" >
<!ELEMENT dsp:violazione %dsp_violazione_entity;>
<!ATTLIST dsp:violazione %tempi;  >

<!ENTITY % dsp_riparazione_entity "(%posizionitermini;,(dsp:destinatario,dsp:azione,dsp:oggetto,dsp:effetto))" >
<!ELEMENT dsp:riparazione %dsp_riparazione_entity; >
<!ATTLIST dsp:riparazione %tempi;  >

<!ENTITY % dsp_status_entity "(%posizionitermini;,(dsp:destinatario,dsp:oggetto))" >
<!ELEMENT dsp:status %dsp_status_entity;>
<!ATTLIST dsp:status %tempi;  >

<!-- ===================================================================== 
  
   Definizione delle disposizioni di modifica  
  
 ===================================================================== -->

<!ENTITY % dsp_abrogazione_entity "(%posizionitermini;,(dsp:partizione, dsp:novellando))">
<!ELEMENT dsp:abrogazione %dsp_abrogazione_entity;>
<!ATTLIST dsp:abrogazione %tempi;  >

<!ENTITY % dsp_conferma_entity "(%posizionitermini;,(dsp:partizione))">
<!ELEMENT dsp:conferma %dsp_conferma_entity;>
<!ATTLIST dsp:conferma %tempi;  >

<!ENTITY % dsp_eccezione_entity "(%posizionitermini;,(dsp:partizione))">
<!ELEMENT dsp:eccezione %dsp_eccezione_entity;>
<!ATTLIST dsp:eccezione %tempi;  >

<!ENTITY % dsp_estensione_entity "(%posizionitermini;,(dsp:partizione))">
<!ELEMENT dsp:estensione %dsp_estensione_entity;>
<!ATTLIST dsp:estensione %tempi;  >

<!ENTITY % dsp_inserimento_entity "(%posizionitermini;,(dsp:partizione, dsp:novella))">
<!ELEMENT dsp:inserimento %dsp_inserimento_entity;>
<!ATTLIST dsp:inserimento %tempi;  >

<!ENTITY % dsp_sostituzione_entity "(%posizionitermini;,(dsp:partizione, dsp:novella, dsp:novellando))">
<!ELEMENT dsp:sostituzione %dsp_sostituzione_entity;>
<!ATTLIST dsp:sostituzione %tempi;  >

<!ENTITY % suType "(efficacia|vigore)" >
<!ENTITY % EsuType "((efficacia|vigore))" >


<!ATTLIST dsp:partizione %link; %nomefac; tiporegola %tiporegola; #IMPLIED >

<!-- =====================================================================  
   modello D-A: Argomenti usati dal modello
 ===================================================================== -->

<!ELEMENT dsp:destinatario %subargomenti; >
<!ELEMENT dsp:attivita   %subargomenti; >
<!ELEMENT dsp:partizione %subargomenti; >
<!ELEMENT dsp:oggetto %subargomenti; >
<!ELEMENT dsp:controparte %subargomenti; >
<!ELEMENT dsp:azione %subargomenti; >
<!ELEMENT dsp:effetto   %subargomenti; >
<!ELEMENT dsp:definiendum %subargomenti; >
<!ELEMENT dsp:definiens  %subargomenti; >
<!ELEMENT dsp:pena %subargomenti; >

<!ELEMENT dsp:qualifica  %subargomenti; >
<!ELEMENT dsp:delegante  %subargomenti; >
<!ELEMENT dsp:novella   %subargomenti; >
<!ELEMENT dsp:novellando  %subargomenti; >
<!ELEMENT dsp:dominio   %subargomenti; >
<!ELEMENT dsp:altradata  %subargomenti; >
<!ATTLIST dsp:altradata rif %uri; #REQUIRED %nome; ><!ELEMENT dsp:argomento  %subargomenti; >

<!ATTLIST dsp:argomento %nome; >

<!-- ===================================================================== 
   fine del file meta.dtd   
 ===================================================================== -->
