xmLegesEditorImpl/trunk/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-1.1/namespaces.dtd

<!ENTITY % disposizioni "xmlns:dsp  CDATA   #FIXED 'http://www.normeinrete.it/nir/disposizioni/1.0'">
<!ENTITY % html         "xmlns:h    CDATA   #FIXED 'http://www.w3.org/HTML/1998/html4'" >

<!ATTLIST   dsp:testo               %disposizioni; >
<!ATTLIST   dsp:pos                 %disposizioni; >
<!ATTLIST   dsp:necessitaeurgenza   %disposizioni; >
<!ATTLIST   dsp:parere              %disposizioni; >
<!ATTLIST   dsp:proposta            %disposizioni; >
<!ATTLIST   dsp:considerata         %disposizioni; >
<!ATTLIST   dsp:visto               %disposizioni; >
<!ATTLIST   dsp:copertura           %disposizioni; >
<!ATTLIST   dsp:fonte               %disposizioni; >
<!ATTLIST   dsp:attuazioneUE        %disposizioni; >
<!ATTLIST   dsp:finalita            %disposizioni; >
<!ATTLIST   dsp:ambito              %disposizioni; >
<!ATTLIST   dsp:finanziaria         %disposizioni; >
<!ATTLIST   dsp:definitoria         %disposizioni; >
<!ATTLIST   dsp:istitutiva          %disposizioni; >
<!ATTLIST   dsp:acquisitiva         %disposizioni; >
<!ATTLIST   dsp:organizzativa       %disposizioni; >
<!ATTLIST   dsp:competenza          %disposizioni; >
<!ATTLIST   dsp:potere              %disposizioni; >
<!ATTLIST   dsp:delega              %disposizioni; >
<!ATTLIST   dsp:dovere              %disposizioni; >
<!ATTLIST   dsp:diritto             %disposizioni; >
<!ATTLIST   dsp:obbligo             %disposizioni; >
<!ATTLIST   dsp:divieto             %disposizioni; >
<!ATTLIST   dsp:pretesa             %disposizioni; >
<!ATTLIST   dsp:permesso            %disposizioni; >
<!ATTLIST   dsp:procedura           %disposizioni; >
<!ATTLIST   dsp:sanzione            %disposizioni; >
<!ATTLIST   dsp:riparazione         %disposizioni; >
<!ATTLIST   dsp:abrogazione         %disposizioni; >
<!ATTLIST   dsp:sostituzione        %disposizioni; >
<!ATTLIST   dsp:integrazione        %disposizioni; >
<!ATTLIST   dsp:interpretazione     %disposizioni; >
<!ATTLIST   dsp:vigenza             %disposizioni; >
<!ATTLIST   dsp:proroga             %disposizioni; >
<!ATTLIST   dsp:reviviscenza        %disposizioni; >
<!ATTLIST   dsp:sospensione         %disposizioni; >
<!ATTLIST   dsp:transitorieta       %disposizioni; >
<!ATTLIST   dsp:retroattivita       %disposizioni; >
<!ATTLIST   dsp:ultrattivita        %disposizioni; >
<!ATTLIST   dsp:deroga              %disposizioni; >
<!ATTLIST   dsp:estensione          %disposizioni; >
<!ATTLIST   dsp:eccezione           %disposizioni; >
<!ATTLIST   dsp:territorio          %disposizioni; >
<!ATTLIST   dsp:soggetto            %disposizioni; >
<!ATTLIST   dsp:oggetto             %disposizioni; >
<!ATTLIST   dsp:azione              %disposizioni; >
<!ATTLIST   dsp:controparte         %disposizioni; >
<!ATTLIST   dsp:definiendum         %disposizioni; >
<!ATTLIST   dsp:tempo               %disposizioni; >
<!ATTLIST   dsp:norma               %disposizioni; >

<!ATTLIST   h:br                    %html; >
<!ATTLIST   h:hr                    %html; >
<!ATTLIST   h:img                   %html; >
<!ATTLIST   h:input                 %html; >
<!ATTLIST   h:b                     %html; >
<!ATTLIST   h:i                     %html; >
<!ATTLIST   h:u                     %html; >
<!ATTLIST   h:sub                   %html; >
<!ATTLIST   h:sup                   %html; >
<!ATTLIST   h:span                  %html; >
<!ATTLIST   h:a                     %html; >
<!ATTLIST   h:p                     %html; >
<!ATTLIST   h:div                   %html; >
<!ATTLIST   h:form                  %html; >
<!ATTLIST   h:ul                    %html; >
<!ATTLIST   h:ol                    %html; >
<!ATTLIST   h:li                    %html; >
<!ATTLIST   h:dl                    %html; >
<!ATTLIST   h:dt                    %html; >
<!ATTLIST   h:dd                    %html; >
<!ATTLIST   h:table                 %html; >
<!ATTLIST   h:caption               %html; >
<!ATTLIST   h:thead                 %html; >
<!ATTLIST   h:tfoot                 %html; >
<!ATTLIST   h:tbody                 %html; >
<!ATTLIST   h:colgroup              %html; >
<!ATTLIST   h:col                   %html; >
<!ATTLIST   h:tr                    %html; >
<!ATTLIST   h:th                    %html; >
<!ATTLIST   h:td                    %html; >
