xmLegesEditorImpl/tags/latestJava1_4/src/it/cnr/ittig/xmleges/editor/blocks/editor/dtd-2.0/meta.dtd

<!-- ===================================================================== -->
<!--   Modello dei documenti di NormeInRete (NIR)                          -->
<!--                                                                       -->
<!--   meta: metainformazioni sui documenti di NIR                         -->
<!--   Dipende da: 'nirstrict' oppure 'nirloose'                           -->
<!--                                                                       -->
<!--   Release  01/06/2005                                                 -->
<!--   Fabio Vitali - UniBo                                                -->
<!--                                                                       -->
<!--   Per un'introduzione, si veda il documento 'meta.html'               -->
<!-- ===================================================================== -->
<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Elementi base: meta e metainline                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ELEMENT meta (descrittori, inquadramento?, ciclodivita?, lavoripreparatori?, redazionale*, proprietario*, disposizioni*)>
<!ELEMENT inlinemeta (redazionale?, proprietario*, disposizioni?)>
<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Descrittori                                                       -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ELEMENT descrittori (pubblicazione, altrepubblicazioni?, entratainvigore?, redazione+, urn+, alias*, materie?)>

<!ENTITY % tipopubbl "
    tipo   %tipopubblicazione;    'GU' 
    num    %numeropubblicazione;  #IMPLIED
    %data;    ">

<!ELEMENT altrepubblicazioni (ripubblicazione | errata | rettifica)+>
<!ELEMENT pubblicazione      EMPTY>
<!ELEMENT ripubblicazione    EMPTY>
<!ELEMENT errata             EMPTY>
<!ELEMENT rettifica          EMPTY>

<!ATTLIST pubblicazione      %tipopubbl; >
<!ATTLIST ripubblicazione    %tipopubbl; >
<!ATTLIST errata             %tipopubbl; >
<!ATTLIST rettifica          %tipopubbl; >

<!ELEMENT entratainvigore EMPTY>
<!ATTLIST entratainvigore %data; >
<!ELEMENT redazione EMPTY>
<!ATTLIST redazione
	%idreq;
	%data; 
	nome %NIRnome; #REQUIRED
	url %uri; #IMPLIED
	contributo %tipocontributo; #IMPLIED
>
<!ELEMENT urn %e-uri;>
<!ELEMENT alias %e-anystring;>

<!ELEMENT materie (materia+)>
<!ATTLIST materie
	vocabolario %anystring; #REQUIRED
>
<!ELEMENT materia EMPTY>
<!ATTLIST materia
	val %anystring; #REQUIRED
>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Inquadramento                                                     -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ELEMENT inquadramento (infodoc, infomancanti?, oggetto?, proponenti?)>
<!ELEMENT infodoc EMPTY>
<!ATTLIST infodoc
	natura %anystring; #REQUIRED
	normativa %sino; #REQUIRED
	funzione %funzione; #REQUIRED
	fonte %ranghi; #REQUIRED
>
<!ELEMENT infomancanti (mTitolodoc?, mTipodoc?, mDatadoc?, mNumdoc?, mEmanante?)>
<!ELEMENT mTitolodoc %e-anystring;>
<!ELEMENT mTipodoc %e-anystring;>
<!ELEMENT mDatadoc %e-anystring;>
<!ELEMENT mNumdoc %e-anystring;>
<!ELEMENT mEmanante %e-anystring;>
<!ELEMENT oggetto (finalita | destinatario | territorio | attivita)*>
<!ELEMENT finalita %e-anystring;>
<!ELEMENT destinatario %e-anystring;>
<!ELEMENT territorio %e-anystring;>
<!ELEMENT attivita %e-anystring;>
<!ELEMENT proponenti (proponente+)>
<!ELEMENT proponente %e-anystring;>
<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Ciclodivita                                                       -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ELEMENT ciclodivita (eventi?, relazioni)>
<!ELEMENT eventi (evento+)>
<!ELEMENT evento EMPTY>
<!ATTLIST evento
	%idreq; 
	data %NIRdate; #REQUIRED
	fonte %idref; #REQUIRED
	tipo %tipoeventi; #IMPLIED
>
<!ELEMENT relazioni (originale?, attiva*, passiva*, giurisprudenza*, haallegato*, allegatodi*)>

<!ELEMENT originale      EMPTY>
<!ELEMENT attiva         EMPTY>
<!ELEMENT passiva        EMPTY>
<!ELEMENT haallegato     EMPTY>
<!ELEMENT allegatodi     EMPTY>
<!ELEMENT giurisprudenza EMPTY>


<!ATTLIST originale      %link; %idreq; >
<!ATTLIST attiva         %link; %idreq; >
<!ATTLIST passiva        %link; %idreq; >
<!ATTLIST haallegato     %link; %idreq; >
<!ATTLIST allegatodi     %link; %idreq; >
<!ATTLIST giurisprudenza
	%link; %idreq;
	effetto (normativo | interpretativo) #IMPLIED
>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Lavori preparatori, redazionale, proprietario                     -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ELEMENT lavoripreparatori %blocchi;>
<!ELEMENT redazionale (nota | avvertenza | altro | %Rproprietario;)+>
<!ATTLIST redazionale %link; >

<!ELEMENT nota              %blocchi;>
<!ELEMENT avvertenza        %blocchi;>
<!ELEMENT altro             %blocchi;>

<!ATTLIST nota          %idreq; %css; %nome; >
<!ATTLIST avvertenza    %idreq; %css; %nome; >
<!ATTLIST altro         %idreq; %css; %nome; >

<!ELEMENT proprietario %ProprietarioMeta;>
<!ATTLIST proprietario
	%NSproprietario; 
	soggetto %NIRnome; #IMPLIED
	%link;
>
<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Disposizioni                                                      -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ENTITY % posizioni "(dsp:testo|dsp:pos)+">
<!ENTITY % posizionitermini "(%posizioni;, (dsp:termine?, dsp:condizione?))">

<!ELEMENT disposizioni (motivazioni?, regole?, modificheattive?, modifichepassive?, comunicazioni?)>
<!ATTLIST disposizioni %NSnirdsp; %link;>

<!ELEMENT dsp:testo %e-anystring;>
<!ELEMENT dsp:pos EMPTY>
<!ATTLIST dsp:pos
	%link; 
>
<!ELEMENT dsp:termine EMPTY>
<!ATTLIST dsp:termine
	da %idref; #IMPLIED
	a %idref; #IMPLIED
>
<!ELEMENT dsp:condizione %e-anystring;>
<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione delle disposizioni di motivazione                     -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ENTITY % motivazioni "(dsp:visto      | dsp:sentito       | dsp:considerato | 
                         dsp:suproposta | dsp:basegiuridica | dsp:proposta    | 
                         dsp:parere     | dsp:richiesta     | dsp:procedura   | 
                         dsp:considerando)+">
<!ELEMENT motivazioni       (%motivazioni;)>

<!ELEMENT dsp:visto         (%posizioni;, dsp:norma)>
<!ELEMENT dsp:sentito       (%posizioni;, dsp:soggetto)>
<!ELEMENT dsp:considerato   (%posizioni;, dsp:fatto)>
<!ELEMENT dsp:suproposta    (%posizioni;, dsp:soggetto)>
<!ELEMENT dsp:basegiuridica (%posizioni;, dsp:soggetto)>
<!ELEMENT dsp:proposta      (%posizioni;, dsp:organo)>
<!ELEMENT dsp:parere        (%posizioni;, dsp:organo)>
<!ELEMENT dsp:richiesta     (%posizioni;, dsp:organo)>
<!ELEMENT dsp:procedura     (%posizioni;, dsp:norma)>
<!ELEMENT dsp:considerando  (%posizioni;, dsp:fatto, dsp:fine)>

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione delle disposizioni di regola                          -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ENTITY % atto        "dsp:finalita      | dsp:finanziaria | dsp:ambito">
<!ENTITY % costitutive "dsp:metaregola    | dsp:definitoria | dsp:istitutiva  |
                        dsp:organizzativa | dsp:status      | dsp:competenza  | 
                        dsp:delega        | dsp:revoca  ">
<!ENTITY % regolative  "dsp:diritto       | dsp:dovere      | dsp:pretesa     | 
                        dsp:obbligo       | dsp:divieto     | dsp:permesso    | 
                        dsp:procedimento  | dsp:sanzione    | dsp:riparazione | 
                        dsp:informazione">
<!ENTITY % regole "(%atto; | %costitutive; | %regolative;)+">
<!ELEMENT regole (%regole;)>

<!ELEMENT dsp:finalita      (%posizionitermini;)>
<!ELEMENT dsp:finanziaria   (%posizionitermini;, (dsp:norma))>
<!ELEMENT dsp:ambito        (%posizionitermini;, (dsp:destinatario, dsp:territorio, dsp:attivita))>
<!ELEMENT dsp:metaregola    (%posizionitermini;, (dsp:tiporegola))>
<!ELEMENT dsp:definitoria   (%posizionitermini;, (dsp:definiendum, dsp:definiens))>
<!ELEMENT dsp:istitutiva    (%posizionitermini;, (dsp:destinatario))>
<!ELEMENT dsp:organizzativa (%posizionitermini;, (dsp:destinatario))>
<!ELEMENT dsp:status        (%posizionitermini;, (dsp:destinatario, dsp:qualifica))>
<!ELEMENT dsp:competenza    (%posizionitermini;, (dsp:destinatario, dsp:attivita))>
<!ELEMENT dsp:delega        (%posizionitermini;, (dsp:destinatario, dsp:delegante, dsp:attivita))>
<!ELEMENT dsp:revoca        (%posizionitermini;, (dsp:destinatario, dsp:delegante, dsp:attivita))>
<!ELEMENT dsp:diritto       (%posizionitermini;, (dsp:destinatario, dsp:controparte, dsp:attivita))>
<!ELEMENT dsp:dovere        (%posizionitermini;, (dsp:destinatario, dsp:controparte, dsp:attivita))>
<!ELEMENT dsp:pretesa       (%posizionitermini;, (dsp:destinatario, dsp:controparte, dsp:azione))>
<!ELEMENT dsp:obbligo       (%posizionitermini;, (dsp:destinatario, dsp:controparte, dsp:azione))>
<!ELEMENT dsp:divieto       (%posizionitermini;, (dsp:destinatario, dsp:controparte, dsp:azione))>
<!ELEMENT dsp:permesso      (%posizionitermini;, (dsp:destinatario, dsp:controparte, dsp:azione))>
<!ELEMENT dsp:procedimento  (%posizionitermini;, (dsp:destinatario, dsp:azione))>
<!ELEMENT dsp:sanzione      (%posizionitermini;, (dsp:destinatario, dsp:pena, dsp:azione))>
<!ELEMENT dsp:riparazione   (%posizionitermini;, (dsp:destinatario, dsp:effetto, dsp:azione))>
<!ELEMENT dsp:informazione  (%posizionitermini;)>

<!ATTLIST dsp:finalita      %tempi;  %implicita; >
<!ATTLIST dsp:finanziaria   %tempi;  %implicita; >
<!ATTLIST dsp:ambito        %tempi;  %implicita; >
<!ATTLIST dsp:metaregola    %tempi;  %implicita; >
<!ATTLIST dsp:definitoria   %tempi;  %implicita; >
<!ATTLIST dsp:istitutiva    %tempi;  %implicita; >
<!ATTLIST dsp:organizzativa %tempi;  %implicita; >
<!ATTLIST dsp:status        %tempi;  %implicita; >
<!ATTLIST dsp:competenza    %tempi;  %implicita; >
<!ATTLIST dsp:delega        %tempi;  %implicita; >
<!ATTLIST dsp:revoca        %tempi;  %implicita; >
<!ATTLIST dsp:diritto       %tempi;  %implicita; >
<!ATTLIST dsp:dovere        %tempi;  %implicita; >
<!ATTLIST dsp:pretesa       %tempi;  %implicita; >
<!ATTLIST dsp:obbligo       %tempi;  %implicita; >
<!ATTLIST dsp:divieto       %tempi;  %implicita; >
<!ATTLIST dsp:permesso      %tempi;  %implicita; >
<!ATTLIST dsp:procedimento  %tempi;  %implicita; >
<!ATTLIST dsp:sanzione      %tempi;  %implicita; >
<!ATTLIST dsp:riparazione   %tempi;  %implicita; >
<!ATTLIST dsp:informazione  %tempi;  %implicita; >

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione delle disposizioni di modifica                        -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ENTITY % contenuto   "dsp:abrogazione    | dsp:sostituzione | dsp:integrazione | 
                        dsp:ricollocazione | dsp:intautentica | dsp:variazione   | 
                        dsp:modtermini">
<!ENTITY % tempo       "dsp:vigenza        | dsp:annullamento | dsp:proroga      | 
                        dsp:reviviscenza   | dsp:posticipo    | dsp:sospensione  | 
                        dsp:retroattivita  | dsp:ultrattivita | dsp:inapplicazione ">
<!ENTITY % portata     "dsp:deroga         | dsp:estensione">
<!ENTITY % ordinamento "dsp:recepisce      | dsp:attua        | dsp:ratifica     | 
                        dsp:attuadelega    | dsp:attuadelegifica | dsp:converte  | 
                        dsp:reitera">
<!ENTITY % modifiche   "(%contenuto; | %tempo; | %portata; | %ordinamento;)+">             
              
<!ELEMENT modificheattive  (%modifiche;)>
<!ELEMENT modifichepassive (%modifiche;)>

<!ENTITY % modifica "%posizionitermini;, (dsp:norma)">
<!ENTITY % modificadidominio "%posizionitermini;, (dsp:norma, dsp:dominio?)">

<!ELEMENT dsp:abrogazione     (%modifica;, (dsp:novellando?))>
<!ELEMENT dsp:sostituzione    (%modifica;, (dsp:novella?, dsp:novellando?))>
<!ELEMENT dsp:integrazione    (%modifica;, (dsp:novella?, dsp:novellando?))>
<!ELEMENT dsp:ricollocazione  (%modifica;, (dsp:partizione?))>
<!ELEMENT dsp:intautentica    (%modificadidominio;)>
<!ELEMENT dsp:variazione      (%modificadidominio;)>
<!ELEMENT dsp:modtermini      (%modificadidominio;)>
<!ELEMENT dsp:vigenza         (%modifica;)>
<!ELEMENT dsp:annullamento    (%modifica;)>
<!ELEMENT dsp:proroga         (%modifica;)>
<!ELEMENT dsp:reviviscenza    (%modifica;)>
<!ELEMENT dsp:posticipo       (%modifica;)>
<!ELEMENT dsp:sospensione     (%modifica;)>
<!ELEMENT dsp:retroattivita   (%modifica;)>
<!ELEMENT dsp:ultrattivita    (%modifica;)>
<!ELEMENT dsp:inapplicazione  (%modifica;)>
<!ELEMENT dsp:deroga          (%modificadidominio;)>
<!ELEMENT dsp:estensione      (%modificadidominio;)>
<!ELEMENT dsp:recepisce       (%modifica;)>
<!ELEMENT dsp:attua           (%modifica;)>
<!ELEMENT dsp:ratifica        (%modifica;)>
<!ELEMENT dsp:attuadelega     (%modifica;)>
<!ELEMENT dsp:attuadelegifica (%modifica;)>
<!ELEMENT dsp:converte        (%modifica;)>
<!ELEMENT dsp:reitera         (%modifica;)>

<!ATTLIST dsp:proroga
	%tempi; 
	su (efficacia | vigore) #REQUIRED
>

<!ATTLIST dsp:abrogazione       %tempi;  %implicita; >
<!ATTLIST dsp:sostituzione      %tempi;  %implicita; >
<!ATTLIST dsp:integrazione      %tempi;  %implicita; >
<!ATTLIST dsp:ricollocazione    %tempi;  %implicita; >
<!ATTLIST dsp:intautentica      %tempi;  %implicita; >
<!ATTLIST dsp:variazione        %tempi;  %implicita; >
<!ATTLIST dsp:modtermini        %tempi;  %implicita; >
<!ATTLIST dsp:vigenza           %tempi;  %implicita; >
<!ATTLIST dsp:annullamento      %tempi;  %implicita; >
<!ATTLIST dsp:reviviscenza      %tempi;  %implicita; >
<!ATTLIST dsp:posticipo         %tempi;  %implicita; >
<!ATTLIST dsp:sospensione       %tempi;  %implicita; >
<!ATTLIST dsp:retroattivita     %tempi;  %implicita; >
<!ATTLIST dsp:ultrattivita      %tempi;  %implicita; >
<!ATTLIST dsp:inapplicazione    %tempi;  %implicita; >
<!ATTLIST dsp:deroga            %tempi;  %implicita; >
<!ATTLIST dsp:estensione        %tempi;  %implicita; >
<!ATTLIST dsp:recepisce         %tempi;  %implicita; >
<!ATTLIST dsp:attua             %tempi;  %implicita; >
<!ATTLIST dsp:ratifica          %tempi;  %implicita; >
<!ATTLIST dsp:attuadelega       %tempi;  %implicita; >
<!ATTLIST dsp:attuadelegifica   %tempi;  %implicita; >
<!ATTLIST dsp:converte          %tempi;  %implicita; >
<!ATTLIST dsp:reitera           %tempi;  %implicita; >

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione delle disposizioni di comunicazione                   -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ENTITY % comunicazioni "(dsp:abrogazione  | dsp:sostituzione | 
                           dsp:integrazione | dsp:vigenza      | 
                           dsp:decadimento  )+">
<!ELEMENT comunicazioni   (%comunicazioni;)>
<!ELEMENT dsp:decadimento (%posizionitermini;)>
<!ATTLIST dsp:decadimento %tempi; >

<!-- ===================================================================== -->
<!--                                                                       -->
<!--     Definizione degli argomenti delle disposizioni                    -->
<!--                                                                       -->
<!-- ===================================================================== -->
<!ENTITY % subargomenti "ANY">
<!ELEMENT dsp:norma %subargomenti;>
<!ATTLIST dsp:norma
	%link; 
	nome %NIRnome; #IMPLIED
	tiporegola %tiporegola; #IMPLIED
>
<!ELEMENT dsp:soggetto %subargomenti;>
<!ELEMENT dsp:effetto %subargomenti;>
<!ELEMENT dsp:partizione %subargomenti;>
<!ELEMENT dsp:tiporegola %subargomenti;>
<!ELEMENT dsp:fatto %subargomenti;>
<!ELEMENT dsp:organo %subargomenti;>
<!ELEMENT dsp:fine %subargomenti;>
<!ELEMENT dsp:destinatario %subargomenti;>
<!ELEMENT dsp:territorio %subargomenti;>
<!ELEMENT dsp:attivita %subargomenti;>
<!ELEMENT dsp:definiendum %subargomenti;>
<!ELEMENT dsp:definiens %subargomenti;>
<!ELEMENT dsp:qualifica %subargomenti;>
<!ELEMENT dsp:delegante %subargomenti;>
<!ELEMENT dsp:controparte %subargomenti;>
<!ELEMENT dsp:azione %subargomenti;>
<!ELEMENT dsp:pena %subargomenti;>
<!ELEMENT dsp:novella %subargomenti;>
<!ELEMENT dsp:novellando %subargomenti;>
<!ELEMENT dsp:dominio %subargomenti;>

<!-- ===================================================================== -->
<!--     fine del file meta                                                -->
<!-- ===================================================================== -->
